<script>
  window.WebvisualMixins = window.WebvisualMixins || {};
  /**
   * Mixin adds retry strategies for offline and login changes for reloading data
   *
   * @mixinFunction
   * @polymer
   */
  WebvisualMixins.AccessibilityMixin = function(superClass) {

    return class extends superClass {

      constructor() {
        super();
      }

      static get properties() {
        return {
          loggedIn: {
            type: Boolean
          },

          offline: {
            type: Boolean
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this._load = this._load.bind(this);
        window.addEventListener('online', this._load);
        window.addEventListener('offline', this._load);
        window.addEventListener('logged-in', this._load);
        this._load();
      }

      disconnectedCallback() {
        super.connectedCallback();
        window.removeEventListener('online', this._load);
        window.removeEventListener('offline', this._load);
        window.removeEventListener('logged-in', this._load);
      }

      _load() {
        this.offline = !window.navigator.onLine;
        this.loggedIn = window._loggedIn;
      }
    }
  }
</script>
