<script>
  window.WebvisualMixins = window.WebvisualMixins || {};

  WebvisualMixins.ScaleMixin = function(superClass) {
    /**
     * Mixin that adds a scale function using d3 to an element
     *
     * @mixinClass
     * @polymer
     */
    return class extends WebvisualMixins.LocalizeMixin(superClass) {

      constructor() {
        super();
      }

      static get properties() {
        return {
          /**
           * scaling time fo each coordinate
           */
          scalingX: {
            type: String,
            value: 'time'
          },

          scalingY: {
            type: String,
            value: 'linear'
          },
          /**

           * scale base for each coordinate (only available for 'pow' or 'log')
           * e.g. :  Math.E
           */
          scaleBaseX: {
            type: Number
          },

          scaleBaseY: {
            type: Number
          },

          /**
           * the computed objects of scale functions for each key
           */
          scaleX: {
            type: Function
          },

          scaleY: {
            type: Function
          },

          /**
           * domain to scale for each coordinate
           * e.g. : [1000000, 5000000]
           */
          domainX: {
            type: Array,
            value: function() {
              return [ 1, 10]
            }
          },

          domainY: {
            type: Array,
            value: function() {
              return [ 1, 10]
            }
          },

          /**
           * pixel-whise range for coordinate
           * e.g. :
           *  x: [0, width=500],
           *  y: [height=300, 0]
           */
          rangeX: {
            type: Array
          },

          rangeY: {
            type: Array
          },

          formatX: {
            type: Function
          },

          formatY: {
            type: Function
          },
          /**
           * folder for date/time-format file
           */
          languageResourcePrefix: {
            type: String,
            value: '/locales/dtf/'
          }
        }
      }

      static get observers() {
        return [
          '_rescale("scaleX", domainX, rangeX)',
          '_rescale("scaleY", domainY, rangeY)',
          '_setDateNumberFormat(localize)',
          '_computeScaleFn("scaleX", scalingX, scaleBaseX)',
          '_computeScaleFn("scaleY", scalingY, scaleBaseY)'
        ]
      }


      _rescale(key, domain, range) {
        if (key === undefined || domain === undefined || range === undefined) return;
        if (key === 'x') {
          this.scaleX.domain(domain).range(range);
        } else if (key === 'y') {
          this.scaleY.domain(domain).range(range);
        }
        this[key].domain(domain).range(range);
        this.notifyPath(key);
      }

      _computeScaleFn(key, scale, base) {
        if (!key || scale === undefined) return;
        var fn = (scale === 'time' ? d3.scaleTime() :
            scale === 'ln' ? d3.scaleLog().base(Math.E) :
            scale === 'log' ? d3.scaleLog().base(base || 1) :
            scale === 'log₂' ? d3.scaleLog().base(2) :
            scale === 'log₁₀' ? d3.scaleLog().base(10) :
            scale === '√' ? d3.scalePow().exponent(0.5) :
            scale === 'pow' ? d3.scalePow().exponent(base || 1) :
            d3.scaleLinear());
        this.set(key, fn)
      }

      _computeFormatFn(scale, base) {
        if (scale === 'time') {
          return this.formatTime.bind(this);
        } else {
          return this.formatNumber.bind(this, scale, base);
        }
      }

      formatTime(date) {
        var timeformatter = this._timeformatter;
        return (d3.timeSecond(date) < date ? timeformatter.Millisecond :
          d3.timeMinute(date) < date ? timeformatter.Second :
          d3.timeHour(date) < date ? timeformatter.Minute :
          d3.timeDay(date) < date ? timeformatter.Hour :
          d3.timeWeek(date) < date ? timeformatter.Day :
          d3.timeMonth(date) < date ? timeformatter.Week :
          d3.timeYear(date) < date ? timeformatter.Month :
          timeformatter.Year)(date);
      }
      /**
       * format date according to a time-range and pixel-range
       **/
      formatTimeRange(date, range, pixels) {
        var timeformatter = this._timeformatter;
        var rangeRatio = (range[1] - range[0]).valueOf() / pixels;
        return (rangeRatio < 100 ? timeformatter.Millisecond :
          rangeRatio < 5E2 ? timeformatter.SecondLong :
          rangeRatio < 5E3 ? timeformatter.Second :
          rangeRatio < 2E4 ? timeformatter.MinuteLong :
          rangeRatio < 6E4 ? timeformatter.Minute :
          rangeRatio < 36E5 ? timeformatter.Hour :
          rangeRatio < 864E5 ? timeformatter.Day :
          rangeRatio < 6048E5 ? timeformatter.Week :
          rangeRatio < 24192E5 ? timeformatter.Month :
          timeformatter.Year)(date);
      }
      /**
       * format absolute time (like differences)
       * e.g. 3600001 => 1h 1ms
       **/
      formatTimeAbsolute(date) {
        // one year = 365.25 days = 315576E5ms (Julian Calendar)
        var ry = date % 315576E5,
          y = (date - ry) / 315576E5,
          rd = ry % 864E5,
          d = (ry - rd) / 864E5,
          rh = rd % 36E5,
          h = (rd - rh) / 36E5,
          rm = rh % 6E4,
          m = (rh - rm) / 6E4,
          rs = rm % 1E3,
          s = (rm - rs) / 1E3,
          ret = '';
        if (y)
          ret += y + 'y ';
        if (d)
          ret += d + 'd ';
        if (h)
          ret += h + 'h ';
        if (m)
          ret += m + 'm ';
        if (s)
          ret += s + 's ';
        if (rs)
          ret += rs + 'ms';
        return ret;
      }

      formatNumber(scale, num) {
        // format with thousands separators
        return d3.format(',')(num);
      }

      _setDateNumberFormat() {
        var dateLocale = this.localize('date'),
          numberLocale = this.localize('number'),
          decimal = '.';
        if (dateLocale) d3.timeFormatDefaultLocale(dateLocale);
        if (numberLocale) {
          d3.formatDefaultLocale(numberLocale);
          if (numberLocale.decimal) {
            decimal = numberLocale.decimal;
          }
        }
        this._timeformatter = {
          Millisecond: d3.timeFormat(':%S' + decimal + '%L'),
          Second: d3.timeFormat(':%M:%S'),
          SecondLong: d3.timeFormat(':%M:%S' + decimal + '%L'),
          Minute: d3.timeFormat('%H:%M'),
          MinuteLong: d3.timeFormat('%H:%M:%S'),
          Hour: d3.timeFormat('%X'),
          Day: d3.timeFormat('%d.%m'),
          Week: d3.timeFormat('%d.%m'),
          Month: d3.timeFormat('%d. %b'),
          Year: d3.timeFormat('%Y')
        }
      }

      static get _VALID_SCALES() {
        return ['time', 'ln', 'log', 'log₂', 'log₁₀', '√', 'pow'];
      }

      _SCALE_USES_BASE(scale) {
        return scale === 'log' || scale === 'pow';
      }

      _IS_LOG_SCALE(scale) {
        return ['ln', 'log', 'log₂', 'log₁₀'].indexOf(scale) > -1;
      }
    }
  }
</script>
