<!-- Dependent to be content of device-chart -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="mixins/axes-mixin.html" />
<link rel="import" href="mixins/device-mixin.html" />
<link rel="import" href="mixins/color-mixin.html" />

<dom-module id="device-graph">
  <template>
    <style></style>
  </template>
  <script>
    class DeviceGraph extends WebvisualMixins.AxesMixin(WebvisualMixins.ColorMixin(WebvisualMixins.DeviceMixin(Polymer.Element))) {

      static get is() {
        return 'device-graph';
      }

      static get properties() {
        return {

          hasLine: {
            type: Boolean,
            value: true
          },

          hasArea: {
            type: Boolean,
            value: false
          },

          interpolation: {
            type: String,
            value: 'Lineare Verbindung',
            observer: '_interpolationChanged'
          },

          lineWidth: {
            type: Number,
            value: 1,
            observer: '_lineWidthChanged'
          },

          dotRadius: {
            type: Number,
            value: 3
          },

          viewLength: {
            type: Number,
            value: 20000
          },

          storeInside: {
            type: Boolean,
            value: true,
            readOnly: true
          },

          multiAxes: {
            type: Object
          },

          /**
           * folder for date/time-format file
           */
          languageResourcePrefix: {
            type: String,
            value: undefined,
            readOnly: true
          }
        }
      }

      constructor() {
        super();

        this._isAttached = false;
        this._chart = null;

        this._areaGenerator = d3.area()
          .defined(this._defined.bind(this))
          .x(d => {
            return this.scaleX(d.x);
          })
          .y0(d => {
            if (this.keys && this.keys.y && this._IS_LOG_SCALE(this.keys.y.scale)) {
              return this._chart._height;
            } else {
              return this.scaleY(0)
            }
          })
          .y1(d => {
            return this.scaleY(d.y);
          });

        this._lineGenerator = d3.line()
          .defined(this._defined.bind(this))
          .x(d => {
            return this.scaleX(d.x);
          })
          .y(d => {
            return this.scaleY(d.y);
          });

        this.bisectDate = d3.bisector((d, x) => {
          return d.x - x;
        });
      }

      static get observers() {
        return [
          '_itemChanged(item)',
          '_lineChanged(hasLine, "line")',
          '_areaChanged(hasArea, "area")',
          '_thresholdChanged(item.threshold, "boundery")'
        ]
      }

      get _containerRoot() {
        var root = Polymer.dom(this).getOwnerRoot();
        if (!root)
          return Polymer.dom(this).parentNode;
        else if (root.host || root.nodeType === Node.DOCUMENT_FRAGMENT_NODE)
          return root.host;
        else
          return;
      }

      connectedCallback() {
        super.connectedCallback();
        if (this.item) {
          this.addNodes();
        }
      }

      disconnectedCallback() {
        this._isAttached = false;
        super.disconnectedCallback();
        this.removeNodes();
      }

      addNodes() {
        // console.log('addNotes', this.item.mount);
        if (this._isAttached) {
          this.clearValues(true);
        }
        var containerRoot = this._containerRoot;
        if (!containerRoot || containerRoot.nodeName !== 'DEVICE-CHART') {
          console.warn('No parentElement (chart) for graph found. Registration of Graph Element failed', containerRoot);
          return;
        } else if (!containerRoot._isAttached) {
          console.warn('Chart has not been attached yet for adding a graph. Registration of Graph Element failed');
          return;
        }
        this._chart = containerRoot;
        this._axisInsertionPoint = containerRoot._axisInsertionPoint;

        if (!this._chart.multiAxes.x) {
          this.set('domainX', this._chart.domainX);
        }
        if (!this._chart.multiAxes.y) {
          this.set('domainY', this._chart.domainY);
        }
        this.set('rangeX', this._chart.rangeX)
        this.set('rangeY', this._chart.rangeY)

        this._areaChanged(this.hasArea);
        this._lineChanged(this.hasLine);

        if (!this.axisX ) {
          this.axisX = this._computeAxisNode(this._axisInsertionPoint, this.item.mount)
                             .attr('hidden', (this._chart.multiAxes.x) ? null : true)
                             .classed('mount', this.item.mount)
                             .classed('x', true)
        }
        if (!this.axisY ) {
          this.axisY = this._computeAxisNode(this._axisInsertionPoint, this.item.mount)
                             .attr('hidden', (this._chart.multiAxes.y) ? null : true)
                             .classed('vertical', true)
                             .classed('y', true)
        }
        this.axisGeneratorX = this._computeAxisGenerator(this.axisPositionX, this.scaleX, this.scalingX, this.scaleBaseX);
        this.axisGeneratorY = this._computeAxisGenerator(this.axisPositionY, this.scaleY, this.scalingY, this.scaleBaseY);
        // this.axisBrushGeneratorX = this._computeAxisBrushGenerator(this.axisPositionX);
        // this.axisBrushGeneratorY = this._computeAxisBrushGenerator(this.axisPositionY);

        // for (var key in this._chart.multiAxes) {
        //   this.scale[key] = this._chart.multiAxes[key] ? this.scale[key] : this._chart.scale[key];
        //   this._addAxis(key, this.item.mount, !this._chart.multiAxes[key]);
        // }

        this._chart._addGraph(this);
        this._setColorProperties();
        this._isAttached = true;
        this._chart.sizeChanged();
      }

      removeNodes() {
        // console.log('removeNodes', this.item.mount);
        var node;
        if (this.axisX) {
          node = this.axisX.node();
          if (node && node.parentElement)
            node.parentElement.removeChild(node);
        }
        if (this.axisY) {
          node = this.axisY.node();
          if (node && node.parentElement)
            node.parentElement.removeChild(node);
        }
        this._areaChanged();
        this._lineChanged();
        this._thresholdChanged();
        this._chart._removeGraph(this);
        this._chart.sizeChanged();
      }

      _areaChanged(hasArea, type) {
        // console.log('_areaChanged', this.item.mount, hasArea, type);
        if (!(this._chart && this._chart._area)) return;

        if (hasArea === false) {
          // remove fill area
          if (this._area && this._area.node) {
            var node = this._area.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this._area = null;
          }
        } else {
          if (!(this._area && this._area.node)) { // add fill area
            this._area = this._chart._area.append('svg:path');
            this._area.append('svg:title').text(this.item.mount);
          }
          // update fill area node properties
          this._area
            .attr('mount', this.item.mount)
            .attr('class', 'area')
            .attr('stroke-width', 0)
            .datum([])
            .attr('d', this._areaGenerator);
        }
      }

      _lineChanged(hasLine, type) {
        // console.log('_lineChanged', this.item.mount, hasLine, type);
        if (!(this._chart && this._chart._line)) return;

        if (hasLine === false) {
          // remove line
          if (this._line && this._line.node) {
            var node = this._line.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this._line = null;
          }
        } else {
          if (!(this._line && this._line.node)) { // add line node
            this._line = this._chart._line.append('svg:path');
            this._line.append('svg:title').text(this.item.mount);
          }
          // update line node properties
          this._line
            .attr('mount', this.item.mount)
            .attr('class', 'line')
            .attr('fill', 'none')
            .attr('stroke-width', this.lineWidth)
            .datum([])
            .attr('d', this._lineGenerator);

        }
      }

      _thresholdChanged(threshold) {
        if (!(this._chart && this._chart._boundery)) return;

        if (threshold) {
          if (!this.boundery) { // add threshold node
            this.boundery = this._chart._boundery.append('linearGradient');
          }
          // update threshold node properties
          this.boundery
            .attr('id', 'boundery-line-' + this.item.mount)
            .attr('gradientUnits', 'userSpaceOnUse')
            .attr('x1', 0).attr('y1', this._chart._height)
            .attr('x2', 0).attr('y2', 0);
        } else {
          // remove threshold colors
          if (this.boundery && this.boundery.node) {
            var node = this.boundery.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.boundery = null;
          }
        }
      }

      _setColorProperties() {
        if (!this._chart) return;
        if (this.item && this.item.color) {
          this.axisColor = this.item.color;
          var colorForGraph = this.item.theshold ? ('url(#boundery-line-' + this.item.mount + ')') : this.item.color || '#000';
          if (this._area && this._area.attr) this._area.attr('fill', colorForGraph);
          if (this._line && this._line.attr) this._line.attr('stroke', colorForGraph);
        }
      }

      _itemChanged(item) {
        if (!this._isAttached) {
          return;
        }
        if (!(item && item.mount)) {
          this.removeNodes();
          return;
        }
        this.addNodes();
      }

      insertValues(values, len) {
        if (values === undefined) {
          return;
        }
        var len = len || (this.viewLength > 0 ? this.viewLength : values.length);
        if (len) {
          values = values.slice(values.length - len, values.length);
        }
        values.map(function(v) {
          return {
            x: +v.x,
            y: +v.y,
            state: +v.state
          };
        });
        if (this.storeInside) {
          this.values = this.values.concat(values);
          if (!this._isAttached || (this._chart.multiAxes.x && !this.axisX._isBrushed)) {
            var min = this.min(this.values, 'x');
            var max = this.max(this.values, 'x');
            if (!(min === undefined && max === undefined)) {
              this.set('domainX', [ min, max ] );
            }
          }
          if (!this._isAttached || (this._chart.multiAxes.y && !this.axisY._isBrushed)) {
            var min = this.min(this.values, 'y');
            var max = this.max(values, 'y');
            if (!(min === undefined && max === undefined)) {
              this.set('domainY', [ min, max ] );
            }
          }
        }
        this.renderInsertedValues(values);
      }

      spliceValues(splices) {
        // requestAnimationFrame( () => {
        // var changeRecord = [];

        for (var i = 0; i < splices.length; i++) {
          for (var j = this.values.length - 1; j >= 0; j--) {
            if (this.values[j].x === splices[i].x)
              break;
          }
          if (j !== -1) {
            this.values.splice(j, 1);
            // changeRecord.push( { index: j, removed: [this.values[j]], addedCount: 0, object: this.values, type: 'splice'} );
          }
        }

        // })
        // this.notifySplices('values', changeRecord);
        this.redraw();
      }

      renderInsertedValues(values) {
        if (!this._isAttached && this.item) {
          this.addNodes();
        }
        if (this._chart) {
          var mayorRedraw;
          if (this._chart.domainX && this._chart.domainX.some(e => { return e === undefined || e === null; })) {
            this._chart.set('domainX', this.domainX );
            mayorRedraw = true;
          }
          if (this._chart.domainY && this._chart.domainY.some(e => { return e === undefined || e === null; })) {
            this._chart.set('domainY', this.domainY );
            mayorRedraw = true;
          }
          if (!this._chart.multiAxes.y && !this._chart.multiAxes.x)  {
            this.axisY._isBrushed = false;
            this.axisX._isBrushed = false;
            mayorRedraw = true;
          }
          this.redraw(mayorRedraw);
        }
      }

      sizeChanged() {
        if (!this._isAttached) return;
        this._chart.sizeChanged();
      }

      redraw(force) {
        if (!this._isAttached) return;

        if (force) {
          this._chart.redraw(true);
          return;
        }
        console.log('graph redraw', this.item.mount, this.values.length);
        this.axisX.call(this.axisGeneratorX.ticks(this._chart.ticksX).tickSize(this.tickSize).tickFormat(this.axisX.classed('expanded') ? null : ''));
        this.axisY.call(this.axisGeneratorY.ticks(this._chart.ticksY).tickSize(this.tickSize).tickFormat(this.axisY.classed('expanded') ? null : ''));

        var data = this.values || [];

        // fill area
        if (this.hasArea) {
          if (!(this._area && this._area.node)) {
            this._areaChanged(true);
          }
          this._area
            .datum(data)
            .attr('d', this._areaGenerator);
        }

        // line
        if (this.hasLine) {
          if (!(this._line && this._line.node)) {
            this._lineChanged(true);
          }
          this._line
            .datum(data)
            .attr('d', this._lineGenerator);
        }

        // threshold gradients
        if (this.item && this.item.threshold) {
          if (!(this.boundery && this.boundery.node)) {
            this._thresholdChanged(this.item.threshold);
          }
          var b_line = [],
            y,
            u_color = this.getComputedStyleValue('--device-state-exceeds-color') || '#F20C0C',
            l_color = this.getComputedStyleValue('--device-state-deceeds-color') || '#F20C0C',
            i_color = this.item.color || '#000';

          if (this.item.threshold.from !== undefined) {
            y = ((1 - Math.ceil(this.scaleY(this.item.threshold.from) + this.lineWidth * 1.25) / this._chart._height) * 100);
            if (Number.isFinite(y)) {
              b_line.push({
                o: y + '%',
                c: l_color
              });
              b_line.push({
                o: y + '%',
                c: i_color
              });
            }
          }
          if (this.item.threshold.to !== undefined) {
            y = ((1 - Math.floor(this.scaleY(this.item.threshold.to) - this.lineWidth * 1.25) / this._chart._height) * 100);
            if (Number.isFinite(y)) {
              b_line.push({
                o: y + '%',
                c: i_color
              });
              b_line.push({
                o: y + '%',
                c: u_color
              });
            }
          }
          var gradients = this.boundery
            .attr('x1', 0).attr('y1', this._chart._height)
            .attr('x2', 0).attr('y2', 0)
            .selectAll('stop')
            .data(b_line);

          gradients.attr('offset', function(d) {
              return d.o;
            })
            .attr('stop-color', function(d) {
              return d.c;
            });

          gradients.enter()
            .append('stop')
            .attr('offset', function(d) {
              return d.o;
            })
            .attr('stop-color', function(d) {
              return d.c;
            });

          gradients.exit()
            .remove();
        }
        // TODO(?): update line, animated http://bl.ocks.org/benjchristensen/1148374
      }

      _getDomain(key, save) {
        return new Promise((resolve, reject) => {
          var vertical = (key === 'y'),
            scale = vertical ? this.scalingY : this.scalingX;
          this.requestRange(key)
            .then(range => {
              // console.log(key, scale, range)
              var domain = range;
              if (vertical) {
                // if min, max are equal, add a little space
                if (domain[0] !== undefined && domain[1] !== undefined && domain[0] === domain[1]) {
                  domain[0] -= 0.5;
                  domain[1] += 0.5;
                }
              }
              // logarithmic scales need scales of same prefix
              if (this._IS_LOG_SCALE(scale)) {
                if (domain[0] <= 0) {
                  domain[0] = Math.sign(domain[1])*Number.EPSILON;
                }
                if (domain[1] <= 0) {
                  domain[1] = Math.sign(domain[0])*Number.EPSILON;
                }
              }
              if (save) {
                if (key === 'x') {
                  this.set('domainX', domain);
                }
                else if (key === 'y') {
                  this.set('domainY', domain);
                }
              }
              resolve({domain: domain, key: key});
            })
            .catch(error => {
              reject(error);
            });
        });
      }

      _defined(d, i) {
        if (!Number.isFinite(d.y))
          return null;
        else if (d.y <= 0 && this.keys && this.keys.y && this._IS_LOG_SCALE(this.keys.y.scale))
          return null; // log- and sqrt-scale require larger than 0-Values
        // else if ((d.x >= domainX[0] && d.x <= domainX[1]) ||
        //   (data[i + 1] && data[i + 1].x >= domainX[0] && data[i + 1].x <= domainX[1]) ||
        //   (data[i - 1] && data[i - 1].x >= domainX[0] && data[i - 1].x <= domainX[1]))
        //   return true; // only numbers in x-Domain are shown (and their successor and predecessor) (graph is a function by definition, so y-Domain is not relevant)
        // else
        //   return false;
        return true;
      }

      // finding the closest Point relativly to a mouse-Coordinate m (stabil)
      // if looking just at to path (instabil): https://bl.ocks.org/mbostock/8027637 https://pomax.github.io/bezierinfo/#projections
      _closestPoint(m) {
        // find good prediction
        var _x = this.scaleX,
          _y = this.scaleY,
          values = this.values,
          x_0 = _x.invert(m[0]),
          precision = Math.ceil(this._chart._width / values.length),
          variance = Math.pow(Math.ceil(values.length / this._chart._width), 2),
          mid = this.bisectDate.left(values, x_0, 0, values.length - 1),
          r2 = pixdistance2(values[mid]),
          searchRadius = Math.sqrt(r2) / variance;
        var x_lo = _x.invert(m[0] - searchRadius),
          lo = this.bisectDate.left(values, x_lo, 0, mid),
          hi = 2 * mid - lo;

        if (lo < 0) lo = 0;
        if (hi > values.length) hi = values.length;

        var minDist = r2,
          currentDist,
          pos = mid;
        // linear scan for coarse approximation
        for (i = lo; i < hi; i += precision) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            mid = i, minDist = currentDist;
          }
        }
        pos = mid;

        // linear search in positive prediction radius
        for (var i = mid + 1; i < hi && i < mid + precision - 1; i++) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            minDist = currentDist;
            pos = i;
          }
        }

        // linear search in negative prediction radius
        for (var i = mid - 1; i > lo && i > mid - precision + 1; i--) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            minDist = currentDist;
            pos = i;
          }
        }

        return values[pos];

        function pixdistance2(p) {
          var dx = _x(new Date(p.x)) - m[0],
            dy = _y(p.y) - m[1];
          return dx * dx + dy * dy;
        }
      }

      // finding the closest interpolated Point relativly to a mouse-Coordinate m
      // https://bl.ocks.org/mbostock/8027637
      // https://pomax.github.io/bezierinfo/#projections
      _closestInterpolatedPoint(point, pathNode) {
        pathNode = pathNode || this._area.node() || this._line.node();
        var pathLength = pathNode.getTotalLength(),
          precision = Math.ceil(pathLength / this._chart._width / 2.0) * 2,
          best,
          bestLength,
          bestDistance = Infinity;

        // linear scan for coarse approximation
        for (var scan, scanLength = 0, scanDistance; scanLength <= pathLength; scanLength += precision) {
          if ((scanDistance = distance2(scan = pathNode.getPointAtLength(scanLength))) < bestDistance) {
            best = scan, bestLength = scanLength, bestDistance = scanDistance;
          }
        }

        // binary search for precise estimate
        precision /= 2;
        while (precision > 0.5) {
          var before,
            after,
            beforeLength,
            afterLength,
            beforeDistance,
            afterDistance;
          if ((beforeLength = bestLength - precision) >= 0 && (beforeDistance = distance2(before = pathNode.getPointAtLength(beforeLength))) < bestDistance) {
            best = before, bestLength = beforeLength, bestDistance = beforeDistance;
          } else if ((afterLength = bestLength + precision) <= pathLength && (afterDistance = distance2(after = pathNode.getPointAtLength(afterLength))) < bestDistance) {
            best = after, bestLength = afterLength, bestDistance = afterDistance;
          } else {
            precision /= 2;
          }
        }

        best = {
          x: this.scaleX(best.x),
          y: this.scaleY(best.y)
        };
        best.distance = Math.sqrt(bestDistance);
        return best;

        function distance2(p) {
          var dx = p.x - point[0],
            dy = p.y - point[1];
          return dx * dx + dy * dy;
        }
      }

      setColor(color) {
        // random color if color is not set
        super.setColor.call(this, color);
        this._setColorProperties();
      }

      clearValues(force) {
        super.clearValues.call(this, force);
      }

      _getStrokeColor(d) {
        if (this.item.threshold) {
          switch (d.state) {
            case 1:
              return this.getComputedStyleValue('device-state-exceeds-color') || '#F20C0C';
            case -1:
              return this.getComputedStyleValue('device-state-deceeds-color') || '#F20C0C';
          }
        }
        return this.item.color || '#fff';
      }

      _lineWidthChanged(lineWidth) {
        if (this._line && this._line.attr) {
          this._line.attr('stroke-width', lineWidth);
        }
      }

      _interpolationChanged(interpolation) {
        var curve;
        switch (interpolation) {
          case 'Basis Spline':
            curve = d3.curveBasis;
            break;
          case 'Monotoner Spline':
            curve = d3.curveMonotoneX;
            break;
          case 'Kubischer Spline':
            curve = d3.curveNatural;
            break;
          case 'Cardinaler Spline':
            curve = d3.curveCardinal;
            break;
          case 'Catmull-Rom-Spline':
            curve = d3.curveCatmullRom;
            break;
          case 'Stufe (mitte)':
            curve = d3.curveStep;
            break;
          case 'Stufe (davor)':
            curve = d3.curveStepAfter;
            break;
          case 'Stufe (danach)':
            curve = d3.curveStepBefore;
            break;
          default:
            curve = d3.curveLinear;
            break;
        }
        this._areaGenerator.curve(curve);
        this._lineGenerator.curve(curve);
      }
    }
    customElements.define(DeviceGraph.is, DeviceGraph);
  </script>

</dom-module>
