<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="device-table-group">
	<template strip-whitespace>
    <style include="button-style">
      :host {
        @apply --layout-horizontal;
        position: relative;
        box-sizing: border-box;
        line-height: 0;
        min-height: 100px;
      }
			#select {
        min-width: 3em;
        max-width: 6em;
        flex-shrink: 0;
				--tab-overlay: {
					background-color: rgba(255, 255, 255, 0.25);
					border-right: medium solid var(--secondary-color, var(--highlight-color));
					border-left: none;
					border-bottom: none;
				}
			}
      #tables {
        position: relative;
        box-sizing: border-box;
        flex: 1 0 auto;
      }
      .tab {
        font-size: 0.75em;
        padding: 0.5em;
        border-radius: 0;
        white-space: normal;
      }
      .hidden {
        display: none;
      }
    </style>

    <tabs-container id="select" selected="{{currentTable}}" fallback-selection="0" vertical>
      <template is="dom-repeat" items="[[items]]">
        <div class="button tab" title="[[item.id]]"><div>[[item.id]]</div></div>
      </template>
    </tabs-container>
    <iron-pages id="tables" selected="[[currentTable]]">
      <template is="dom-repeat" items="[[items]]">
        <device-table title$="[[item.id]]" item="[[item]]" keys-for-caption full-date></device-table>
      </template>
    </iron-pages>

  </template>

	<script>
		WebvisualElementTable = Polymer({

			is: 'device-table-group',

			properties: {
        items: {
          type: Array,
          value: function() {
            return [];
          },
          notify: true
        },

				onlyFirstRow: Boolean,

				showFullDate: Boolean,

        currentTable: {
          type: Number,
          value: 0,
          notify: true
        }
			},

      observers: [
        '_shouldHideTabs(items.length)'
      ],

			_shouldHideTabs: function(length) {
        if (length < 2) {
          this.$.select.classList.add('hidden');
        } else {
          this.$.select.classList.remove('hidden');
        }
			}
		});
	</script>

</dom-module>
