<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="device-table-group">
  <template strip-whitespace>
    <style>
      :host {
        @apply --layout-vertical;
        position: relative;
        box-sizing: border-box;
      }
			#select {
        width: 100%;
        flex-shrink: 0;
        background-color: rgba(0, 0, 0, 0.2);
				--tab-overlay: {
          background-color: rgba(0, 0, 0, 0.3);
          color: var(--bright-text-color);
					border-top: thin solid var(--secondary-color);
					border-bottom: thin solid var(--secondary-color);
					border-left: none;
				}
			}
      #tables {
        position: relative;
        box-sizing: border-box;
        flex: 1 0 0.0001px;
      }
      .tab {
        font-size: 0.75em;
        padding: 0.5em;
        border-radius: 0;
        white-space: nowrap;
      }
      .hidden {
        display: none;
      }

    </style>

    <iron-pages id="tables" selected="[[currentTable]]">
      <template is="dom-repeat" items="[[items]]">
        <device-table title$="[[item.id]]" item="[[item]]" full-date></device-table>
      </template>
    </iron-pages>
    <tabs-container id="select" selected="{{currentTable}}" fallback-selection="0">
      <template is="dom-repeat" items="[[items]]">
        <tab-element class="tab" title$="[[item.id]]">[[item.id]]</tab-element>
      </template>
    </tabs-container>

  </template>

  <script>
    class DeviceTableGroup extends Polymer.Element {
      static get is() {
        return 'device-table-group'
      }

      static get properties() {
        return {
          items: {
            type: Array,
            value: function() {
              return [];
            },
            notify: true
          },

          currentTable: {
            type: Number,
            value: 0,
            notify: true
          }
        }
      }

      static get observers() {
        return [
          '_shouldHideTabs(items.length)'
        ]
      }

      _shouldHideTabs(length) {
        if (length < 2) {
          this.$.select.classList.add('hidden');
        } else {
          this.$.select.classList.remove('hidden');
        }
      }
    }
    customElements.define(DeviceTableGroup.is, DeviceTableGroup);
  </script>

</dom-module>
