<!-- Dependent to be content of device-chart -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="mixins/axes-mixin.html" />
<link rel="import" href="mixins/device-mixin.html" />
<link rel="import" href="mixins/color-mixin.html" />

<dom-module id="device-graph">
  <template>
    <style></style>
  </template>
  <script>
    class DeviceGraph extends WebvisualMixins.AxesMixin(WebvisualMixins.ColorMixin(WebvisualMixins.DeviceMixin(Polymer.Element))) {

      static get is() {
        return 'device-graph';
      }

      static get properties() {
        return {

          hasLine: {
            type: Boolean,
            value: true
          },

          hasArea: {
            type: Boolean,
            value: false
          },

          interpolation: {
            type: String,
            value: 'Lineare Verbindung',
            observer: '_interpolationChanged'
          },

          lineWidth: {
            type: Number,
            value: 1,
            observer: '_lineWidthChanged'
          },

          dotRadius: {
            type: Number,
            value: 3
          },

          viewLength: {
            type: Number,
            value: 20000
          },

          storeInside: {
            type: Boolean,
            value: true,
            readOnly: true
          },

          multiAxes: {
            type: Object
          },

          axisPosition: {
            type: Object,
            value: function() {
              return {
                x: 'bottom',
                y: 'left'
              }
            },
            observer: '_axisPositionChanged'
          }
        }
      }

      constructor() {
        super();
        this._nodes = {
          axis: {},
          brush: {},
          axes: {}
        };
        this._fn = {
          axis: {
            x: Function.prototype,
            y: Function.prototype
          },
          brush: {
            x: Function.prototype,
            y: Function.prototype
          }
        };
        this._generators = {
          brush: {},
          axis: {}
        }
        this._isAttached = false;
        this._chart = null;

        this._generators.area = d3.area()
          .defined(this._defined.bind(this))
          .x(d => {
            return this.scale.x(d.x);
          })
          .y0(d => {
            if (this.yScale === 'ln' || this.yScale === 'log₁₀') {
              return this._chart._height;
            } else {
              return this.scale.y(0)
            }
          })
          .y1(d => {
            return this.scale.y(d.y);
          });

        this._generators.line = d3.line()
          .defined(this._defined.bind(this))
          .x(d => {
            return this.scale.x(d.x);
          })
          .y(d => {
            return this.scale.y(d.y);
          });

        this.bisectDate = d3.bisector((d, x) => {
          return d.x - x;
        });
      }

      static get observers() {
        return [
          '_itemChanged(item)',
          '_lineChanged(hasLine, "line")',
          '_areaChanged(hasArea, "area")',
          '_thresholdChanged(item.threshold, "boundery")'
        ]
      }

      get _containerRoot() {
        var root = Polymer.dom(this).getOwnerRoot();
        if (!root)
          return Polymer.dom(this).parentNode;
        else if (root.host || root.nodeType === Node.DOCUMENT_FRAGMENT_NODE)
          return root.host;
        else
          return;
      }

      connectedCallback() {
        super.connectedCallback();
        if (this.item) {
          this.addNodes();
        }
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeNodes();
      }

      addNodes() {
        // console.log('addNotes', this.item.mount);
        if (this._isAttached) {
          this.clearValues(true);
        }
        var _containerRoot = this._containerRoot;
        if (!_containerRoot || _containerRoot.nodeName !== 'DEVICE-CHART') {
          console.warn('No parentElement (chart) for graph found. Registration of Graph Element failed', _containerRoot);
          return;
        } else if (!_containerRoot._isAttached) {
          console.warn('Chart has not been attached yet for adding a graph. Registration of Graph Element failed');
          return;
        }
        this._chart = _containerRoot;

        this._areaChanged(this.hasArea);
        this._lineChanged(this.hasLine);

        this._chart._addGraph(this);

        this._isAttached = true;

        for (var key in this._chart.multiAxes) {
          if (this._chart.multiAxes[key] === true) {
            this._chart._addAxis(this, key, this.item.mount);
          } else {
            this.scale[key] = this._chart.scale[key];
          }
        }
        this._setColorProperties();
        this._chart._sizeChanged();
      }

      removeNodes() {
        // console.log('removeNodes', this.item.mount);
        this._isAttached = false;
        this._areaChanged();
        this._lineChanged();
        this._thresholdChanged();
        this._chart._removeGraph(this);
      }

      _areaChanged(hasArea, type) {
        // console.log('_areaChanged', this.item.mount, hasArea, type);
        if (!(this._chart && this._chart._nodes.area)) return;

        if (hasArea === false) {
          // remove fill area
          if (this._nodes.area && this._nodes.area.node) {
            var node = this._nodes.area.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this._nodes.area = null;
          }
        } else {
          if (!(this._nodes.area && this._nodes.area.node)) { // add fill area
            this._nodes.area = this._chart._nodes.area.append('svg:path');
            this._nodes.line.append('svg:title').text(this.item.mount);
          }
          // update fill area node properties
          this._nodes.area
            .attr('mount', this.item.mount)
            .attr('class', 'area')
            .attr('stroke-width', 0)
            .datum([])
            .attr('d', this._generators.area);
        }
      }

      _lineChanged(hasLine, type) {
        // console.log('_lineChanged', this.item.mount, hasLine, type);
        if (!(this._chart && this._chart._nodes.line)) return;

        if (hasLine === false) {
          // remove line
          if (this._nodes.line && this._nodes.line.node) {
            var node = this._nodes.line.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this._nodes.line = null;
          }
        } else {
          if (!(this._nodes.line && this._nodes.line.node)) { // add line node
            this._nodes.line = this._chart._nodes.line.append('svg:path');
            this._nodes.line.append('svg:title').text(this.item.mount);
          }
          // update line node properties
          this._nodes.line
            .attr('mount', this.item.mount)
            .attr('class', 'line')
            .attr('fill', 'none')
            .attr('stroke-width', this.lineWidth)
            .datum([])
            .attr('d', this._generators.line);

        }
      }

      _axisPositionChanged(axisPosition) {
      }

      _thresholdChanged(threshold) {
        if (!(this._chart && this._chart._nodes.boundery)) return;

        if (threshold) {
          if (!this.boundery) { // add threshold node
            this.boundery = this._chart._nodes.boundery.append('linearGradient');
          }
          // update threshold node properties
          this.boundery
            .attr('id', 'boundery-line-' + this.item.mount)
            .attr('gradientUnits', 'userSpaceOnUse')
            .attr('x1', 0).attr('y1', this._chart._height)
            .attr('x2', 0).attr('y2', 0);
        } else {
          // remove threshold colors
          if (this.boundery && this.boundery.node) {
            var node = this.boundery.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.boundery = null;
          }
        }
      }

      _setColorProperties() {
        if (!this._chart) return;
        if (this.item && this.item.color) {
          var colorForGraph = this.item.theshold ? ('url(#boundery-line-' + this.item.mount + ')') : this.item.color || '#000';
          if (this._nodes.area && this._nodes.area.attr) this._nodes.area.attr('fill', colorForGraph);
          if (this._nodes.line && this._nodes.line.attr) this._nodes.line.attr('stroke', colorForGraph);
          for (var key in this._chart.multiAxes) {
            if (this._chart.multiAxes[key] === true && this._nodes.axis[key] && this._nodes.axis[key].attr) {
              this._nodes.axis[key].style('color', this.item.color || '#000');
            }
          }
        }
      }

      _itemChanged(item) {
        if (!this._isAttached) {
          return;
        }
        if (!(item && item.mount)) {
          this.removeNodes();
          return;
        }
        this.addNodes();
      }

      insertValues(values, len) {
        if (values === undefined) {
          return;
        }
        var len = len || (this.viewLength > 0 ? this.viewLength : values.length);
        if (!len) {
          values.map(function(v) {
            return {
              x: +v.x,
              y: +v.y,
              state: +v.state
            };
          });
          if (this.storeInside) {
            this.values = this.values.concat(values);
          }
          this.renderInsertedValues(values);
        } else {
          var tmp = values.slice(values.length - len, values.length);
          tmp.map(function(v) {
            return {
              x: new Date(v.x),
              y: +v.y,
              state: +v.state
            };
          });
          if (this.storeInside) {
            this.values = this.values.concat(tmp);
          }
          this.renderInsertedValues(tmp);
          tmp.length = 0;
        }
      }

      spliceValues(splices) {
        // requestAnimationFrame( () => {
        // var changeRecord = [];

        for (var i = 0; i < splices.length; i++) {
          for (var j = this.values.length - 1; j >= 0; j--) {
            if (this.values[j].x === splices[i].x)
              break;
          }
          if (j !== -1) {
            this.values.splice(j, 1);
            // changeRecord.push( { index: j, removed: [this.values[j]], addedCount: 0, object: this.values, type: 'splice'} );
          }
        }

        // })
        // this.notifySplices('values', changeRecord);
        this.redraw();
      }

      renderInsertedValues(values) {
        if (!this._isAttached && this.item) {
          this.addNodes();
        }
        if (this._chart) {
          if (!this._isBrushed) {
            // console.log('is not Brushed')
            // for (var key in this._chart.multiAxes) {
              // if (this._chart.multiAxes[key] === true) {
              //   this._getDomain(key).then(this.redraw.bind(this));
              // } else {
                this._chart.redraw();
            //   }
            // }
          } else {
            this.redraw();
          }
        }
      }

      redraw() {
        if (!this._isAttached) return;

        // console.log('graph redraw', this.item.mount, this.values.length);

        var data = this.values || [];

        // fill area
        if (this.hasArea) {
          if (!(this._nodes.area && this._nodes.area.node)) {
            this._areaChanged(true);
          }
          this._nodes.area
            .datum(data)
            .attr('d', this._generators.area);
        }

        // line
        if (this.hasLine) {
          if (!(this._nodes.line && this._nodes.line.node)) {
            this._lineChanged(true);
          }
          this._nodes.line
            .datum(data)
            .attr('d', this._generators.line);
        }

        // threshold gradients
        if (this.item && this.item.threshold) {
          if (!(this.boundery && this.boundery.node)) {
            this._thresholdChanged(this.item.threshold);
          }
          var b_line = [],
            y,
            u_color = this.getComputedStyleValue('--device-state-exceeds-color') || '#F20C0C',
            l_color = this.getComputedStyleValue('--device-state-deceeds-color') || '#F20C0C',
            i_color = this.item.color || '#000';

          if (this.item.threshold.from !== undefined) {
            y = ((1 - Math.ceil(this.scale.y(this.item.threshold.from) + this.lineWidth * 1.25) / this._chart._height) * 100);
            if (Number.isFinite(y)) {
              b_line.push({
                o: y + '%',
                c: l_color
              });
              b_line.push({
                o: y + '%',
                c: i_color
              });
            }
          }
          if (this.item.threshold.to !== undefined) {
            y = ((1 - Math.floor(this.scale.y(this.item.threshold.to) - this.lineWidth * 1.25) / this._chart._height) * 100);
            if (Number.isFinite(y)) {
              b_line.push({
                o: y + '%',
                c: i_color
              });
              b_line.push({
                o: y + '%',
                c: u_color
              });
            }
          }
          var gradients = this.boundery
            .attr('x1', 0).attr('y1', this._chart._height)
            .attr('x2', 0).attr('y2', 0)
            .selectAll('stop')
            .data(b_line);

          gradients.attr('offset', function(d) {
              return d.o;
            })
            .attr('stop-color', function(d) {
              return d.c;
            });

          gradients.enter()
            .append('stop')
            .attr('offset', function(d) {
              return d.o;
            })
            .attr('stop-color', function(d) {
              return d.c;
            });

          gradients.exit()
            .remove();
        }
        // TODO(?): update line, animated http://bl.ocks.org/benjchristensen/1148374
      }

      _getDomain(key) {
        return new Promise((resolve, reject) => {
          if (!this._isAttached) reject();
          var scale = this.keys[key].scale;
          var vertical = this.keys[key].coordinate === 'y';
          this.requestRange(key)
            .then(range => {
              var domain = range;
              if (vertical) {
                // if min, max are equal, add a little space
                if (domain[0] !== undefined && domain[1] !== undefined && domain[0] === domain[1]) {
                  domain[0] -= 0.5;
                  domain[1] += 0.5;
                }
              }

              // logarithmic scales need scales of same prefix
              if (['ln', 'log', 'log₂', 'log₁₀'].indexOf(scale) > -1) {
                if (domain[0] <= 0) {
                  domain[0] = Math.sign(domain[1])*Number.EPSILON;
                }
                if (domain[1] <= 0) {
                  domain[1] = Math.sign(domain[0])*Number.EPSILON;
                }
              }
              this.domain = this.domain || {};
              this.domain[key] = domain;
              this.notifyPath('domain.' + key);
              resolve({domain: domain, key: key});
            })
            .catch(err => {
              reject(err);
            });
        });
      }

      _defined(d, i) {
        var yScale = this.yScale;

        if (!Number.isFinite(d.y))
          return null;
        else if ((yScale === 'ln' || yScale === 'log₁₀') && d.y <= 0)
          return null; // log- and sqrt-scale require larger than 0-Values
        // else if ((d.x >= domainX[0] && d.x <= domainX[1]) ||
        //   (data[i + 1] && data[i + 1].x >= domainX[0] && data[i + 1].x <= domainX[1]) ||
        //   (data[i - 1] && data[i - 1].x >= domainX[0] && data[i - 1].x <= domainX[1]))
        //   return true; // only numbers in x-Domain are shown (and their successor and predecessor) (graph is a function by definition, so y-Domain is not relevant)
        // else
        //   return false;
        return true;
      }

      // finding the closest Point relativly to a mouse-Coordinate m (stabil)
      // if looking just at to path (instabil): https://bl.ocks.org/mbostock/8027637 https://pomax.github.io/bezierinfo/#projections
      _closestPoint(m) {
        // find good prediction
        var _x = this._chart._x,
          _y = this._chart._y,
          values = this.values,
          x_0 = _x.invert(m[0]),
          precision = Math.ceil(this._chart._width / values.length),
          variance = Math.pow(Math.ceil(values.length / this._chart._width), 2),
          mid = this.bisectDate.left(values, x_0, 0, values.length - 1),
          r2 = pixdistance2(values[mid]),
          searchRadius = Math.sqrt(r2) / variance;
        var x_lo = _x.invert(m[0] - searchRadius),
          lo = this.bisectDate.left(values, x_lo, 0, mid),
          hi = 2 * mid - lo;

        if (lo < 0) lo = 0;
        if (hi > values.length) hi = values.length;

        var minDist = r2,
          currentDist,
          pos = mid;
        // linear scan for coarse approximation
        for (i = lo; i < hi; i += precision) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            mid = i, minDist = currentDist;
          }
        }
        pos = mid;

        // linear search in positive prediction radius
        for (var i = mid + 1; i < hi && i < mid + precision - 1; i++) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            minDist = currentDist;
            pos = i;
          }
        }

        // linear search in negative prediction radius
        for (var i = mid - 1; i > lo && i > mid - precision + 1; i--) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            minDist = currentDist;
            pos = i;
          }
        }

        return values[pos];

        function pixdistance2(p) {
          var dx = _fn.scale.x(new Date(p.x)) - m[0],
            dy = _fn.scale.y(p.y) - m[1];
          return dx * dx + dy * dy;
        }
      }

      // finding the closest interpolated Point relativly to a mouse-Coordinate m
      // https://bl.ocks.org/mbostock/8027637
      // https://pomax.github.io/bezierinfo/#projections
      _closestInterpolatedPoint(point, pathNode) {
        pathNode = pathNode || this._nodes.area.node() || this._nodes.line.node();
        var pathLength = pathNode.getTotalLength(),
          precision = Math.ceil(pathLength / this._chart._width / 2.0) * 2,
          best,
          bestLength,
          bestDistance = Infinity;

        // linear scan for coarse approximation
        for (var scan, scanLength = 0, scanDistance; scanLength <= pathLength; scanLength += precision) {
          if ((scanDistance = distance2(scan = pathNode.getPointAtLength(scanLength))) < bestDistance) {
            best = scan, bestLength = scanLength, bestDistance = scanDistance;
          }
        }

        // binary search for precise estimate
        precision /= 2;
        while (precision > 0.5) {
          var before,
            after,
            beforeLength,
            afterLength,
            beforeDistance,
            afterDistance;
          if ((beforeLength = bestLength - precision) >= 0 && (beforeDistance = distance2(before = pathNode.getPointAtLength(beforeLength))) < bestDistance) {
            best = before, bestLength = beforeLength, bestDistance = beforeDistance;
          } else if ((afterLength = bestLength + precision) <= pathLength && (afterDistance = distance2(after = pathNode.getPointAtLength(afterLength))) < bestDistance) {
            best = after, bestLength = afterLength, bestDistance = afterDistance;
          } else {
            precision /= 2;
          }
        }

        best = {
          x: this.scale.x(best.x),
          y: this.scale.y(best.y)
        };
        best.distance = Math.sqrt(bestDistance);
        return best;

        function distance2(p) {
          var dx = p.x - point[0],
            dy = p.y - point[1];
          return dx * dx + dy * dy;
        }
      }

      setColor(color) {
        // random color if color is not set
        super.setColor.call(this, color);
        this._setColorProperties();
      }

      clearValues(force) {
        super.clearValues.call(this, force);
      }

      _getStrokeColor(d) {
        if (this.item.threshold) {
          switch (d.state) {
            case 1:
              return this.getComputedStyleValue('device-state-exceeds-color') || '#F20C0C';
            case -1:
              return this.getComputedStyleValue('device-state-deceeds-color') || '#F20C0C';
          }
        }
        return this.item.color || '#fff';
      }

      _lineWidthChanged(lineWidth) {
        if (this._nodes.line && this._nodes.line.attr) {
          this._nodes.line.attr('stroke-width', lineWidth);
        }
      }

      _interpolationChanged(interpolation) {
        var curve;
        switch (interpolation) {
          case 'Basis Spline':
            curve = d3.curveBasis;
            break;
          case 'Monotoner Spline':
            curve = d3.curveMonotoneX;
            break;
          case 'Kubischer Spline':
            curve = d3.curveNatural;
            break;
          case 'Cardinaler Spline':
            curve = d3.curveCardinal;
            break;
          case 'Catmull-Rom-Spline':
            curve = d3.curveCatmullRom;
            break;
          case 'Stufe (mitte)':
            curve = d3.curveStep;
            break;
          case 'Stufe (davor)':
            curve = d3.curveStepAfter;
            break;
          case 'Stufe (danach)':
            curve = d3.curveStepBefore;
            break;
          default:
            curve = d3.curveLinear;
            break;
        }
        this._generators.area.curve(curve);
        this._generators.line.curve(curve);

        if (this._chart)
          this._chart.redraw();
      }
    }
    customElements.define(DeviceGraph.is, DeviceGraph);
  </script>

</dom-module>
