<!-- Dependent to be content of device-chart -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="behaviors/device-behavior.html" />
<link rel="import" href="behaviors/color-behavior.html" />

<dom-module id="device-graph">
  <template>
    <style></style>
  </template>
  <script>
    class DeviceGraph extends WebvisualBehaviors.ColorBehavior(WebvisualBehaviors.DeviceBehavior(Polymer.Element)) {

      static get is() {
        return 'device-graph';
      }

      static get properties() {
        return {

          interpolation: {
            type: String,
            value: 'Lineare Verbindung',
            observer: '_interpolationChanged'
          },

          xScale: {
            type: String,
            value: 'time',
            observer: 'changeScale'
          },

          yScale: {
            type: String,
            value: 'linear',
            observer: 'changeScale'
          },

          hasLine: {
            type: Boolean,
            value: true,
            observer: '_lineChanged'
          },

          hasArea: {
            type: Boolean,
            value: false,
            observer: '_areaChanged'
          },

          hasXAxis: {
            type: Boolean,
            value: true,
            observer: '_xAxisChanged'
          },

          hasYAxis: {
            type: Boolean,
            value: true,
            observer: '_yAxisChanged'
          },

          xAxisExpanded: {
            type: Boolean,
            value: false
          },

          yAxisExpanded: {
            type: Boolean,
            value: false
          },

          xAxisPosition: {
            type: String,
            value: function() {
              var rdn = Math.random();
              return rdn < 0.5 ? 'bottom' : 'top'
            }
          },

          yAxisPosition: {
            type: String,
            value: function() {
              var rdn = Math.random();
              return rdn < 0.5 ? 'left' : 'right'
            }
          },

          lineWidth: {
            type: Number,
            value: 1,
            observer: '_lineWidthChanged'
          },

          dotRadius: {
            type: Number,
            value: 3
          },

          viewLength: {
            type: Number,
            value: Number.POSITIVE_INFINITY
          },

          storeInside: {
            type: Boolean,
            value: true,
            readOnly: true
          }
        }
      }

      constructor() {
        super();
        this._isAttached = false;
        this.chartElement = null;
        this.areaNode = null;
        this.lineNode = null;
        this.bounderyLineGradientNode = null;
        this.xAxisNode = null;
        this.xAxisFn = null;
        this.yAxisNode = null;
        this.yAxisFn = null;
        this.areaFn = d3.area()
          .defined(this._defined.bind(this))
          .x(d => {
            return this.chartElement._x(d.x);
          })
          .y0(d => {
            if (this.chartElement.yScale === 'ln' || this.chartElement.yScale === 'log₁₀') {
              return this.chartElement._height;
            } else {
              return this.chartElement._y(0)
            }
          })
          .y1(d => {
            return this.chartElement._y(d.y);
          });

        this.lineFn = d3.line()
          .defined(this._defined.bind(this))
          .x(d => {
            return this.chartElement._x(d.x);
          })
          .y(d => {
            return this.chartElement._y(d.y);
          });

        this.bisectDate = d3.bisector((d, x) => {
          return d.x - x;
        });
      }

      _getContainerRoot() {
        return new Promise((resolve, reject) => {
          var root = Polymer.dom(this).getOwnerRoot();
          if (!root)
            resolve(Polymer.dom(this).parentNode);
          else if (root.host || root.nodeType === Node.DOCUMENT_FRAGMENT_NODE)
            resolve(root.host);
          else
            reject();
        });
      }

      static get observers() {
        return [
          '_itemChanged(item)'
        ]
      }

      connectedCallback() {
        super.connectedCallback();
        if (this.item) {
          this.addNodes();
        }
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeNodes();
      }

      addNodes() {
        console.log('addNotes');
        if (this._isAttached) {
          this.clearValues(true);
        }
        this._getContainerRoot()
          .then(containerRoot => {
            if (!containerRoot || containerRoot.nodeName !== 'DEVICE-CHART') {
              console.warn('No parentElement (chart) for graph found. Registration of Graph Element failed', containerRoot);
              return;
            } else if (!containerRoot._isAttached) {
              console.warn('Chart has not been attached yet for adding a graph. Registration of Graph Element failed');
              return;
            }
            this.chartElement = containerRoot;
            this.chartElement._graphs[this.item.mount] = this;
            this._areaChanged(this.hasArea);
            this._lineChanged(this.hasLine);
            this._xAxisChanged(this.hasXAxis);
            this._yAxisChanged(this.hasYAxis);
            this._setColorProperties();

            // if (!this.chartElement._height || !this.chartElement._width) {
            //   this.chartElement._sizeChanged();
            // }

            this._isAttached = true;
            this.chartElement._sizeChanged();
          })
          .catch(err => {
            console.warn('No parentElement (chart) for graph found. Registration of Graph Element failed');
          })
      }

      _areaChanged(hasArea) {
        if (!(this.chartElement && this.chartElement._areas)) return;

        if (hasArea === false) {
          // remove fill area
          if (this.areaNode && this.areaNode.node) {
            node = this.areaNode.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.areaNode = null;
          }
        } else {
          if (!(this.areaNode && this.areaNode.node)) { // add fill area
            this.areaNode = this.chartElement._areas.append('svg:path')
          }
          // update fill area node properties
          this.areaNode
            .attr('data-name', this.item.mount)
            .attr('class', 'area')
            .attr('stroke-width', 0)
            .datum([])
            .attr('d', this.areaFn);
        }
      }

      _lineChanged(hasLine) {
        if (!(this.chartElement && this.chartElement._lines)) return;

        if (hasLine === false) {
          // remove line
          if (this.lineNode && this.lineNode.node) {
            node = this.lineNode.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.lineNode = null;
          }
        } else {
          if (!(this.lineNode && this.lineNode.node)) { // add line node
            this.lineNode = this.chartElement._lines.append('svg:path')
          }
          // update line node properties
          this.lineNode
            .attr('data-name', this.item.mount)
            .attr('class', 'line')
            .attr('fill', 'none')
            .attr('stroke-width', this.lineWidth)
            .datum([])
            .attr('d', this.lineFn);
        }
      }

      _xAxisChanged(hasXAxis) {
        if (!(this.chartElement && this.chartElement._xAxes)) return;

        if (hasXAxis === false) {
          // remove y axis
          if (this.xAxisNode && this.xAxisNode.node) {
            node = this.xAxisNode.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.xAxisNode = null;
            this.xAxisFn = null;
          }
        } else {
          if (!this.xAxisFn) {
            this.xAxisFn = this._createAxisFn(this.chartElement._x, this.xAxisPosition, this.xScale);
          }
          if (!(this.xAxisNode && this.xAxisNode.node)) { // add y axis
            this.xAxisNode = this.chartElement._xAxes.append('svg:g')
          }
          // update x axis node properties
          this.xAxisNode
            .classed('x axis', true)
            .classed('expanded', this.xAxisExpanded)
            .attr('data-name', this.item.mount)
            .on('click', this._toggleXAxisExpansion.bind(this));
        }
      }

      _yAxisChanged(hasYAxis) {
        if (!(this.chartElement && this.chartElement._yAxes)) return;

        if (hasYAxis === false) {
          // remove y axis
          if (this.yAxisNode && this.yAxisNode.node) {
            node = this.yAxisNode.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.yAxisNode = null;
            this.yAxisFn = null;
          }
        } else {
          if (!this.yAxisFn) {
            this.yAxisFn = this._createAxisFn(this.chartElement._y, this.yAxisPosition, this.yScale);
          }
          if (!(this.yAxisNode && this.yAxisNode.node)) { // add y axis
            this.yAxisNode = this.chartElement._yAxes.append('svg:g')
          }
          // update y axis node properties
          this.yAxisNode
            .classed('y axis', true)
            .classed('expanded', this.yAxisExpanded)
            .attr('data-name', this.item.mount)
            .on('click', this._toggleYAxisExpansion.bind(this));
        }
      }

      _thresholdChanged(threshold) {
        if (!(this.chartElement && this.chartElement._bounderies)) return;

        if (threshold) {
          if (!this.bounderyLineGradientNode) { // add threshold node
            this.bounderyLineGradientNode = this.chartElement._bounderies.append('linearGradient');
          }
          // update threshold node properties
          this.bounderyLineGradientNode
            .attr('id', 'boundery-line-' + this.item.mount)
            .attr('gradientUnits', 'userSpaceOnUse')
            .attr('x1', 0).attr('y1', this.chartElement._height)
            .attr('x2', 0).attr('y2', 0);
        } else {
          // remove threshold colors
          if (this.bounderyLineGradientNode && this.bounderyLineGradientNode.node) {
            node = this.bounderyLineGradientNode.node();
            if (node && node.parentElement)
              node.parentElement.removeChild(node);
            this.bounderyLineGradientNode = null;
          }
        }
      }

      _createAxisFn(transFn, axisPosition, scale) {
        if (!(this.chartElement && transFn && axisPosition && scale)) {
          return null;
        }
        return this.chartElement._createAxisFn(transFn, axisPosition, scale);
      }

      _toggleYAxisExpansion() {
        this.yAxisExpanded = !this.yAxisExpanded;
        //this.yAxisNode.lower();
        this.yAxisNode.classed('expanded', this.yAxisExpanded);
        this.chartElement._sizeChanged();
      }

      _toggleXAxisExpansion() {
        this.xAxisExpanded = !this.xAxisExpanded;
        //this.xAxisNode.lower();
        this.xAxisNode.classed('expanded', this.xAxisExpanded);
        this.chartElement._sizeChanged();
      }

      _setColorProperties() {
        if (!this.chartElement) return;
        if (this.item && this.item.color) {
          var colorForGraph = this.item.theshold ? ('url(#boundery-line-' + this.item.mount + ')') : this.item.color || '#000';
          if (this.areaNode && this.areaNode.attr) this.areaNode.attr('fill', colorForGraph);
          if (this.lineNode && this.lineNode.attr) this.lineNode.attr('stroke', colorForGraph);
          if (this.yAxisNode && this.yAxisNode.attr) this.yAxisNode.style('color', this.item.color || '#000');
          if (this.xAxisNode && this.xAxisNode.attr) this.xAxisNode.style('color', this.item.color || '#000');
        }
      }

      removeNodes() {
        console.log('removeNodes');
        this._areaChanged();
        this._lineChanged();
        this._xAxisChanged();
        this._yAxisChanged();
        this._thresholdChanged();
        if (this.chartElement && this.chartElement._graphs)
          delete this.chartElement._graphs[this.item.mount];
        this._isAttached = false;
      }

      _itemChanged(item) {
        if (!this._isAttached) {
          return;
        }
        if (!(item && item.mount)) {
          this.removeNodes();
          return;
        }
        this.addNodes();
      }

      insertValues(values, len) {
        if (values === undefined) {
          return;
        }

        var len = len || (this.viewLength > 0 ? this.viewLength : values.length);

        if (!len) {
          values.map(function(v) {
            return {
              x: +v.x,
              y: +v.y,
              state: +v.state
            };
          });
          if (this.storeInside) {
            this.values = this.values.concat(values);
          }
          this.renderInsertedValues(values);
        } else {
          var tmp = values.slice(values.length - len, values.length);
          tmp.map(function(v) {
            return {
              x: new Date(v.x),
              y: +v.y,
              state: +v.state
            };
          });
          if (this.storeInside) {
            this.values = this.values.concat(tmp);
          }
          this.renderInsertedValues(tmp);
          tmp.length = 0;
        }
      }

      spliceValues(splices) {
        // requestAnimationFrame( () => {
        var changeRecord = [];

        for (var i = 0; i < splices.length; i++) {
          for (var j = this.values.length - 1; j >= 0; j--) {
            if (this.values[j].x === splices[i].x)
              break;
          }
          if (j !== -1) {
            this.values.splice(j, 1);
            // changeRecord.push( { index: j, removed: [this.values[j]], addedCount: 0, object: this.values, type: 'splice'} );
          }
        }

        // })
        // this.notifySplices('values', changeRecord);
        this.redraw();
      }

      renderInsertedValues(values) {
        if (!this._isAttached && this.item) {
          this.addNodes();
        } else if (this.chartElement) {
          if (this.chartElement._isZoomed === false)
            this.chartElement.redraw();
          else
            this.redraw();
        }
      }

      redraw() {
        if (!(this.chartElement && this.chartElement._isAttached && this.item && this.values && this.values.length)) return;

        console.log('redraw');
        var data = this.values || [];

        // fill area
        if (this.hasArea) {
          if (!(this.areaNode && this.areaNode.node)) {
            this._areaChanged(true);
          }
          this.areaNode
            .datum(data)
            .attr('d', this.areaFn);
        }

        // line
        if (this.hasLine) {
          if (!(this.lineNode && this.lineNode.node)) {
            this._lineChanged(true);
          }
          this.lineNode
            .datum(data)
            .attr('d', this.lineFn);
        }

        // threshold gradients
        if (this.item && this.item.threshold) {
          if (!(this.bounderyLineGradientNode && this.bounderyLineGradientNode.node)) {
            this._thresholdChanged(this.item.threshold);
          }
          var b_line = [],
            y,
            u_color = this.getComputedStyleValue('--device-state-exceeds-color') || '#F20C0C',
            l_color = this.getComputedStyleValue('--device-state-deceeds-color') || '#F20C0C',
            i_color = this.item.color || '#000';

          if (this.item.threshold.from !== undefined) {
            y = ((1 - Math.ceil(this.chartElement._y(this.item.threshold.from) + this.lineWidth * 1.25) / this.chartElement._height) * 100);
            if (Number.isFinite(y)) {
              b_line.push({
                o: y + '%',
                c: l_color
              });
              b_line.push({
                o: y + '%',
                c: i_color
              });
            }
          }
          if (this.item.threshold.to !== undefined) {
            y = ((1 - Math.floor(this.chartElement._y(this.item.threshold.to) - this.lineWidth * 1.25) / this.chartElement._height) * 100);
            if (Number.isFinite(y)) {
              b_line.push({
                o: y + '%',
                c: i_color
              });
              b_line.push({
                o: y + '%',
                c: u_color
              });
            }
          }
          // for area
          var gradients = this.bounderyLineGradientNode
            .attr('x1', 0).attr('y1', this.chartElement._height)
            .attr('x2', 0).attr('y2', 0)
            .selectAll('stop')
            .data(b_line);

          gradients.attr('offset', function(d) {
              return d.o;
            })
            .attr('stop-color', function(d) {
              return d.c;
            });

          gradients.enter()
            .append('stop')
            .attr('offset', function(d) {
              return d.o;
            })
            .attr('stop-color', function(d) {
              return d.c;
            });

          gradients.exit()
            .remove();
        }
        // TODO(?): update line, animated http://bl.ocks.org/benjchristensen/1148374
      }

      _defined(d, i, data) {
        var domainX = this.chartElement._x.domain(),
          yScale = this.chartElement.yScale;

        if (!Number.isFinite(d.y))
          return null;
        else if ((yScale === 'ln' || yScale === 'log₁₀') && d.y <= 0)
          return null; // log- and sqrt-scales require larger than 0-Values
        // else if ((d.x >= domainX[0] && d.x <= domainX[1]) ||
        //   (data[i + 1] && data[i + 1].x >= domainX[0] && data[i + 1].x <= domainX[1]) ||
        //   (data[i - 1] && data[i - 1].x >= domainX[0] && data[i - 1].x <= domainX[1]))
        //   return true; // only numbers in x-Domain are shown (and their successor and predecessor) (graph is a function by definition, so y-Domain is not relevant)
        // else
        //   return false;
        return true;
      }

      // finding the closest Point relativly to a mouse-Coordinate m (stabil)
      // if looking just at to path (instabil): https://bl.ocks.org/mbostock/8027637 https://pomax.github.io/bezierinfo/#projections
      _closestPoint(m) {
        // find good prediction
        var _x = this.chartElement._x,
          _y = this.chartElement._y,
          values = this.values,
          x_0 = _x.invert(m[0]),
          precision = Math.ceil(this.chartElement._width / values.length),
          variance = Math.pow(Math.ceil(values.length / this.chartElement._width), 2),
          mid = this.bisectDate.left(values, x_0, 0, values.length - 1),
          r2 = pixdistance2(values[mid]),
          searchRadius = Math.sqrt(r2) / variance;
        var x_lo = _x.invert(m[0] - searchRadius),
          lo = this.bisectDate.left(values, x_lo, 0, mid),
          hi = 2 * mid - lo;

        if (lo < 0) lo = 0;
        if (hi > values.length) hi = values.length;

        var minDist = r2,
          currentDist,
          pos = mid;
        // linear scan for coarse approximation
        for (i = lo; i < hi; i += precision) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            mid = i, minDist = currentDist;
          }
        }
        pos = mid;

        // linear search in positive prediction radius
        for (var i = mid + 1; i < hi && i < mid + precision - 1; i++) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            minDist = currentDist;
            pos = i;
          }
        }

        // linear search in negative prediction radius
        for (var i = mid - 1; i > lo && i > mid - precision + 1; i--) {
          if ((currentDist = pixdistance2(values[i])) < minDist) {
            minDist = currentDist;
            pos = i;
          }
        }

        return values[pos];

        function pixdistance2(p) {
          var dx = _x(new Date(p.x)) - m[0],
            dy = _y(p.y) - m[1];
          return dx * dx + dy * dy;
        }
      }

      // finding the closest interpolated Point relativly to a mouse-Coordinate m
      // https://bl.ocks.org/mbostock/8027637
      // https://pomax.github.io/bezierinfo/#projections
      _closestInterpolatedPoint(point, pathNode) {
        pathNode = pathNode || this.areaNode.node() || this.lineNode.node();
        var pathLength = pathNode.getTotalLength(),
          precision = Math.ceil(pathLength / this.chartElement._width / 2.0) * 2,
          best,
          bestLength,
          bestDistance = Infinity;

        // linear scan for coarse approximation
        for (var scan, scanLength = 0, scanDistance; scanLength <= pathLength; scanLength += precision) {
          if ((scanDistance = distance2(scan = pathNode.getPointAtLength(scanLength))) < bestDistance) {
            best = scan, bestLength = scanLength, bestDistance = scanDistance;
          }
        }

        // binary search for precise estimate
        precision /= 2;
        while (precision > 0.5) {
          var before,
            after,
            beforeLength,
            afterLength,
            beforeDistance,
            afterDistance;
          if ((beforeLength = bestLength - precision) >= 0 && (beforeDistance = distance2(before = pathNode.getPointAtLength(beforeLength))) < bestDistance) {
            best = before, bestLength = beforeLength, bestDistance = beforeDistance;
          } else if ((afterLength = bestLength + precision) <= pathLength && (afterDistance = distance2(after = pathNode.getPointAtLength(afterLength))) < bestDistance) {
            best = after, bestLength = afterLength, bestDistance = afterDistance;
          } else {
            precision /= 2;
          }
        }

        best = {
          x: this.chartElement._x(best.x),
          y: this.chartElement._y(best.y)
        };
        best.distance = Math.sqrt(bestDistance);
        return best;

        function distance2(p) {
          var dx = p.x - point[0],
            dy = p.y - point[1];
          return dx * dx + dy * dy;
        }
      }

      setColor(color) {
        // random color if color is not set
        super.setColor.call(this, color);
        this._setColorProperties();
      }

      clearValues(force) {
        super.clearValues.call(this, force);
      }

      _getStrokeColor(d) {
        if (this.item.threshold) {
          switch (d.state) {
            case 1:
              return this.getComputedStyleValue('device-state-exceeds-color') || '#F20C0C';
            case -1:
              return this.getComputedStyleValue('device-state-deceeds-color') || '#F20C0C';
          }
        }
        return this.item.color || '#fff';
      }

      _lineWidthChanged(lineWidth) {
        if (this.lineNode && this.lineNode.attr) {
          this.lineNode.attr('stroke-width', lineWidth);
        }
      }

      changeScale(newValue, oldValue) {
        // if (oldValue === undefined) return;
        // var domainY = this._y.domain();
        // if (this.yScale === 'ln' || this.yScale === 'log₁₀') {
        //   if (domainY[0] <= 0) {
        //     domainY[0] = Number.EPSILON;
        //   }
        //   if (domainY[1] <= 0) {
        //     domainY[1] = Number.EPSILON;
        //   }
        // }
        // this._hideInfo();
        // this._y = this._createScaleFn(this.yScale);
        // this._y.domain(domainY).nice(this.yTicks);
        // this.set('domainY', domainY);
        // this._sizeChanged();
      }

      _interpolationChanged(interpolation) {
        if (!this._inialized) {
          return;
        }
        var curve;
        switch (interpolation) {
          case 'Basis Spline':
            curve = d3.curveBasis;
            break;
          case 'Monotoner Spline':
            curve = d3.curveMonotoneX;
            break;
          case 'Kubischer Spline':
            curve = d3.curveNatural;
            break;
          case 'Cardinaler Spline':
            curve = d3.curveCardinal;
            break;
          case 'Catmull-Rom-Spline':
            curve = d3.curveCatmullRom;
            break;
          case 'Stufe (mitte)':
            curve = d3.curveStep;
            break;
          case 'Stufe (davor)':
            curve = d3.curveStepAfter;
            break;
          case 'Stufe (danach)':
            curve = d3.curveStepBefore;
            break;
          default:
            curve = d3.curveLinear;
            break;
        }
        this.areaFn.curve(curve);
        this.lineFn.curve(curve);

        if (this.chartElement)
          this.chartElement.redraw();
      }
    }
    customElements.define(DeviceGraph.is, DeviceGraph);
  </script>

</dom-module>
