<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="mixins/localize-mixin.html">

<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="components/icon-button.html">
<link rel="import" href="components/dialog-element.html">
<link rel="import" href="style/input-style.html">
<link rel="import" href="style/button-style.html">

<dom-module id="dialog-login">
  <template>
    <style include="input-style button-style">
      :host {
        outline: none;
      }
      #signinform {
        @apply --layout-vertical;
        @apply --layout-center-center;
        font-size: 1em;
        padding: 1em 0 0;
      }
      .usercard {
        @apply --layout-horizontal;
        @apply --layout-center-center;
        padding: 0.75em 1em;
        margin: 0.5em 0;
        background: rgba(0,0,0,0.1);
      }
      iron-icon {
        margin-right: 0.5em;
      }
      .input > iron-icon {
        margin-right: 0.25em;
      }
      .input:not(:last-of-type)::after {
        position: relative;
        display: block;
        content: "";
        height: 1em;
      }
      [hidden] {
        display: none !important;
      }
      .buttons {
        padding-top: 0.5em;
      }
      .button:first-of-type {
        margin-left: 0;
      }
      .button {
        padding: 0.75em 0.5em;
      }
      .button > .left {
        margin-right: 0.5em;
      }
      [dialog-title] > * {
        font-size: 1.1em;
      }
      [dialog-title] > *:first-child:not(:only-child) {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0.9em;
      }
      [dialog-title] > *:only-child {
        font-size: 1em;
      }
    </style>

    <dialog-element id="dialog">
      <template is="dom-if" if="[[!loggedIn]]">
        <div dialog-title id="loginInfo">
          <div>{{localize('login', 'name')}}</div>
          <div>{{localize('login', 'title')}}</div>
        </div>

        <form dialog-content id="signinform" on-submit="onSubmit" method="POST">
          <section class="input">
            <iron-icon class="left" icon="person-add"></iron-icon>
            <input id="username" autocomplete="username" name="username" type="text" pattern=".{1,32}\..{1,32}" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder$="{{localize('login', 'username')}}" required>
            <div class="decorator" error-message$="{{localize('login', 'invalid-username')}}" aria-hidden="true">
              <label>{{localize('login', 'username')}}</label>
              <div class="underline"></div>
            </div>
          </section>

          <section class="input">
            <iron-icon class="left" icon="more-horiz"></iron-icon>
            <input id="password" required autocomplete="current-password" pattern=".{6,64}" name="password" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder$="{{localize('login', 'password')}}" type="password">
            <div class="decorator" error-message$="{{localize('login', 'invalid-password')}}" aria-hidden="true">
              <label>{{localize('login', 'password')}}</label>
              <div class="underline"></div>
            </div>
          </section>

          <div class="buttons">
            <div class="button" on-tap="onReset">
              <paper-ripple></paper-ripple>
              <iron-icon class="left" icon="close"></iron-icon>
              <input type="reset" value$="{{localize('login', 'reset')}}"/>
            </div>
            <div class="button" on-tap="onSubmit">
              <paper-ripple></paper-ripple>
              <iron-icon class="left" icon="group-add"></iron-icon>
              <input type="submit" value$="{{localize('login', 'confirm')}}"/>
            </div>
          </div>
        </form>
      </template>

      <template is="dom-if" if="[[loggedIn]]">
        <div dialog-title>
          <div>{{localize('notification', 'loggedIn', loggedIn)}}</div>
        </div>
        <div dialog-content>
          <div class="usercard">
            <iron-icon class="left" icon="person"></iron-icon>
            <span>{{userProfile.username}}</span>
          </div>
        </div>

        <div dialog-bottom class="buttons">
          <div class="button" on-tap="signOut">
            <paper-ripple></paper-ripple>
            <iron-icon class="left" icon="person-outline"></iron-icon>
            {{localize('login', 'logout')}}
          </div>
        </div>
      </template>
    </dialog-element>

  </template>

  <script>
    class DialogLogin extends WebvisualMixins.LocalizeMixin(Polymer.Element) {

      static get is() {
        return 'dialog-login'
      }

      static get properties() {
        return {
          opened: {
            type: Boolean,
            reflectToAttribute: true,
            notify: true,
            observer: '_openedChanged'
          },

          userProfile: {
            type: Object
          },

          loggedIn: {
            type: Boolean,
            value: false,
            notify: true
          },

          signInUrl: {
            type: String,
            value: '/login'
          },

          signOutUrl: {
            type: String,
            value: '/logout'
          },

          languageResourcePrefix: {
            type: String,
            value: '/locales/ui/'
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.autoSignIn(false);
        requestAnimationFrame(() => {
          window.addEventListener('online', this.autoSignIn.bind(this));
          this.$.dialog.center();
        });
      }

      /**
       * Let users sign-in without typing credentials
       * @param  {Boolean} unmediated Determines if user mediation is required.
       * @return {Promise} Resolves if credential info is available.
       */
      autoSignIn(unmediated) {
        var p;
        if (navigator.credentials) {
          // Actual Credential Management API call to get credential object
          p = navigator.credentials.get({
              password: true,
              unmediated: unmediated
            }).then(cred => {
              if (cred) {
                // console.log('auto sign-in performed');
                if (cred.type === 'password') {
                  cred.idName = 'username';
                  //Return Promise from `signIn`
                  return this.signIn.call(this, this.signInUrl, cred);
                }
              } else {
                // console.log('auto sign-in not performed');
                // Reject if credential object is not available
                return Promise.reject();
                // return this.signIn.call(this, '/auth');
              }
            })
            .catch(this.notSignedIn.bind(this));
        } else {
          // Resolve if Credential Management API is not available
          // Fallback to server to check, if session-cookies are valid
          console.log('auto sign-in not available');
          p = this.signIn.call(this, '/auth');
        }
        Promise.resolve(p)
          .then(profile => {
            // When auto sign-in didn't resolve with a profile
            // it's failed to get credential information.
            if (!profile) {
              this.loggedIn = false;
              if (!this.offline) {
                this.open();
              }
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in',
                bubbles: true,
                composed: true
              }));
            } else {
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', true) : 'You are signed in',
                bubbles: true,
                composed: true
              }));
            }
          }, () => {
            this.loggedIn = false;
            if (!this.offline) {
              this.open();
            }
            // When rejected, authentication was performed but failed.
            this.dispatchEvent(new CustomEvent('announce', {
              detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in',
              bubbles: true,
              composed: true
            }));
          })
          .catch(err => {
            if (err)
              console.log(err);
            this.dispatchEvent(new CustomEvent('announce', {
              detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in',
              bubbles: true,
              composed: true
            }));
            if (!this.offline) {
              this.open();
            }
          });
      }

      /**
       * When password sign-in button is pressed.
       * @return {void}
       */
      onSubmit(e) {
        e.preventDefault();

        var signinForm = Polymer.dom(this.root).querySelector('#signinform');

        // Polymer `iron-form` feature to validate the form
        if (signinForm.validate && !signinForm.validate()) return;

        if (!signinForm.elements.username.value || !signinForm.elements.password.value) {
          this.notSignedIn.call(this, 401, 'password or username are empty')
            .catch(console.warn);
          return;
        }

        if (navigator.credentials) {
          // Construct `FormData` object from actual `form`
          var cred = new PasswordCredential(signinForm);
          // Sign-In with our own server
          this.signIn(this.signInUrl, cred)
            .then(profile => {
              navigator.credentials.store(cred);
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', true) : 'You are signed in',
                bubbles: true,
                composed: true
              }));
            }, () => {
              // Polymer event to notice user that 'Authentication failed'.
              this.loggedIn = false;
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in',
                bubbles: true,
                composed: true
              }));
              if (!this.offline) {
                this.open();
              }
            });
        } else {
          this.noCredApiSignIn(this.signInUrl, new FormData(signinForm))
            .then(() => {
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', true) : 'You are signed in',
                bubbles: true,
                composed: true
              }));
            }, () => {
              // Polymer event to notice user that 'Authentication failed'.
              this.loggedIn = false;
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in',
                bubbles: true,
                composed: true
              }));
              if (!this.offline) {
                this.open();
              }
            });
        }
      }

      onReset() {
        this.$$('#username').value = '';
        this.$$('#password').value = '';
      }

      /**
       * Let user sign-in using id/password
       * @param  {CredentialObject} cred FormData or CredentialObject
       * @return {Promise} Returns result of `noCredApiSignIn()`
       */
      signIn(url, cred) {
        return this._fetch(url, 'POST', cred || 'include', 'json')
          .then(this.signedIn.bind(this))
          .catch(this.notSignedIn.bind(this));
      }

      /**
       * Let user sign-out
       * @param  {CredentialObject} cred FormData or CredentialObject
       * @return {Promise} Returns result of `noCredApiSignIn()`
       */
      signOut() {
        // POST-ing credential object will be converted to FormData object
        return this._fetch(this.signOutUrl, 'POST', 'include', 'json', null, false, false, JSON.stringify(this.userProfile))
          .then(() => {
            if (navigator.credentials) {
              navigator.credentials.requireUserMediation();
            }
            this.loggedIn = false;
            this.userProfile = null;
            if (!this.offline) {
              this.open();
            }
          })
          .catch(this.notSignedIn.bind(this));
      }

      /**
       * User is signed in. Fill user info.
       * @param  {Object} profile Profile information object
       * @return {Promise} Resolves when authentication succeeded.
       */
      signedIn(profile) {
        if (profile && profile.username) {
          this.loggedIn = true;
          this.userProfile = {
            username: profile.username
          };
          return Promise.resolve(profile);
        } else {
          return Promise.reject();
        }
      }

      notSignedIn(err) {
        var status = '';
        this.loggedIn = false;
        if (err && err.statusCode) {
          if (err.statusCode >= 400 && err.statusCode < 500) {
            status = 'Login with Server failed';
          } else if (err.statusCode >= 500 && err.statusCode < 600) {
            status = 'Server-Error occured';
          } else {
            status = 'Unknown Error occured';
          }
        }
        this.dispatchEvent(new CustomEvent('announce', {
          detail: status ? status : statusText,
          bubbles: true,
          composed: true
        }));
        this.$$('#username').value = '';
        this.$$('#password').value = '';
        if (!this.offline) {
          this.open();
        }
      }

      /**
       * Authentication flow with our own server
       * @param  {String} url Credential type string.
       * @param  {FormData} loginData loginData to POST to the server
       * @return {Promise} Resolves when successfully authenticated
       */
      noCredApiSignIn(url, signinForm) {
        return this._fetch(url, 'POST', 'include', 'json', null, null, false, signinForm)
          .then(this.signedIn.bind(this))
          .catch(this.notSignedIn.bind(this));
      }

      _openedChanged(opened) {
        if (opened === true) {
          this.open();
        } else {
          this.close();
        }
      }

      open() {
        this.$.dialog.open();
        this.opened = true;
      }
      close() {
        this.$.dialog.close();
        this.opened = false;
      }
    }
    customElements.define(DialogLogin.is, DialogLogin);
  </script>

</dom-module>
