<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<link rel="import" href="behaviors/localize-behavior.html">

<link rel="import" href="style/button-style.html">

<link rel="import" href="components/dialog-element.html" />
<link rel="import" href="components/icon-button.html" />

<link rel="import" href="device-caption.html" />
<link rel="import" href="device-chart.html" />

<link rel="import" href="../bower_components/datetime-picker/datetime-picker.html">
<link rel="import" href="../bower_components/datetime-picker/calendar-element.html">

<dom-module id="dialog-detail-request">
  <template>
    <style include="button-style">
      :host {
        --caption-background: transparent;
        --caption-color: currentColor;
      }
      device-caption {
        align-items: baseline;
        justify-content: flex-start;
      }
      datetime-picker {
        --datetime-picker-input: {
          text-align: center;
          border: none;
          outline: none;
          border-bottom: thin solid currentColor;
        }
      }
      #chart {
        color: inherit;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .button {
        flex: 0;
      }
      .icon {
        color: currentColor;
        fill: currentColor;
      }
      [dialog-bottom] {
        @apply --layout-center-center;
        font-size: 0.9em !important;
        padding-left: 2em !important;
        padding-right: 2em !important;
      }
      [dialog-bottom] > * {
        align-self: stretch;
        margin: 0.25em !important;
        height: 2.5em;
      }
      .date {
        @apply --layout-inline;
        @apply --layout-center-center;
      }
      .date > * {
        margin: 0 0.25em;
        height: 100%;
      }
      .button {
        padding: 0.5em 1.5em;
      }
      .send {
        position: absolute !important;
        right: 4px;
        bottom: 4px;
      }
      #spinner {
        position: absolute !important;
        left: 4px;
        bottom: 4px;
        box-sizing: border-box;
        height: 40px;
        width: 40px;
        fill: currentColor;
      }
      #dialog {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        margin: 64px;
      }
      @media (max-width: 768px) {
        #dialog {
          margin: 0;
        }
      }
      [hidden] {
        display: none;
      }
    </style>

    <dialog-element id="dialog" opened="{{opened}}">
      <div dialog-title>
        <device-caption keys="[[item.keys]]"></device-caption>
      </div>

      <div dialog-content>
        <device-chart id="chart" opened="[[opened]]" item="[[item]]" no-link domain-x="{{domainX}}"></device-chart>
      </div>

      <section dialog-bottom>
        <div class="date">
          <iron-icon class="icon" icon="first-page"></iron-icon>
          <datetime-picker id="dateFrom" value="{{fromDate}}" date-string="{{_minDate}}" max-date="[[_maxDate]]" locales="[[language]]"></datetime-picker>
        </div>
        <div class="date">
          <iron-icon class="icon" icon="last-page"></iron-icon>
          <datetime-picker id="dateTo" value="{{toDate}}" date-string="{{_maxDate}}" min-date="[[_minDate]]" locales="[[language]]"></datetime-picker>
        </div>
      </section>

      <icon-button class="send" icon="date-range" title="{{localize('detail', 'query')}}" on-tap="requestFromSocket"></icon-button>

      <svg id="spinner" hidden$="[[!isLoading]]" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
          <path d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform
               attributeName="transform"
               attributeType="XML"
               type="rotate"
               dur="1s"
               from="0 50 50"
               to="360 50 50"
               repeatCount="indefinite" /></path>
      </svg>
    </dialog-element>

  </template>

</dom-module>

<script>
  (function() {
    Polymer({
      is: 'dialog-detail-request',

      behaviors: [
        WebvisualBehaviors.LocalizeBehavior
      ],

      properties: {

        item: {
          type: Object,
          value: function() {
            return {};
          }
        },

        opened: {
          type: Boolean,
          reflectToAttribute: true
        },

        isLoading: {
          type: Boolean,
          value: false
        },

        fromDate: {
          type: Number,
          value: +(new Date() - 3600000)
        },

        toDate: {
          type: Number,
          value: +(new Date())
        },

        domainX: {
          type: Array,
          observer: '_domainXChanged'
        }

      },

      listeners: {
        'dialog.iron-overlay-closed': '_reset',
        'dialog.iron-overlay-opened': '_resize'
      },

      requestFromSocket: function() {
        var req = {
          target: 'socket',
          operation: 'request',
          args: {
            mounts: [this.item.mount],
            from: this.fromDate,
            to: this.toDate
          }
        };

        var start = +(new Date());
        this.isLoading = true;
        Promise.resolve( new Promise( function(resolve, reject) {
            window.Webvisual.request(req, resolve);
          }))
          .then(function(res) {
            this.$.chart.clearValues(res);
            this.$.chart.insertValues(res);
            var remaining = new Date() - start;
            if (remaining < 1000) {
              this.async( function() {
                this.isLoading = false;
              }, remaining);
            } else {
              this.isLoading = false;
            }
          }.bind(this))
          .catch(function(err) {
            console.log(err);
          });
      },

      _domainXChanged: function() {
        if (this.domainX && Number.isFinite(this.domainX[0]) && Number.isFinite(this.domainX[1])) {
          this.set('fromDate', this.domainX[0]);
          this.set('toDate', this.domainX[1]);
        }
      },

      _reset: function(e) {
        // console.log(e);
      },

      _resize: function() {
        this.async(this.$.chart._sizeLayout.bind(this.$.chart), 50);
      },

      open: function() {
        this.$.dialog.open();
      },
      close: function() {
        this.$.dialog.close();
      }
    });
  })();
</script>
