<!--
work-around until problems are fixed with iron-query-location
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script>
  class IronQueryParams extends Polymer.Element {

    static get is() {
      return 'iron-query-params';
    }

    static get properties() {
      return {
        paramsString: {
          type: String,
          notify: true,
          observer: 'paramsStringChanged',
        },

        paramsObject: {
          type: Object,
          notify: true
        },

        _dontReact: {
          type: Boolean,
          value: false
        }
      }
    }

    static get  observers() {
      return [
          'paramsObjectChanged(paramsObject.*)'
        ];
    }

    paramsStringChanged(paramsString) {
      this._dontReact = true;
      this.paramsObject = this._decodeParams(paramsString);
      this._dontReact = false;
    }

    paramsObjectChanged() {
      // console.log(this.paramsObject);
      if (this._dontReact) {
        return;
      }
      let _encParams = this._encodeParams(this.paramsObject)
                .replace(/%3F/g, '?').replace(/%2F/g, '/').replace(/'/g, '%27');
      //Only set paramsString if encoding return non empty object
      if (_encParams) {
          this.paramsString = _encParams;
      }
    }

    _encodeParams(params) {
      const encodedParams = [];

      for (let key in params) {
        const value = params[key];

        if (value === '') {
          encodedParams.push(encodeURIComponent(key));

        } else if (value) {
          encodedParams.push(
              encodeURIComponent(key) +
              '=' +
              encodeURIComponent(value.toString())
          );
        }
      }
      return encodedParams.join('&');
    }

    _decodeParams(paramString) {
      const params = {};
      // Work around a bug in decodeURIComponent where + is not
      // converted to spaces:
      paramString = (paramString || '').replace(/\+/g, '%20');
      const paramList = paramString.split('&');
      for (let i = 0; i < paramList.length; i++) {
        const param = paramList[i].split('=');
        if (param[0]) {
          params[decodeURIComponent(param[0])] =
              decodeURIComponent(param[1] || '');
        }
      }
      return params;
    }
  }

  customElements.define(IronQueryParams.is, IronQueryParams);
</script>
