<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html" />
<link rel="import" href="behaviors/container-behavior.html" />
<link rel="import" href="components/drawer-element.html" />

<link rel="import" href="style/shared-style.html">

<dom-module id="page-detail">
  <template strip-whitespace>
    <style include="shared-style">
      :host {
        --control-button-distance: 2px;
        --drawer-width: 16em;
        --drawer-background: rgba(255,255,255,0.25);
        --drawer-content: {
          padding: 0;
          position: absolute;
        };
      }
      #content {
        display: flex;
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        height: 100%;
      }
      #control {
        display: block;
        height: 100%;
        box-sizing: border-box;
      }
      #chart,
      #svg {
        max-height: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        color: var(--bright-text-color);
      }
      #svg {
        overflow: hidden;
        --control-bottom: 4px;
        --control-right: 16px;
      }
      #chart {
        --chart-plot-background-color: #e1e1e1;
        --chart-plot-background-opacity: 1;
        --focus-color: var(--primary-text-color);
        /*--control-bottom: 20px;*/
        margin: 6px 20px;
      }
      :host([plain]) #chart,
      :host([dark]) #chart {
        --chart-plot-background-opacity: 0.2;
        --focus-color: currentColor;
      }
      #chart[fullheight] {
        max-height: 100%;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        flex-grow: 1;
        --chart-plot-background-opacity: 0.5;
      }
      .spacer {
        flex: 0 0 auto;
        padding: 0.25em;
      }
      #currentSelected {
        max-height: 2.75em;
        flex: 0 0 auto;
        justify-content: center;
        padding: 0.75em 5vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--bright-text-color);
      }
      #elementTable,
      #deviceTabs {
        height: 50%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
      }
      #deviceTabs {
        padding-bottom: 0.3em;
        --highlight-color: var(--secondary-color, white);
      }
      #elementTable {
        padding-top: 0.3em;
        height: 50%;
      }
      #elementDrawer {
        position: absolute;
      }
      :host(.fullscreen) #elementDrawer {
        display: none;
      }
      .checkbox {
        width: 100%;
        --checkbox-unchecked-color: var(--bright-text-color);
        --checkbox-checked-color: var(--primary-text-color);
        --checkbox-checked-background: {
          background-color: rgba(255, 255, 255, 0.75);
          border-left: medium solid var(--secondary-color, white);
          border-bottom: none;
        };
        --checkbox-unchecked-background: {
          background-color: transparent;
          border-left: none;
        };
      }
      .caption {
        --caption-background: transparent;
        --caption-color: currentColor;
      }
      @media (max-width: 600px) {
        #deviceTabs {
          background-color: rgba(255,255,255,0.25);
        }
      }
      @media (min-width: 601px) {
        #content {
          margin-right: 16em;
        }
        #elementDrawer {
          right: -16em;
        }
      }
      @media (min-width: 800px) {
        #chart,
        #svg {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
      @media (min-width: 1280px) {
        #chart,
        #svg {
          padding-left: 1em;
          padding-right: 1em;
        }
      }
      @media (min-width: 1600px) {
        #chart,
        #svg {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }

    </style>

    <iron-media-query query="(max-width: 600px)" query-matches="{{narrowLayout}}"></iron-media-query>

    <svg-data hidden
      room="[[room]]"
      logged-in="[[loggedIn]]"
      data="{{svgData}}"></svg-data>

    <div id="content">

      <device-chart id="chart" opened="[[visible]]" fullheight$="[[!_withSvg]]" disable-upgrade$="[[!visible]]"
        items="[[items]]" multi></device-chart>

      <template is="dom-if" if="[[_withSvg]]">
        <device-svg id="svg" disable-upgrade$="[[!visible]]"
          opened="[[visible]]"
          url-prefix="/images/[[room]]/"
          src="[[item.svg.path]]"
          selectable-items="[[_getSvgSelectable(item.svg.path, svgData.paths)]]"
          items="[[items]]"
          multi
          exceeding="[[exceeding]]"></device-svg>
      </template>

      <div class="spacer" hidden$="[[narrowLayout]]"></div>
      <template is="dom-if" if="[[narrowLayout]]">
        <device-caption id="currentSelected" class="caption" keys="[[item.keys]]"></device-caption>
      </template>

      <drawer-element id="elementDrawer" opened$="[[_ensureOpened(narrowLayout)]]" swipe-open$="[[narrowLayout]]" scrim persistent$="[[!narrowLayout]]" align="right" stretch>

        <tabs-container id="deviceTabs" vertical selected-values="{{selectedMounts}}" attr-for-selected="mount" selected-items="{{selectedCheckboxes}}" multi selected-attribute="checked">

          <template is="dom-repeat" items="[[_getListItems(elements)]]">
                <device-checkbox class="checkbox"
                  mount$="[[item.mount]]"
                  item="[[item]]"
                  tap-event="detail-request"
                  selectable>
                  <device-caption class="caption"
                    keys="[[item.keys]]"></device-caption>
                </device-checkbox>
              </template>
        </tabs-container>

        <device-table id="elementTable" full-date item="[[item]]" keys-for-caption></device-table>
      </drawer-element>
    </div>
  </template>

  <script>
    class PageDetail extends WebvisualBehaviors.ContainerBehavior(Polymer.MutableData(Polymer.mixinBehaviors(
      [Polymer.IronResizableBehavior], Polymer.Element))) {

      static get is() {
        return 'page-detail';
      }

      static get properties() {
        return {
          query: {
            type: String,
            notify: true,
            observer: '_queryChanged'
          },

          selectedMounts: {
            type: Array,
            notify: true,
            observer: '_selectedMountsChanged'
          },

          selectedCheckboxes: {
            type: Array,
            observer: '_selectedCheckboxesChanged'
          },

          loggedIn: {
            type: Boolean
          },

          elements: {
            type: Array,
            notify: true
          },

          item: {
            type: Object,
            notify: true,
            value: function() {
              return {};
            }
          },

          items: {
            type: Array,
            notify: true,
            value: function() {
              return [];
            }
          },

          room: {
            type: String,
            notify: true
          },

          multi: {
            type: Boolean,
            value: true
          },

          svgData: {
            type: Object
          },

          visible: {
            type: Boolean,
            observer: '_visibleChanged'
          },

          _withSvg: {
            type: Boolean,
            computed: '_hasSvg(item, svgData.paths)'
          },

          selectNotify: {
            type: Boolean,
            value: true
          },

          exceedNotify: {
            type: Boolean,
            value: true
          },

          narrowLayout: {
            type: Boolean,
            value: false,
            notify: true
          },

          showToggleIcon: {
            type: Boolean,
            notify: true,
            computed: '_computeShowToggleIcon(narrowLayout, visible)'
          }

        }
      }

      connectedCallback() {
        this._debounceResize();
      }

      _onItemsChanged(items) {
        console.log('item-select', items);
      }

      _queryChanged(query) {
        if (!query) {
          return;
        }
        this.set('selectedMounts', query.split(','));
      }

      _selectedMountsChanged(selectedMounts) {
        var elements = this.elements;
        var mount;
        for (var i = 0; i < this.selectedCheckboxes.length; i++) {
          mount = this.selectedCheckboxes[i].mount;
          if (selectedMounts.indexOf(mount) === -1) {
            this.splice('selectedCheckboxes', i, 1);
            i--;
          }
        }
        this.set('query', selectedMounts.join(','));
      }

      _selectedCheckboxesChanged(selectedCheckboxes) {
        var selectedMounts = this.selectedMounts;
        if (selectedCheckboxes) {
          var mount;
          for (var i = 0; i < selectedCheckboxes.length; i++) {
            mount = selectedCheckboxes[i].mount;
            if (mount && selectedMounts.indexOf(mount) === -1) {
              selectedMounts.push(mount);
            }
          }
          if (selectedCheckboxes.length) {
            selectedCheckboxes[selectedCheckboxes.length-1].scrollIntoViewIfNeeded(true);
          }
          this.set('selectedMounts', selectedMounts);
        }
      }

      _getListItems(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}];
      }

      _hasSvg(item, svgPaths) {
        // notify the chart to resize
        var _withSvg = Boolean(item && item.svg && item.svg.path && svgPaths && svgPaths[item.svg.path])
        if (_withSvg !== this._withSvg) {
          this._debounceResize();
        }
        return _withSvg;
      }

      _getSvgSelectable(src, svgPaths) {
        return svgPaths[src] || {};
      }

      _ensureOpened(narrowLayout) {
        return true; // if 'narrowLayout' changes the drawer is opened
      }

      _computeShowToggleIcon(narrowLayout, visible) {
        return narrowLayout && visible;
      }

      toggleControlDrawer() {
        this.$.elementDrawer.toggle();
      }

      _debounceResize() {
        setTimeout(() => {
          if (this.narrowLayout) {
            this.$.elementDrawer.open();
          }
          if (this.selectedCheckboxes && this.selectedCheckboxes.length) {
            this.selectedCheckboxes[this.selectedCheckboxes.length-1].scrollIntoViewIfNeeded(true);
          }
          this.notifyResize();
        }, 0);
      }

      _visibleChanged(visible) {
        if (visible) {
          this._debounceResize();
        }
      }
    }
    customElements.define(PageDetail.is, PageDetail);
  </script>

</dom-module>
