<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/webvisual-elements/shared-styles/grid-layout.html">
<link rel="import" href="../bower_components/webvisual-elements/device/device-group-card.html">
<link rel="import" href="data/group-data.html">

<dom-module id="page-groups">
  <template strip-whitespace>
    <style include="grid-layout">
      :host(:not([plain])) .grid.sign li > * {
        border-radius: 12px;
      }
      :host([plain]) .grid.sign li > * {
        border-radius: 8px;
      }
      .grid.sign li > * {
        box-shadow: none !important;
        border: thin solid var(--grid-border-color, rgba(0,0,0,0.5));
      }
      .grid.sign li > :first-child {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-width: 0px !important;
      }
      .grid.sign li > :last-child {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
      }
      @media (min-width: 1981px) {
        .grid.sign li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 6.6%;
          flex-basis: 6.6%;
          max-width: 6.6%;
        }
      }
      @media (max-width: 1980px) {
        .grid.sign li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 8.25%;
          flex-basis: 8.25%;
          max-width: 8.25%;
        }
      }
      @media (max-width: 1280px) {
        .grid.sign li {
          -webkit-flex-basis: 33.3%;
          flex-basis: 33.3%;
          max-width: 33.3%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 11.1%;
          flex-basis: 11.1%;
          max-width: 11.1%;
        }
      }
      @media (min-width: 768px) and (max-width: 900px) {
        .grid.sign li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 14.2%;
          flex-basis: 14.2%;
          max-width: 14.2%;
        }
      }
      @media (min-width: 521px) and (max-width: 767px) {
        .grid.sign li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 16.6%;
          flex-basis: 16.6%;
          max-width: 16.6%;
        }
      }
      @media (max-width: 520px) {
        .grid.sign li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
      }
      @media (max-width: 360px) {
        .grid.sign li {
          -webkit-flex-basis: 33.3%;
          flex-basis: 33.3%;
          max-width: 33.3%;
        }
        .grid li:only-of-type .grid.sign li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }
      :host(:-webkit-full-screen-ancestor) device-group-card:not(.fullscreen) {
        visibility: hidden;
      }
      [hidden] {
        display: none !important;
      }
    </style>

    <iron-location query="{{query}}"></iron-location>
    <iron-query-params params-string="{{query}}" params-object="{{queryParams}}"></iron-query-params>

    <group-data
      room="[[queryParams.room]]"
      subgroups="{{subgroups}}"
      group-by="{{groupBy}}"
      grouping-keys="{{groupingKeys}}"></group-data>

    <svg-data
      room="[[queryParams.room]]"
      data="{{svgData}}"></svg-data>

    <template is="dom-if" if="[[visible]]">
      <ul class="grid">
        <template is="dom-repeat" id="cards" items="[[_getSubGroups(subgroups)]]" as="group">
          <li>
            <device-group-card
              title="[[group.title]]"
              open-on-select
              open-on-exceed
              multi
              svg-url-prefix="/images/[[queryParams.room]]/"
              svg-src-path="[[group.svg]]"
              svg-selectable="[[_getSvgSelectable(group.svg, svgData)]]">

              <ul class="grid sign">
                <template is="dom-repeat" items="[[group.items]]" as="id" sort="_sort">
                  <li>
                    <device-sign
                      item="[[_getItem(id, elements, visible)]]"
                      title$="[[item.title]]"
                      show-date
                      no-link="[[!visible]]"
                      selectable></device-sign>
                    <device-caption
                      vertical
                      title$="[[item.title]]"
                      keys="[[_getItemKeys(id, elements)]]"
                      group-by='[[groupBy]]' without-group-by></device-caption>
                  </li>
                </template>
              </ul>
            </device-group-card>
          </li>
        </template>
      </ul>
    </template>
  </template>

  <script>
    class PageGroups extends Polymer.Element {

      static get is() {
        return 'page-groups';
      }

      static get properties() {
        return {

          elements: {
            type: Array,
            notify: true
          },

          groupingKeys: {
            type: Array,
            notify: true
          },

          subgroups: {
            type: Array,
            notify: true
          },

          groupBy: {
            type: String,
            notify: true,
            observer: '_groupByChanged'
          },

          visible: {
            type: Boolean
          },

          svgData: {
            type: Object
          }
        }
      }

      _getSubGroups(subgroups) {
        // Return placeholder items when the items haven't loaded yet.
        if (subgroups) {
          if (subgroups.length === 1) {
            return subgroups;
          }
          if (subgroups.length > 1) {
            return subgroups.filter(s => {return s.title !== ''});
          }
        }
        return [{}, {}, {}, {}, {}];
      }

      _getItem(id, elements) {
        if (id && elements) {
          for (let i = 0, item; (item = elements[i]); ++i) {
            if (item.id === id) {
              return item;
            }
          }
        }
        return {};
      }

      _getItemKeys(id, elements) {
        if (id && elements) {
          for (let i = 0, item; (item = elements[i]); ++i) {
            if (item.id === id) {
              return item.keys;
            }
          }
        }
        return {};
      }

      _getSvgSelectable(src, svgSrcPaths) {
        return svgSrcPaths && svgSrcPaths[src] || {};
      }

      _sort(a, b) {
        return a.localeCompare(b);
      }

      _groupByChanged(groupBy, old) {
        if (old !== undefined) {
          const sel = Polymer.dom(this.root).querySelectorAll('[is-device]');
          sel.forEach(function(el) {
            el.reset();
          });

          const cards = Polymer.dom(this.root).querySelectorAll('device-group-card');
          cards.forEach(function(gr) {
            gr.clearItems();
            gr._resetTransitionState();
          });
        }
      }
    }
    customElements.define(PageGroups.is, PageGroups);
  </script>

</dom-module>
