<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../bower_components/polymer/lib/mixins/mutable-data.html"> -->
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="mixins/container-mixin.html">
<link rel="import" href="components/drawer-element.html">

<link rel="import" href="style/shared-style.html">

<dom-module id="page-detail">
  <template strip-whitespace>
    <style include="shared-style">
      :host {
        --control-button-distance: 2px;
        --drawer-width: 16em;
        --drawer-background: rgba(255,255,255,0.25);
        --drawer-content: {
          padding: 0;
          position: absolute;
        };
      }
      #content {
        display: flex;
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        height: 100%;
      }
      #control {
        display: block;
        height: 100%;
        box-sizing: border-box;
      }
      #chart,
      #svg {
        max-height: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        color: var(--bright-text-color);
      }
      #svg {
        overflow: hidden;
        --control-bottom: 4px;
        --control-right: 16px;
      }
      #chart {
        margin: 0.5em 0.5em 16px 16px;
        --chart-plot-background-color: #fff;
        --chart-plot-background-opacity: 0.75;
        /*--control-bottom: 20px;*/
      }
      :host([dark]) #chart {
        --chart-plot-background-opacity: 0.2;
      }
      #chart[fullheight] {
        max-height: 100%;
        -webkit-flex-basis: 1px;
        flex-basis: 1px;
        flex-grow: 1;
        --chart-plot-background-opacity: 0.5;
      }
      .spacer {
        flex: 0 0 auto;
        padding: 0.25em;
      }
      #table,
      #tabs {
        flex: 1 0 50%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
      }
      #tabs {
        padding-bottom: 0.1em;
        --highlight-color: var(--secondary-color, white);
      }
      #table {
        padding-top: 0.1em;
        height: 50%;
      }
      #drawer {
        position: absolute;
      }
      :host(.fullscreen) #drawer {
        display: none;
      }
      .checkbox {
        width: 100%;
        --checkbox-unchecked-color: var(--bright-text-color);
        --checkbox-checked-color: var(--primary-text-color);
        --checkbox-checked-background: {
          background-color: rgba(255, 255, 255, 0.75);
          border-top: thin solid rgba(0,0,0,0.2);
          border-left: medium solid rgba(0,0,0,0.5);
        };
        --checkbox-unchecked-background: {
          background-color: transparent;
          border-left: none;
        };
      }
      .caption {
        --caption-background: transparent;
        --caption-color: currentColor;
      }
      @media (max-width: 600px) {
        #drawer {
          --drawer-background: rgba(255,255,255,0.33);
        }
      }
      @media (min-width: 601px) {
        #content {
          margin-right: 16em;
        }
        #drawer {
          right: -16em;
          --drawer-background: rgba(255,255,255,0.0);
        }
      }
    </style>

    <iron-media-query query="(max-width: 600px)" query-matches="{{narrowLayout}}"></iron-media-query>

    <svg-data hidden
      room="[[room]]"
      logged-in="[[loggedIn]]"
      data="{{svgData}}"></svg-data>

    <div id="content">

      <template is="dom-if" if="[[_withSvg]]">
        <device-svg id="svg"
          opened$="[[visible]]"
          url-prefix="/images"
          src="[[_svgSrcPath]]"
          selectable-items="[[_getSvgSelectable(item.svg.path, svgData)]]"
          item="[[item]]"
          items="[[items]]"
          multi
          exceeding="[[exceeding]]"></device-svg>
      </template>

      <device-chart id="chart" opened$="[[visible]]" fullheight$="[[!_withSvg]]"
        items="[[items]]" multi></device-chart>

      <drawer-element id="drawer" opened$="[[_ensureOpened(narrowLayout)]]" swipe-open$="[[narrowLayout]]" scrim persistent$="[[!narrowLayout]]" align="right" stretch>
        <tabs-container id="tabs" multi vertical items="{{checkboxes}}" selected-items="{{selectedCheckboxes}}" attr-for-selected="id" activate-event="item-select">
          <template id="tablist" is="dom-repeat" items="[[elements]]">
            <device-checkbox class="checkbox"
              id="[[item.id]]"
              item="[[item]]"
              selectable>
              <device-caption class="caption" keys="[[item.keys]]"></device-caption>
            </device-checkbox>
          </template>
        </tabs-container>
        <device-table-group id="table" items="[[items]]" selected-mount="[[item.mount]]" hidden$="[[nothingSelected]]"></device-table-group>
      </drawer-element>

    </div>
  </template>

  <script>
    class PageDetail extends Polymer.mixinBehaviors(
      [Polymer.IronResizableBehavior], WebvisualMixins.ContainerMixin(Polymer.Element)) {

      static get is() {
        return 'page-detail';
      }

      static get properties() {
        return {

          query: {
            type: String,
            notify: true
          },

          checkboxes: {
            type: Array,
            notify: true
          },

          selectedCheckboxes: {
            type: Array,
            notify: true
          },

          loggedIn: {
            type: Boolean
          },

          elements: {
            type: Array,
            value: function() {
              return [];
            }
          },

          room: {
            type: String,
            notify: true
          },

          multi: {
            type: Boolean,
            value: true
          },

          svgData: {
            type: Object
          },

          visible: {
            type: Boolean,
            notify: true,
            observer: '_visibleChanged'
          },

          _withSvg: {
            type: Boolean,
            computed: '_hasSvg(_svgSrcPath, visible)'
          },

          _svgSrcPath: {
            type: Boolean,
            computed: '_computeSvgSrcPat(room, item, svgData)'
          },

          selectNotify: {
            type: Boolean,
            value: true
          },

          exceedNotify: {
            type: Boolean,
            value: true
          },

          narrowLayout: {
            type: Boolean,
            value: false,
            notify: true
          },

          showToggleIcon: {
            type: Boolean,
            notify: true,
            computed: '_computeShowToggleIcon(narrowLayout, visible)'
          },

          nothingSelected: {
            type: Boolean,
            notify: true,
            computed: '_computeNothingSelected(items.length)'
          }
        }
      }

      static get observers() {
        return [
          '_queryChanged(query, checkboxes, visible)',
          '_selectedCheckboxesChanged(selectedCheckboxes, checkboxes, visible)'
        ]
      }

      connectedCallback() {
        super.connectedCallback();
        this._debounceResize();
      }

      _queryChanged(query, checkboxes, visible) {
        if (query === undefined || checkboxes === undefined || !visible) return;
        query = query || '';

        var ids = query.split('/').filter(id => {
          return checkboxes.some(c => {
            return c.id === id;
          })
        });

        checkboxes.forEach(c => {
          if (ids.indexOf(c.id) !== -1) {
            c.checked = true;
          }
        })
      }

      _selectedCheckboxesChanged(selectedCheckboxes, checkboxes, visible) {
        if (selectedCheckboxes === undefined || checkboxes === undefined || checkboxes.length === 0 || !visible) return;
        var ids = selectedCheckboxes.map(c => {
          return c.id;
        })
        var query = ids.join('/');
        if (query !== this.query) {
          this.set('query', query);
        }
        var len = this.items.length, pos = this.indexOf(this.items, this.item);
        this.items = this.items.filter(item => {
          return ids.indexOf(item.id) !== -1
        })
        if (len !== this.items.length) {
          setTimeout(() => {
            var index = this.indexOf(this.items, this.item)
            if (this.items.length === 0 || index === -1) {
              this.set('item', null);
            } else if (pos !== index) {
              this.set('item', this.items[index]);
            }
            this.notifyPath('items');
          }, 0)
        }
      }

      _hasSvg(path, visible) {
        // notify the chart to resize
        var _withSvg = Boolean(path && visible);
        if (_withSvg !== this._withSvg) {
          this._debounceResize();
        }
        return _withSvg;
      }

      _computeSvgSrcPat(room, item, svgPaths) {
        var path = '';
        if (room && item && item.svg && item.svg.path && svgPaths && svgPaths[item.svg.path])
          path = '/' + room + '/' + item.svg.path;
        return path;
      }

      _getSvgSelectable(src, svgPaths) {
        return svgPaths[src] || {};
      }

      _ensureOpened(narrowLayout) {
        return true; // if 'narrowLayout' changes the drawer is opened
      }

      _computeShowToggleIcon(narrowLayout, visible) {
        return narrowLayout && visible;
      }

      _computeNothingSelected(itemsLength) {
        return !itemsLength;
      }

      toggleControlDrawer() {
        if (!this._drawer) {
          this._drawer = this.$$('#drawer');
        }
        if (this._drawer) {
          this._drawer.toggle();
        }
      }

      _fireResize() {
        this.dispatchEvent(new CustomEvent('iron-resize', {
          bubbles: false, composed: true, node: this
        }));
      }

      _debounceResize() {
        setTimeout(() => {
          if (this.narrowLayout) {
            if (!this._drawer) {
              this._drawer = this.$$('#drawer');
            }
            if (this._drawer) {
              this._drawer.opened = true;
            }
          }
          this.notifyResize();
        }, 0);
      }

      _visibleChanged(visible) {
        if (visible === true) {
          this._debounceResize();
        } else if (visible === false) {
          this.selectedCheckboxes.forEach(c => {
            // prevent checkbox from firing change event while unsetting
            c.select(false);
          })
          this.clearExceedings();
          this.clearItems();
          this.room = '';
        }
      }
    }
    customElements.define(PageDetail.is, PageDetail);
  </script>

</dom-module>
