<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="mixins/container-mixin.html">
<link rel="import" href="components/drawer-element.html">
<link rel="import" href="data/group-data.html">
<link rel="import" href="data/svg-data.html">

<link rel="import" href="style/shared-style.html">
<link rel="import" href="style/selectbox-style.html">

<dom-module id="page-detail">
  <template strip-whitespace>
    <style include="shared-style selectbox-style">
      :host {
        --control-button-distance: 2px;
        --drawer-width: 16em;
        --drawer-background: rgba(255,255,255,0.25);
        --drawer-content: {
          padding: 0;
          position: absolute;
        };
      }
      #content {
        display: flex;
        flex-direction: column;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        height: 100%;
      }
      #control {
        display: block;
        height: 100%;
        box-sizing: border-box;
      }
      #chart,
      #svg {
        max-height: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        color: var(--bright-text-color);
      }
      #svg {
        overflow: hidden;
        --control-bottom: 8px;
        --control-right: 16px;
      }
      #chart {
        padding-left: 8px;
        --chart-plot-background-color: #fff;
        --chart-plot-background-opacity: 0.8;
        --control-top: 14px;
        --control-bottom: auto;
        --control-right: 16px;
      }
      #chart[fullheight] {
        padding-bottom: 8px;
        max-height: 100%;
        -webkit-flex-basis: 1px;
        flex-basis: 1px;
        flex-grow: 1;
      }
      :host([dark]) #chart {
        --chart-plot-background-opacity: 0.2;
        --focus-opacity: 1;
      }
      :host([dark]) #chart[fullheight] {
        --chart-plot-background-opacity: 0.4;
      }
      :host([dark][plain]) #chart[fullheight] {
        --focus-color: #000;
      }
      .spacer {
        flex: 0 0 auto;
        padding: 0.25em;
      }
      #table,
      #tabs {
        flex: 1 0 1px;
        width: 100%;
        position: relative;
        box-sizing: border-box;
      }
      #tabs {
        padding-bottom: 0.1em;
        --highlight-color: var(--secondary-color, white);
      }
      #table {
        padding-top: 0.1em;
      }
      #drawer {
        position: absolute;
      }
      :host(.fullscreen) #drawer {
        display: none;
      }
      .checkbox {
        width: 100%;
        --checkbox-unchecked-color: var(--bright-text-color);
        --checkbox-checked-color: var(--primary-text-color);
        --checkbox-checked-background: {
          background-color: rgba(255, 255, 255, 0.75);
          border-top: thin solid rgba(0,0,0,0.2);
          border-left: medium solid rgba(0,0,0,0.5);
        };
        --checkbox-unchecked-background: {
          background-color: transparent;
          border-left: none;
        };
      }
      .caption {
        --caption-background: transparent;
        --caption-color: currentColor;
      }
      .groupbox {
        box-sizing: border-box;
        flex-shrink: 0;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(0,0,0,0.0625);
        border-bottom: thin solid rgba(0,0,0,0.5);
        transition: background-color 150ms linear;
      }
      .groupbox:hover {
        background-color: rgba(0,0,0,0.25);
      }
      .groupbox > .selectbox {
        flex: 1 0 1px;
        padding: 0 !important;
        margin: 0.5em 0 0.5em 0.5em;
      }
      @media (max-width: 600px) {
        #drawer {
          --drawer-background: rgba(255,255,255,0.33);
        }
      }
      @media (min-width: 601px) {
        #content {
          margin-right: 16em;
        }
        #drawer {
          right: -16em;
          --drawer-background: rgba(255,255,255,0.0);
        }
      }
    </style>

    <!-- Routing-->
    <iron-location query="{{query}}"></iron-location>
    <iron-query-params params-string="{{query}}" params-object="{{queryParams}}"></iron-query-params>
    <iron-media-query query="(max-width: 600px)" query-matches="{{narrowLayout}}"></iron-media-query>

    <group-data
      room="[[queryParams.room]]"
      subgroups="{{subgroups}}"
      grouped-key="{{groupedKey}}"
      grouping-keys="{{groupingKeys}}"></group-data>

    <svg-data
      room="[[queryParams.room]]"
      data="{{svgData}}"></svg-data>

    <div id="content">

      <device-chart id="chart" opened$="[[visible]]" fullheight$="[[!_withSvg]]"
        items="[[items]]" multi></device-chart>

      <template is="dom-if" if="[[_withSvg]]">
        <device-svg id="svg"
          opened$="[[visible]]"
          url-prefix="/images"
          src="[[_svgSrcPath]]"
          selectable="[[_getSvgSelectable(item.svg.path, svgData)]]"
          items="[[items]]"
          multi
          exceeding="[[exceeding]]"></device-svg>
      </template>

      <drawer-element id="drawer" opened$="[[_ensureOpened(narrowLayout)]]" swipe-open$="[[narrowLayout]]" scrim persistent$="[[!narrowLayout]]" align="right" stretch>
        <div class="groupbox">
          <div class="selectbox" title="[[groupedKey]]">
            <select value="{{groupedKey::change}}">
              <template is="dom-repeat" items="[[groupingKeys]]" sort="_sort">
                <option value="[[item]]">[[item]]</option>
              </template>
            </select>
          </div>
          <div class="selectbox" title="[[selectedSubgroupTitle]]">
            <select value="{{selectedSubgroupTitle::change}}">
              <template is="dom-repeat" items="[[subgroups]]" sort="_sortSubgroupTitles">
                <option value="[[item.title]]">[[item.title]]</option>
              </template>
            </select>
          </div>
          <icon-button icon="close" on-click="clearItems"></icon-button>
        </div>
        <tabs-container id="tabs" multi vertical items="{{checkboxes}}" attr-for-selected="id" activate-event="item-select">
          <template id="tablist" is="dom-repeat" items="[[elements]]" filter="[[_computeFilter(selectedSubgroupTitle, subgroups)]]" sort="_sortSubgroupItems" restamp restamp-key="mount">
            <device-checkbox class="checkbox"
              id="[[item.id]]"
              item="[[item]]"
              selectable>
              <device-caption class="caption" keys="[[item.keys]]"></device-caption>
            </device-checkbox>
          </template>
        </tabs-container>
        <device-table-group id="table" items="[[items]]" selected-mount="[[item.mount]]" hidden$="[[nothingSelected]]"></device-table-group>
      </drawer-element>

    </div>
  </template>

  <script>
    class PageDetail extends Polymer.mixinBehaviors(
      [Polymer.IronResizableBehavior], WebvisualMixins.ContainerMixin(Polymer.Element)) {

      static get is() {
        return 'page-detail';
      }

      static get properties() {
        return {

          checkboxes: {
            type: Array,
            notify: true
          },

          groupingKeys: {
            type: Array,
            notify: true
          },

          subgroups: {
            type: Array,
            notify: true
          },

          groupedKey: {
            type: String,
            notify: true
          },

          selectedSubgroupTitle: {
            type: String,
            notify: true
          },

          elements: {
            type: Array,
            value: function() {
              return [];
            }
          },

          multi: {
            type: Boolean,
            value: true
          },

          svgData: {
            type: Object
          },

          visible: {
            type: Boolean,
            notify: true,
            observer: '_visibleChanged'
          },

          _withSvg: {
            type: Boolean,
            computed: '_hasSvg(_svgSrcPath, visible)'
          },

          _svgSrcPath: {
            type: Boolean,
            computed: '_computeSvgSrcPath(queryParams.room, item, svgData)'
          },

          selectNotify: {
            type: Boolean,
            value: true
          },

          exceedNotify: {
            type: Boolean,
            value: true
          },

          narrowLayout: {
            type: Boolean,
            value: false,
            notify: true
          },

          showToggleIcon: {
            type: Boolean,
            notify: true,
            computed: '_computeShowToggleIcon(narrowLayout, visible)'
          },

          nothingSelected: {
            type: Boolean,
            notify: true,
            computed: '_computeNothingSelected(items.length)'
          }
        }
      }

      static get observers() {
        return [
          '_selectedIdsChanged(queryParams.ids, checkboxes, visible)'
        ]
      }

      connectedCallback() {
        super.connectedCallback();
        this._debounceResize();
      }

      _selectedIdsChanged(selectedIds, checkboxes, visible) {
        if (selectedIds === undefined || !(checkboxes && checkboxes.length !== 0) || !visible) return;

        setTimeout(() => {
          const ids = selectedIds.split('/').filter(id => {
            return checkboxes.some(c => {
              return c.id === id;
            })
          });

          checkboxes.forEach(c => {
            if (ids.indexOf(c.id) !== -1 && !c.checked) {
              c.checked = true;
            }
          })
          this._initialized = true;
        }, 0)
      }

      select(item) {
        super.select(item);
        const ids = ((this.queryParams && this.queryParams.ids) || '').split('/').filter(id => {
          return id !== '';
        });
        if (ids.indexOf(item.id) === -1) {
          ids.push(item.id);
          this.set('queryParams.ids', ids.join('/'));
        }
        // console.log('after select', ids, this.items);
      }

      deselect(item) {
        super.deselect(item);
        const ids = ((this.queryParams && this.queryParams.ids) || '').split('/').filter(id => {
          return id !== '';
        });
        let pos;
        if ((pos = ids.indexOf(item.id)) !== -1) {
          ids.splice(pos, 1);
          this.set('queryParams.ids', ids.join('/'));
        }
        // console.log('after deselect', ids, this.items);
      }

      clearItems() {
        super.clearItems();
        this.set('queryParams.ids', '');
        Array.prototype.forEach.call(this.root.querySelectorAll('device-checkbox'), c => {
          c.checked = false;
        })
      }

      _computeFilter(selectedSubgroupTitle, subgroups) {
        if (selectedSubgroupTitle === undefined || subgroups === undefined) {
          // set filter to null to disable filtering
          return null;
        } else {
          let i = 0;
          for (; i < subgroups.length; i++) {
            if (subgroups[i].title === selectedSubgroupTitle) {
              break;
            }
          }
          const subgroup = subgroups[i];

          if (!(subgroup && subgroup.items))
            return null;

          // return a filter function for the current search string
          return function(item) {
            return subgroup.items.indexOf(item.id) !== -1;
          };
        }
      }

      _sort(a, b) {
        return a.localeCompare(b);
      }

      _sortSubgroupTitles(a, b) {
        return a.title.localeCompare(b.title);
      }

      _sortSubgroupItems(a, b) {
        const key = a.keys.name ? 'name' : (a.keys.title ? 'title' : a.id ? 'id' : Object.keys(a.keys)[0]);
        return a.keys[key].localeCompare(b.keys[key]);
      }

      _hasSvg(path, visible) {
        // notify the chart to resize
        // console.log('_hasSvg', path, visible);
        const _withSvg = Boolean(path && visible);
        if (_withSvg !== this._withSvg) {
          this._debounceResize();
        }
        return _withSvg;
      }

      _computeSvgSrcPath(room, item, svgPaths) {
        // console.log(room, item, svgPaths);
        let path;
        if (room && this.item && this.item.svg && this.item.svg.path && svgPaths && svgPaths[this.item.svg.path])
          path = '/' + room + '/' + this.item.svg.path;
        return path;
      }

      _getSvgSelectable(src, svgPaths) {
        return svgPaths[src] || {};
      }

      _ensureOpened() {
        return true; // if 'narrowLayout' changes the drawer is opened
      }

      _computeShowToggleIcon(narrowLayout, visible) {
        return narrowLayout && visible;
      }

      _computeNothingSelected(itemsLength) {
        return !itemsLength;
      }

      toggleControlDrawer() {
        if (!this._drawer) {
          this._drawer = this.$$('#drawer');
        }
        if (this._drawer) {
          this._drawer.toggle();
        }
      }

      _fireResize() {
        this.dispatchEvent(new CustomEvent('iron-resize', {
          bubbles: false, composed: true, node: this
        }));
      }

      _debounceResize() {
        setTimeout(() => {
          if (this.narrowLayout) {
            if (!this._drawer) {
              this._drawer = this.$$('#drawer');
            }
            if (this._drawer) {
              this._drawer.opened = true;
            }
          }
          this.notifyResize();
        }, 0);
      }

      _visibleChanged(visible) {
        if (visible === true) {
          this._debounceResize();
        } else if (visible === false && this._initialized) {
          this.clearExceedings();
          this.clearItems();
        }
      }
    }
    customElements.define(PageDetail.is, PageDetail);
  </script>

</dom-module>
