<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<link rel="import" href="behaviors/element-behavior.html">

<dom-module id="webvisual-element-table">
	<template strip-whitespace>
    <style>
      :host {
        /*height needs to be set by outer element*/
        color: var(--primary-text-color);
        display: inline-flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
        border-color: inherit;
        border-radius: inherit;
  			min-width: 10em;
        text-align: left;
        line-height: 1.5;
        cursor: default;
        background: white;
        pointer-events: all;
      }
      :host([dark]) {
        background: #a8a8a8;
      }
  		span {
  			position: relative;
  			padding: 0em 0.75em;
  		}
  		.tr {
  			display: flex;
  			justify-content: space-around;
    		font-size: 0.7em;
        user-select: all;
  		}
  		.tr:not([state]), .tr[state="0"] {
  			background: none; color: inherit;
  		}
  		.tr:nth-of-type(even) {
  			background: rgba(137, 137, 137, 0.15);
  		}
  		.tr[state="1"] {
  			background: var(--element-state-exceeds-color);
  			color: var(--element-state-exceeds-text-color);
  		}
  		.tr[state="-1"] {
  			background: var(--element-state-deceeds-color);
  			color: var(--element-state-deceeds-text-color);
  		}
  		.tr[onlyfirstrow] > span:not(:first-of-type) {
  			display: none;
  		}
  		#head {
  			display: flex;
  			justify-content: space-around;
        font-size: 0.8em;
  			width: 100%;
  			line-height: 2;
  			border-top-style: solid;
  			border-top-width: thin;
  			border-bottom-style: solid;
  			border-bottom-width: thin;
  			border-color: inherit;
  			cursor: pointer;
  			text-align: center;
  		}
      #caption {
        font-family: "FiraSans-Medium", sans-serif;
        display: block;
        position: relative;
        font-size: 0.5em;
        padding: 0.3em 0.6em;
        text-align: center;
        user-select: all;
      }
  		[hidden] {
  			display: none !important;
  		}
  		#list {
  			height: auto;
  			width: 100%;
  			flex: 1 1 50px;
  		}
    </style>

    <section id="head" hidden$="[[hideHeader]]">
      <span>Datum</span>
      <span hidden$="[[onlyFirstRow]]">Wert <span hidden$="[[!item.unit]]" style="font-style:italic;">([[unit]])</span></span>
    </section>

  	<iron-list id="list" items="[[values]]" as="value">
  		<template>
        <div class="tr" state$="[[value.state]]" onlyfirstrow$="[[onlyFirstRow]]">
          <span>[[computeDate(value.x)]]</span>
          <span>[[computeValue(value.y, value.state)]]</span>
        </div>
      </template>
  	</iron-list>

    <section id="caption">[[caption]]</section>
  </template>

	<script>
		WebvisualElementTable = Polymer({
			is: 'webvisual-element-table',

			behaviors: [
				WebvisualBehaviors.ElementBehavior
			],

			properties: {

				caption: String,

				keysForCaption: Boolean,

				onlyFirstRow: Boolean,

				hideHeader: Boolean,

				showFullDate: Boolean,

        storeInside: {
          type: Boolean,
          value: true
        }

			},

      observers: [
        '_computeKeysForCaption(keysForCaption, item)'
      ],

			insertValues: function(values) {
				if (!this.$.list.items || !values || !values.length) return;

        WebvisualBehaviors.ElementBehavior.insertValues.call(this, values);

				// console.log(this.values.length - values.length, values.length);
				// this.notifySplices('values', [{
				// 	index: this.values.length + 1 - values.length,
				// 	addedCount: values.length,
				// 	object: this.values,
				// 	removed: [],
				// 	type: 'splice'
				// }]);

				// values.forEach(function(value) {
				// 	this.unshift('items', value)
				// }, this._list)
			},

			// spliceValues: function(splices) {
			// 	splices.forEach(function(value) {
			// 		this.pop('items')
			// 	}, this._list)
			// },

      clearValues: function() {
        this.$.list.set('items', []);
      },

      _computeKeysForCaption: function(keysForCaption, item) {
        if (keysForCaption && item && item.keys) {
          var cap = '';
          for (var key in this.item.keys) {
            cap += this.item.keys[key] + ' ';
          }
          this.$.caption.textContent = cap;
        } else if (this.caption) {
          this.$.caption.textContent = this.caption;
        }
      }
		});
	</script>

</dom-module>
