<link rel="import" href="../bower_components/polymer/polymer.html"/>
<script src="../polyfills/polyfills.js" type="text/javascript"></script>

<link rel="import" href="behaviors/localize-behavior.html"/>

<link rel="import" href="../bower_components/app-layout/app-header/app-header.html"/>
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html"/>
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html"/>
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html"/>
<link rel="import" href="../bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html"/>
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html"/>
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="../bower_components/app-route/app-location.html"/>
<link rel="import" href="../bower_components/app-route/app-route.html"/>
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/effects/waterfall.html"/>

<link rel="import" href="webvisual-login.html"/>
<link rel="import" href="webvisual-home.html"/>

<link rel="import" href="webvisual-logo.html"/>
<link rel="import" href="components/webvisual-icon-button.html"/>

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/webvisual-selectbox.html">
<link rel="import" href="style/webvisual-button.html">
<link rel="import" href="style/webvisual-app-style.html">

<link rel="import" href="data/webvisual-facility-data.html"/>

<dom-module id="webvisual-app">

  <template strip-whitespace>

    <style include="shared-styles webvisual-selectbox webvisual-button webvisual-app-style">
      :host {
         display: block;
      }
      app-header {
        @apply(--layout-fixed-top);
        z-index: 1;
        color: var(--bright-text-color);
      }
      app-header app-toolbar {
        @apply(--app-header);
      }
      app-toolbar {
        font-size: 1em;
        height: 4em;
        padding-left: 1em;
        padding-right: 1em;
        transition: background 500ms cubic-bezier(0.6, 0, 0.3, 1);
      }
      app-toolbar webvisual-icon-button {
        transform: scale(1);
      }
      app-drawer {
        z-index: 2;
      }
      app-drawer .drawer-content {
        display: block;
        height: calc(100% - 8em);
        padding: 0 1em;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
      app-drawer app-toolbar {
        @apply(--app-drawer-header);
      }
      app-drawer .top {
        justify-content: flex-start;
      }
      app-drawer .bottom {
        justify-content: flex-end;
      }
      app-drawer .spacer {
        margin-bottom: 1em;
      }
      .drawer-content .webvisual-selectbox,
      .drawer-content .webvisual-button,
      .drawer-content .webvisual-toggle-button {
        width: 100%;
        padding: 1.25em 1em;
      }
      .drawer-content iron-collapse > .collapse-content {
        padding: 0.5em 1em;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        box-sizing: border-box;
        border-left: thin solid rgba(255,255,255,0.1);
        border-right: thin solid rgba(255,255,255,0.1);
        box-shadow: 0 5px 15px -10px rgba(0,0,0,0.25) inset;
      }
      .drawer-content iron-collapse > .collapse-content > * {
        box-sizing: border-box;
        width: 100%;
        font-size: 0.8em;
      }
      #viewSelect {
        height: 3em;
        @apply(--layout-inline);
        @apply(--layout-center);
      }
      #tabs {
        height: 100%;
        --tab-overlay: {
          background-color: rgba(255, 255, 255, 0.1);
          border-left: none;
          border-bottom: medium solid var(--highlight-color, var(--saturated-primary-color));
        }
      }
      .tab {
        padding: 0 1.5em;
        @apply(--layout-inline);
        @apply(--layout-center-justified);
        @apply(--layout-center);
        position: relative;
      }
      #pageselector {
        position: relative;
        @apply(--layout);
        box-sizing: border-box;
        padding-top: 4em;
        padding-bottom: 3em;
        background-color: var(--primary-background);
        transition: background 500ms cubic-bezier(0.6, 0, 0.3, 1);
        min-height: 100vh;
      }
      #pageselector > * {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 100vh;
      }
      :host([page="login"]) #pageselector,
      :host([page="home"]) #pageselector{
        background-color: var(--primary-color);
      }
      :host([page="login"][dark]) #pageselector,
      :host([page="home"][dark]) #pageselector {
        background-color: var(--dark-primary-color);
      }
      #pageselector > .fullbleed {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
      }
      .login-icon {
        color: var(--notification-color);
      }
      .items-icon {
        border-radius: 0;
      }
      #logo {
        padding-left: 1em;
        flex: 1;
      }
      .webvisual-selectbox.toolbar.grouping {
        background: url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3E%3Cg%3E%3Cpath d=%22M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z%22 fill=%22%23FFFFFF%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: 0.5em center;
        background-size: 1em 1em;
        height: 4em;
        min-width: 6em;
        padding: 0;
        margin: 0 0.5em;
      }
      .webvisual-selectbox.toolbar > select {
        height: 2.5em;
        font-size: 0.75em;
        padding: 0 0.5em 0 2.5em;
      }

    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>

    <webvisual-facility-data
      facilities="{{facilities}}"
      facility-system="[[facilitySystem]]"
      items="{{elements}}"
      logged-in="{{loggedIn}}"
      offline="[[offline]]"></webvisual-facility-data>

    <webvisual-element-socket-data id="socketHandler"
      socket-name="data"
      socket-room="[[facilitySystem]]"
      socket-status="{{socketStatus}}"
      logged-in="[[loggedIn]]"
      lazy-connect="[[loadComplete]]"></webvisual-element-socket-data>

    <template is="dom-if" if="[[_isContentPage]]">

      <iron-media-query query="(min-width: 768px)" query-matches="{{showTabsOnTop}}"></iron-media-query>

      <app-header role="header" id="header" reveals threshold="1">

        <app-toolbar>
          <webvisual-icon-button icon="menu" class="menu-icon" title="menu" on-tap="_toggleDrawer"></webvisual-icon-button>

          <webvisual-logo id="logo" href="/home" main-title title$="[[localize('home', 'name')]]"></webvisual-logo>

          <template is="dom-if" if="[[_shouldLogin]]">
            <a href="/login">
              <webvisual-icon-button icon="assignment-ind" class="login-icon"></webvisual-icon-button>
            </a>
          </template>

          <template is="dom-if" if="[[showTabsOnTop]]">
            <iron-collapse opened="[[showTabs]]" horizontal style="align-self: flex-end;">
              <div id="viewSelect">

                <template is="dom-if" if="[[_shouldRenderGroupingKeys]]">
                  <div class="webvisual-selectbox toolbar grouping" title="grouping keys">
                    <select value="{{groupedKey::change}}"></select>
                  </div>
                </template>

                <webvisual-tabs id="tabs"
                  role="tablist"
                  selected="{{page}}"
                  attr-for-selected="name">
                  <div class="tab" name="list">
                    <paper-ripple id="ripple" recenters></paper-ripple>
                    <a href="/list/[[facilitySystem]]">{{localize('list', 'name')}}</a>
                  </div>
                  <div class="tab" name="groups">
                    <paper-ripple id="ripple" recenters></paper-ripple>
                    <a href="/groups/[[facilitySystem]]">{{localize('groups', 'name')}}</a>
                  </div>
                  <div class="tab" name="detail">
                    <paper-ripple id="ripple" recenters></paper-ripple>
                    <a href="/detail/[[facilitySystem]]">{{localize('detail', 'name')}}</a>
                  </div>
                </webvisual-tabs>

                <template is="dom-if" if="[[detailHasDrawer]]">
                  <webvisual-icon-button class="items-icon" icon="subject" title="items" on-tap="_toggleDetailControlDrawer">
                  </webvisual-icon-button>
                </template>
              </div>
            </iron-collapse>
          </template>

          <webvisual-icon-button icon="more-vert" title="tabs" checked="{{showTabs}}"></webvisual-icon-button>
        </app-toolbar>

      </app-header>
    </template>

      <iron-pages id="pageselector" role="main" selected="[[page]]" attr-for-selected="name" selected-attribute="visible" fallback-selection="home">
        <!-- home view for selecting the facility -->
        <webvisual-home class="fullbleed" name="home" dark$="[[dark]]" plain$="[[plain]]"
          facilities="[[facilities]]"
          logged-in="{{loggedIn}}"
          language="[[language]]"
          language-resources="[[languageResources]]"></webvisual-home>
        <!-- login view-->
        <webvisual-login class="fullbleed" name="login" dark$="[[dark]]" plain$="[[plain]]"
          offline="[[offline]]"
          language="[[language]]"
          language-resources="[[languageResources]]"></webvisual-login>
        <!-- list view of items in a facility -->
        <webvisual-list disable-upgrade$="[[!loadComplete]]" name="list" dark$="[[dark]]" plain$="[[plain]]"
          facility-system="[[facilitySystem]]"
          elements="[[elements]]"></webvisual-list>
        <!-- group view of items -->
        <webvisual-groups disable-upgrade$="[[!loadComplete]]" name="groups" dark$="[[dark]]" plain$="[[plain]]"
          facility-system="[[facilitySystem]]"
          elements="[[elements]]"
          grouped-key="{{groupedKey}}"
          grouping-keys="{{groupingKeys}}"></webvisual-groups>
        <!-- detail view of one item -->
        <webvisual-detail class="fullbleed" disable-upgrade$="[[!loadComplete]]" id="detailpage" name="detail" dark$="[[dark]]" plain$="[[plain]]"
          route="{{subroute}}"
          facility-system="[[facilitySystem]]"
          elements="[[elements]]"
          show-toggle-icon="{{detailHasDrawer}}"></webvisual-detail>
      </iron-pages>

      <!-- SIDEMENU -->
      <template is="dom-if" if="[[_shouldRenderDrawer]]">

      <app-drawer id="drawerPanel" opened="{{drawerOpened}}" align="left" swipe-open tabindex="0">
        <app-toolbar class="top">
          <webvisual-icon-button icon="close" title="close" on-tap="_toggleDrawer"></webvisual-icon-button>
        </app-toolbar>

        <div class="drawer-content">
          <div class="webvisual-button" for="route-collapse" on-tap="_toggleCollapse">
            <paper-ripple id="ripple" recenters></paper-ripple>
            <iron-icon icon="more-vert" class="left"></iron-icon>
            <span>{{localize('view')}}</span>
            <iron-icon icon="expand-more" class="right"></iron-icon>
          </div>

          <iron-collapse id="route-collapse">
            <div class="collapse-content">
              <template is="dom-if" if="[[_shouldLogin]]">
                <a href="/login">
                  <div class="webvisual-button" name="login">
                    <paper-ripple id="ripple" recenters></paper-ripple>
                    <iron-icon icon="perm-identity" class="left"></iron-icon>
                    {{localize('login', 'name')}}
                  </div>
                </a>
              </template>
              <a href="/home">
                <div class="webvisual-button" name="home">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="exit-to-app" class="left"></iron-icon>
                  {{localize('home', 'name')}}
                </div>
              </a>
              <a href="/list/[[facilitySystem]]">
                <div class="webvisual-button" name="list">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="list" class="left"></iron-icon>
                  {{localize('list', 'name')}}
                </div>
              </a>
              <a href="/groups/[[facilitySystem]]">
                <div class="webvisual-button" name="groups">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="grid-on" class="left"></iron-icon>
                  {{localize('groups', 'name')}}
                </div>
              </a>
              <a href="/detail/[[facilitySystem]]">
                <div class="webvisual-button" name="detail">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="chrome-reader-mode" class="left"></iron-icon>
                  {{localize('detail', 'name')}}
                </div>
              </a>
            </div>
          </iron-collapse>

          <div class="spacer"></div>

          <div class="webvisual-button" for="layout-collapse" on-tap="_toggleCollapse">
            <paper-ripple id="ripple" recenters></paper-ripple>
            <iron-icon icon="settings" class="left"></iron-icon>
            <span>{{localize('layout')}}</span>
            <iron-icon icon="expand-more" class="right"></iron-icon>
          </div>

          <iron-collapse id="layout-collapse">
            <div class="collapse-content">
              <webvisual-toggle-button checked="{{plain}}">
                <iron-icon icon="border-style"></iron-icon>
                {{localize('plain', plain)}}
              </webvisual-toggle-button>
              <webvisual-toggle-button checked="{{dark}}">
                <iron-icon icon="invert-colors"></iron-icon>
                {{localize('dark', dark)}}
              </webvisual-toggle-button>
            </div>
          </iron-collapse>

          <div class="spacer"></div>

          <div class="webvisual-selectbox">
            <iron-icon icon="language"></iron-icon>
            <span>{{localize('language')}}</span>

            <select value="{{language::change}}">
              <option value="de">deutsch</option>
              <option value="en">english</option>
              <option value="fr">français</option>
              <option value="es">español</option>
              <option value="it">italiano</option>
              <option value="ru">русский</option>
              <option value="zh">中文</option>
            </select>
          </div>

          <template is="dom-if" if="[[_shouldRenderGroupingKeys]]">
            <div class="webvisual-selectbox grouping">
              <iron-icon icon="filter-list"></iron-icon>
              <span>{{localize('groupedKey')}}</span>
              <select value="{{groupedKey::change}}"></select>
            </div>
          </template>
        </div>

        <app-toolbar class="bottom">
          <webvisual-icon-button icon="[[_socketStatusIcon]]" title="[[socketStatus]]" on-tap="_socketConnect"></webvisual-icon-button>
        </app-toolbar>

      </app-drawer>

    </template>

    <template is="dom-if" if="[[!showTabsOnTop]]">
      <webvisual-snackbar opened="[[showTabs]]">
        <div id="viewSelect" style="width:100%;">

          <template is="dom-if" if="[[_shouldRenderGroupingKeys]]">
            <div class="webvisual-selectbox toolbar grouping" title="grouping keys">
              <select value="{{groupedKey::change}}"></select>
            </div>
          </template>

          <template is="dom-if" if="[[detailHasDrawer]]">
            <webvisual-icon-button class="items-icon" icon="subject" title="items" on-tap="_toggleDetailControlDrawer">
            </webvisual-icon-button>
          </template>

          <webvisual-tabs id="tabs"
            role="tablist"
            selected="{{page}}"
            attr-for-selected="name"
            style="margin-left:auto;">
            <div class="tab" name="list">
              <paper-ripple id="ripple" recenters></paper-ripple>
              <a href="/list/[[facilitySystem]]">{{localize('list', 'name')}}</a>
            </div>
            <div class="tab" name="groups">
              <paper-ripple id="ripple" recenters></paper-ripple>
              <a href="/groups/[[facilitySystem]]">{{localize('groups', 'name')}}</a>
            </div>
            <div class="tab" name="detail">
              <paper-ripple id="ripple" recenters></paper-ripple>
              <a href="/detail/[[facilitySystem]]">{{localize('detail', 'name')}}</a>
            </div>
          </webvisual-tabs>
        </div>
      </webvisual-snackbar>
    </template>
  </template>

  <script>
    Polymer({
      is: 'webvisual-app',

      behaviors: [
        Polymer.IronA11yKeysBehavior,
        Polymer.IronResizableBehavior,
        WebvisualBehaviors.LocalizeBehavior
      ],

      properties: {

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },

        routeData: Object,

        subroute: Object,

        elements: Array,

        groupingKeys: {
          type: Array,
          notify: true
        },

        groupedKey: {
          type: String,
          notify: true
        },

        language: {
          type: String,
          notify: true,
          value: window.navigator.language,
          observer: '_checkLanguage'
        },

        languageResourcePath: {
          type: String,
          value: '/locales.json'
        },

        dark: {
          type: Boolean,
          value: false,
          notify: true,
          reflectToAttribute: true,
          observer: '_darkChanged'
        },

        plain: {
          type: Boolean,
          value: false,
          notify: true,
          reflectToAttribute: true,
          observer: '_plainChanged'
        },

        facilitySystem: String,

        socketStatus: String,

        loggedIn: {
          type: Boolean,
          notify: true
        },

        offline: Boolean,

        loadComplete: Boolean,

        detailHasDrawer: Boolean,

        showTabs: {
          type: Boolean,
          value: false,
          reflectToAttribute: true,
          observer: '_debouncedHideTabs'
        },

        showTabsOnTop: {
          type: Boolean,
          notify: true
        },

        _socketStatusIcon: {
          computed: '_computeStatusIcon(socketStatus)'
        },

        _isContentPage: {
          computed: '_computeIsContentPage(page)'
        },

        _shouldRenderDrawer: {
          computed: '_computeShouldRenderDrawer(_isContentPage, loadComplete)'
        },

        _shouldRenderGroupingKeys: {
          computed: '_computeShouldRenderGroupingKeys(page, loadComplete, groupingKeys)'
        },

        _shouldLogin: {
          computed: '_computeShouldLogin(loggedIn, offline)'
        },

        keyEventTarget: {
          type: Object,
          value: function() {
            return document.body;
          }
        }
      },

      listeners: {
        'detail-request': '_openDetailRequestDialog'
      },

      observers: [
        '_routePageChanged(routeData.page)',
        '_subrouteChanged(subroute)',
        '_setGroupingSelectBoxes(_shouldRenderGroupingKeys)'
      ],

      keyBindings: {
        'left': '_previousPage',
        'right': '_nextPage'
      },

      ready: function() {
        // listen for online/offline
        Polymer.RenderStatus.afterNextRender(this, function() {
          this.listen(window, 'online', '_notifyNetworkStatus');
          this.listen(window, 'offline', '_notifyNetworkStatus');
        });
        this._loadPresettings();
      },

      attached: function() {
        this.removeAttribute('unresolved');
      },

      _routePageChanged: function(route) {
        this.page = route || 'home';
        // Scroll to the top of the page on every *route* change. Use 'Polymer.AppLayout.scroll'
        // with 'behavior: 'silent'' to disable header scroll effects during the scroll.
        Polymer.AppLayout.scroll({ top: 0, behavior: 'silent' });
        // Close the drawer - in case the *route* change came from a link in the drawer.
        this.drawerOpened = false;
      },

      _nextPage: function() {
        this.async( function () {
          var order = ['home', 'list', 'groups', 'detail'];
          var pos = order.indexOf(this.page) || 0;
          pos = (pos + 1 + order.length) % order.length;
          this.showTabs = true;
          this.set('route.path', order[pos] + '/' + (this.facilitySystem || ''));
        })
      },

      _previousPage: function(e) {
        this.async( function () {
          var order = ['home', 'list', 'groups', 'detail'];
          var pos = order.indexOf(this.page) || 0;
          pos = (pos - 1 + order.length) % order.length;
          this.showTabs = true;
          this.set('route.path', order[pos] + '/' + (this.facilitySystem || ''));
        })
      },

      _subrouteChanged: function(subroute) {
        if (!subroute || !subroute.path) {
          return;
        }
        var names = subroute.path.split('/')
                            .filter(function (str) { return str !== ''; });

        if (names.length >= 2) {
          this.facilitySystem = names[0] + '/' + names[1];
          document.title = this.facilitySystem + ' - Webvisual';
        }
      },

      _pageChanged: function(page, oldPage) {
        if (page != null) {
          // home route is eagerly loaded
          if (page === 'home' || page === 'login') {
            this._pageLoaded(Boolean(oldPage));
          // other routes are lazy loaded
          } else {
            this.importHref(
              this.resolveUrl('webvisual-' + page + '.html'),
              function() {
                this._pageLoaded(Boolean(oldPage));
                var item;
                if ((item = this.$.pageselector.selectedItem).assignParentResizable) {
                  item.assignParentResizable(this);
                }
                this._debouncedHideTabs();
              }, function() {
                this.page = 'home'; // Fallback
              }, true);
          }
        }
      },

      _socketConnect: function(e) {
        if (this.$.socketHandler.socketStatus === 'sync-disabled') {
          this.$.socketHandler.connect();
        } else {
          this.$.socketHandler.socketStatus = 'sync-disabled';
          this.$.socketHandler.disconnect();
        }
      },

      _pageLoaded: function(shouldResetLayout) {
        this._ensureLazyLoaded();
        if (shouldResetLayout) {
          // The size of the header depends on the page (e.g. on some pages the tabs
          // do not appear), so reset the header's layout only when switching pages.
          this.async(function() {
            if (!this.$.header) {
              this.$.header = this.$$('#header');
            }
            if (this.$.header) {
              console.log('reset layout');
              this.$.header.resetLayout();
            }
          }, 1);
        }
      },

      _ensureLazyLoaded: function() {
        // load lazy resources after render and set 'loadComplete' when done.
        if (!this.loadComplete) {
          Polymer.RenderStatus.afterNextRender(this, function() {
            this.importHref(this.resolveUrl('lazy-resources.html'), function() {
              // Register service worker if supported.
              if ('serviceWorker' in navigator) {
                window.WebvisualServiceWorker = window.WebvisualServiceWorker || {};
                window.WebvisualServiceWorker = navigator.serviceWorker.register('/service-worker.js');
              }
              this._notifyNetworkStatus();
              this.loadComplete = true;
            });
          });
        }
      },

      _notifyNetworkStatus: function() {
        var oldOffline = this.offline;
        this.offline =  !navigator.onLine;
        // Show the snackbar if the user is offline when starting a new session
        // or if the network status changed.
        if (this.offline || (!this.offline && oldOffline === true)) {
          if (!this._networkSnackbar) {
            this._networkSnackbar = document.createElement('webvisual-snackbar');
            this._networkSnackbar.setAttribute('auto-close', '');
            Polymer.dom(this.root).appendChild(this._networkSnackbar);
          }
          Polymer.dom(this._networkSnackbar).innerHTML = this.localize ? this.localize('notification', 'offline', this.offline) : (this.offline ?
            'You are offline' : 'You are online');
          this._networkSnackbar.open();
        }
      },

      _toggleDrawer: function() {
        this.drawerOpened = !this.drawerOpened;
      },

      _toggleDetailControlDrawer: function() {
        this.$.detailpage.toggleControlDrawer();
      },

      _toggleAlarmDrawer: function() {
        this.alarmDrawerOpened = !this.alarmDrawerOpened;
      },

      // detail-requests
      _openDetailRequestDialog: function(e, detail) {
        this.async( function() {
          if (!this._detailRequestDialog) {
            this._detailRequestDialog = document.createElement('webvisual-detail-request-dialog');
            Polymer.dom(this.root).appendChild(this._detailRequestDialog);
          }
          this._detailRequestDialog.set('item', detail.item);
          this._detailRequestDialog.set('language', this.language);
          this._detailRequestDialog.set('languageResources', this.languageResources);
          this._detailRequestDialog.open();
        });
      },

      _loadPresettings: function() {
        var settings = JSON.parse(localStorage.getItem('settings'));
        for (var key in settings) {
          this.set(key, settings[key]);
        }
        this._updateStyles();
      },

      _plainChanged: function(plain, old) {
        if (old === undefined)
          return;

        var settings = JSON.parse(localStorage.getItem('settings')) || {};
        settings.plain = plain;
        localStorage.setItem('settings', JSON.stringify(settings));

        this._updateStyles();
      },

      _darkChanged: function(dark, old) {
        if (old === undefined)
          return;

        var settings = JSON.parse(localStorage.getItem('settings')) || {};
        settings.dark = dark;
        localStorage.setItem('settings', JSON.stringify(settings));

        this._updateStyles();
      },

      _updateStyles: function() {
        this.debounce('update-styles', this.updateStyles);
      },

      _setGroupingSelectBoxes: function() {
        // Hack: initial binding to native select value property is not bound
        this.async(function() {
          var groupedKey = this.groupedKey;
          var groupingSelectors = Polymer.dom(this.root).querySelectorAll('.webvisual-selectbox.grouping');
          var groupingKeys = this.groupingKeys;

          Array.prototype.forEach.call(groupingSelectors, function(el) {
            var sel = el.querySelector('select');
            if (sel) {
              while (sel.hasChildNodes()) {
                sel.removeChild(sel.lastChild);
              }
              groupingKeys.forEach(function (item) {
                var option = document.createElement('option');
                option.textContent = item;
                option.value = item;
                sel.appendChild(option);
              });
              sel.value = groupedKey;
            }
          })
        },1);
      },

      _debouncedHideTabs: function() {
        this.debounce('hide-tabs', function() {
          this.showTabs = false;
          this.async(this.notifyResize, 500);
        }, 10000);
      },

      _computeShouldLogin: function(loggedIn, offline) {
        return (loggedIn === false && offline === false);
      },

      _computeIsContentPage: function(page) {
        return (page !== 'home' && page !== 'login');
      },

      _computeShouldRenderDrawer: function(isContentPage, loadComplete) {
        return isContentPage && loadComplete;
      },

      _computeShouldRenderGroupingKeys: function(page, loadComplete, groupingKeys) {
        return page === 'groups' && loadComplete && groupingKeys && groupingKeys.length;
      },

      _computeStatusIcon: function(status) {
        switch (status) {
          case 'sync-problem':
            return 'sync-problem';
          case 'connect':
            return 'sync';
          case 'connected':
            return 'wifi';
          default:
            return 'sync-disabled';
        }
      },

      _toggleCollapse: function(e) {
        // TODO: very probable that this will change in Polymer 2.0
        var button = e.currentTarget;
        if (!button.hasAttribute('for')) {
          return;
        }
        var id = button.getAttribute('for');
        var collapse = this.$$('#'+id);
        var iconbutton = button.querySelector('iron-icon.right');

        if (collapse && collapse.toggle) {
          collapse.toggle();
          if (iconbutton) {
            if (iconbutton.icon === 'expand-more')
              iconbutton.set('icon', 'expand-less');
            else
              iconbutton.set('icon', 'expand-less');
          }
        }
      }
    });

  </script>
</dom-module>
