<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="mixins/localize-mixin.html">
<link rel="import" href="mixins/fetch-mixin.html">

<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-location/iron-location.html">
<link rel="import" href="iron-query-params.html">

<link rel="import" href="style/shared-style.html">
<link rel="import" href="style/selectbox-style.html">
<link rel="import" href="style/button-style.html">
<link rel="import" href="style/app-style.html">
<link rel="import" href="style/input-style.html">

<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="components/icon-button.html">
<link rel="import" href="dialog-login.html">
<link rel="import" href="page-home.html">
<link rel="import" href="data/facility-data.html">

<dom-module id="webvisual-app">

  <template strip-whitespace>

    <style include="shared-style selectbox-style button-style app-style">
      app-toolbar {
        font-size: 1em;
        height: 4em;
        padding-left: 1em;
        padding-right: 1em;
        @apply --app-toolbar;
      }
      app-toolbar icon-button {
        transform: scale(1);
      }
      #drawer .drawer-content {
        display: block;
        height: calc(100% - 8em);
        padding: 0 1em;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
      #drawer app-toolbar {
        @apply --drawer-toolbar;
      }
      #drawer .top {
        justify-content: space-between;
        margin-bottom: 1em;
      }
      #drawer .bottom {
        justify-content: flex-end;
      }
      #drawer .spacer {
        margin-bottom: 1em;
      }
      .drawer-content .selectbox,
      .drawer-content .button,
      .drawer-content .toggle-button {
        width: 100%;
        padding: 1em;
      }
      .drawer-content iron-collapse > .collapse-content {
        @apply --layout-vertical;
        padding: 0.5em 1em;
        width: 100%;
        box-sizing: border-box;
        border-left: thin solid rgba(255,255,255,0.1);
        border-right: thin solid rgba(255,255,255,0.1);
        box-shadow: 0 5px 15px -10px rgba(0,0,0,0.25) inset;
      }
      .drawer-content iron-collapse > .collapse-content > * {
        box-sizing: border-box;
        width: 100%;
        font-size: 0.8em;
      }
      #pages {
        box-sizing: border-box;
        margin-bottom: 2.5em;
        will-change: scroll-position;
      }
      #layout {
        background-color: var(--primary-background);
        transition: background 300ms cubic-bezier(0.6, 0, 0.3, 1);
        overflow: hidden;
      }
      :host([page="home"]) #layout {
        background-color: var(--primary-color);
      }
      :host([dark][page="home"]) #layout {
        background-color: var(--dark-primary-color);
      }
      #pages > * {
        flex: 1;
        overflow: hidden;
      }
      #pages > .fullbleed {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        box-sizing: border-box;
        visibility: hidden;
        margin: 0;
        padding: 0;
      }
      #pages:-webkit-full-screen-ancestor {
        overflow: hidden !important;
      }
      #pages > [visible] {
        visibility: visible;
      }
      .login-icon {
        opacity: 0.5;
      }
      .login-icon:hover {
        opacity: 1;
      }
      logo-element#logo {
        padding-left: 1em;
        margin-right: auto;
      }
      .notification > .message {
        padding-left: 3em;
        padding-right: 1em;
      }
      .tab-drawer {
        @apply --layout-inline;
        @apply --layout-center-center;
        position: relative;
        height: 2.75em;
        width: 100%;
      }
      .tab-drawer.top {
        padding-right: 0.5em;
        padding-left: 0;
        width: auto;
      }
      .tabs {
        position: relative;
        height: 100%;
        --tab-overlay: {
          background-color: rgba(255, 255, 255, 0.1);
          border-left: none;
          border-bottom: medium solid var(--highlight-color, var(--secondary-color));
        }
      }
      tab-element {
        height: 100%;
      }
      .tab {
        @apply --layout-inline;
        @apply --layout-center-center;
        position: relative;
        padding: 0 1em;
        height: 100%;
      }
      .tab > .left {
        margin-right: 0.5em;
        color: currentColor;
      }
      .toolbar.grouping {
        position: relative;
        left: 0;
        bottom: 0;
        top: 0;
        @apply --layout-inline;
        @apply --layout-center-center;
        background: url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3E%3Cg%3E%3Cpath d=%22M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z%22 fill=%22%23FFFFFF%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: 0.33em center;
        background-size: 1.33em 1.33em;
        padding: 0;
        margin: 0 0.5em;
      }
      .toolbar.grouping > select {
        height: 2.5em;
        padding-left: 1.75em;
        max-width: 2.5em;
        width: 2.5em;
        color: transparent;
        background-color: rgba(255,255,255,0.05);
        transition: background 0.2s linear;
        border-color: rgba(255,255,255,0.5);
      }
      .toolbar.grouping > select:hover {
        background-color: rgba(255,255,255,0.25);
      }
      [hidden],
      :host(:-webkit-full-screen-ancestor) [swipe-open] {
        display: none !important;
      }
    </style>

    <!-- Routing-->
    <iron-location path="{{path}}" query="{{query}}"></iron-location>
    <iron-query-params params-string="{{query}}" params-object="{{queryParams}}" ></iron-query-params>

    <!-- login dialog-->
    <dialog-login id="loginDialog"
      icon="{{loginIcon}}"
      logged-in="{{loggedIn}}"
      language="[[language]]"
      language-resources="[[languageResources]]">
    </dialog-login>

    <!-- Data -->
    <facility-data
      facilities="{{facilities}}"
      room="[[queryParams.room]]"
      items="{{elements}}"
      logged-in="[[loggedIn]]"
      offline="[[offline]]"></facility-data>

    <device-socket-data id="socketHandler"
      name-space=""
      socket-room="[[queryParams.room]]"
      socket-status="{{socketStatus}}"
      logged-in="[[loggedIn]]"
      lazy-connect="[[loadComplete]]"></device-socket-data>

    <iron-media-query query="(min-width: 768px)" query-matches="{{wideLayout}}"></iron-media-query>

    <app-header-layout id="layout" fullbleed has-scrolling-region>
      <!-- Toolbar -->
      <app-header slot="header" id="header" hidden$="[[!_isContentPage]]" reveals fixed="[[_isFullbleedPage]]" threshold="64" threshold-triggered="{{thresholdTriggered}}" shadow$="[[thresholdTriggered]]">
        <app-toolbar>
          <icon-button icon="menu" class="menu-icon" title="menu" on-tap="_toggleDrawer"></icon-button>

          <logo-element id="logo" href="/home" title$="[[localize('home', 'name')]]"></logo-element>

          <iron-collapse opened="[[showTabs]]" hidden$="[[!wideLayout]]" horizontal style="align-self: flex-end;">
            <div class="tab-drawer top">

              <div class="selectbox toolbar grouping top" title="[[groupedKey]]" hidden$="[[hideGroupSelect]]">
                <select value="{{groupedKey::change}}"></select>
              </div>
              <tabs-container class="tabs"
                role="tablist"
                selected="{{page}}"
                attr-for-selected="name">
                <tab-element name="list">
                  <a href$="/list?room=[[queryParams.room]]" class="tab">
                    <iron-icon icon="list" class="left"></iron-icon>
                    {{localize('list', 'name')}}
                  </a>
                </tab-element>
                <tab-element name="groups">
                  <a href$="/groups?room=[[queryParams.room]]" class="tab">
                    <iron-icon icon="grid-on" class="left"></iron-icon>
                    {{localize('groups', 'name')}}
                  </a>
                </tab-element>
                <tab-element name="detail">
                  <a href$="/detail?room=[[queryParams.room]]" class="tab">
                    <iron-icon icon="chrome-reader-mode" class="left"></iron-icon>
                    {{localize('detail', 'name')}}
                  </a>
                </tab-element>
              </tabs-container>
            </div>
          </iron-collapse>

          <template is="dom-if" if="[[_shouldLogin]]">
            <icon-button icon="[[loginIcon]]" class="login-icon" title="{{localize('login', 'name')}}" on-click="_openLoginDialog"></icon-button>
          </template>

          <template is="dom-if" if="[[detailHasDrawer]]">
            <icon-button icon="subject" title="items" on-tap="_toggleDetailControlDrawer">
            </icon-button>
          </template>

          <icon-button icon="more-vert" title="{{localize('view')}}" on-tap="toggleShowTabs"></icon-button>
        </app-toolbar>

      </app-header>

      <!-- Pages-->
      <iron-pages id="pages" role="main" selected="{{page}}" attr-for-selected="name" selected-attribute="visible" fallback-selection="home">
        <!-- home view for selecting the facility -->
        <page-home name="home" dark$="[[dark]]" plain$="[[plain]]" class="fullbleed" facilities="[[facilities]]" logged-in="[[loggedIn]]" language="[[language]]" language-resources="[[languageResources]]">
          <slot></slot>
        </page-home>
        <!-- list view of items in a facility -->
        <page-list name="list" dark$="[[dark]]" plain$="[[plain]]" room="[[queryParams.room]]" elements="[[elements]]">
        </page-list>
        <!-- group view of items -->
        <page-groups name="groups" dark$="[[dark]]" plain$="[[plain]]" room="[[queryParams.room]]" logged-in="[[loggedIn]]" elements="[[elements]]" grouped-key="{{groupedKey}}" grouping-keys="{{groupingKeys}}">
        </page-groups>
        <!-- detail view of one item -->
        <page-detail id="detailpage" name="detail" dark$="[[dark]]" plain$="[[plain]]" class="fullbleed" room="[[queryParams.room]]" query="{{queryParams.mounts}}" logged-in="[[loggedIn]]" elements="[[elements]]" show-toggle-icon="{{detailHasDrawer}}">
        </page-detail>
      </iron-pages>
    </app-header-layout>

    <drawer-element id="networkNotification" class="notification" align="bottom" shadow auto-close auto-close-period="4000">
      <iron-icon class="prop" icon="[[socketStatusIcon]]" slot="icon"></iron-icon>
      <span class="message"></span>
    </drawer-element>
    <drawer-element id="announceNotification" class="notification" align="bottom" shadow auto-close auto-close-period="5000">
      <iron-icon class="prop" icon="event" slot="icon"></iron-icon>
      <span class="message"></span>
    </drawer-element>

  <drawer-element opened="{{showTabsOnBottom}}" id="toolbarBottom" swipe-open auto-close-period="8000" shadow auto-close="[[!thresholdTriggered]]">
    <div class="tab-drawer">
      <tabs-container class="tabs" role="tablist" selected="{{page}}" attr-for-selected="name">
        <tab-element name="list">
          <a href$="/list?room=[[queryParams.room]]" class="tab">
            <iron-icon icon="list" class="left"></iron-icon>
            {{localize('list', 'name')}}
          </a>
        </tab-element>
        <tab-element name="groups">
          <a href$="/groups?room=[[queryParams.room]]" class="tab">
            <iron-icon icon="grid-on" class="left"></iron-icon>
            {{localize('groups', 'name')}}
          </a>
        </tab-element>
        <tab-element name="detail">
          <a href$="/detail?room=[[queryParams.room]]" class="tab">
            <iron-icon icon="chrome-reader-mode" class="left"></iron-icon>
            {{localize('detail', 'name')}}
          </a>
        </tab-element>
      </tabs-container>
    </div>
  </drawer-element>

  <!-- SIDEMENU -->
  <template is="dom-if" if="[[_shouldRenderDrawer]]">
      <drawer-element id="drawer" opened="{{drawerOpened}}" align="left" swipe-open tabindex="0" scrim stretch>
        <app-toolbar class="top">
          <icon-button icon="close" title="close" on-tap="_toggleDrawer"></icon-button>
          <icon-button icon="[[loginIcon]]" title="{{localize('notification', 'loggedIn', loggedIn)}}" on-tap="_openLoginDialog"></icon-button>
        </app-toolbar>

        <div class="drawer-content">
          <div class="button" for="route-collapse" on-tap="_toggleCollapse">
            <paper-ripple id="ripple" recenters></paper-ripple>
            <iron-icon icon="more-vert" class="left"></iron-icon>
            <span>{{localize('view')}}</span>
            <iron-icon icon="expand-less" class="right"></iron-icon>
          </div>

          <iron-collapse id="route-collapse" opened>
            <div class="collapse-content">
              <a href="/home" class="button" name="home">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="exit-to-app" class="left"></iron-icon>
                  {{localize('home', 'name')}}
              </a>
              <a href="/list?room=[[queryParams.room]]" class="button" name="list">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="list" class="left"></iron-icon>
                  {{localize('list', 'name')}}
              </a>
              <a href="/groups?room=[[queryParams.room]]" class="button" name="groups">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="grid-on" class="left"></iron-icon>
                  {{localize('groups', 'name')}}
              </a>
              <a href="/detail?room=[[queryParams.room]]" class="button" name="detail">
                  <paper-ripple id="ripple" recenters></paper-ripple>
                  <iron-icon icon="chrome-reader-mode" class="left"></iron-icon>
                  {{localize('detail', 'name')}}
              </a>
            </div>
          </iron-collapse>

          <div class="spacer"></div>

          <div class="button" for="layout-collapse" on-tap="_toggleCollapse">
            <paper-ripple id="ripple" recenters></paper-ripple>
            <iron-icon icon="settings" class="left"></iron-icon>
            <span>{{localize('layout')}}</span>
            <iron-icon icon="expand-more" class="right"></iron-icon>
          </div>

          <iron-collapse id="layout-collapse">
            <div class="collapse-content">
              <toggle-button checked="{{plain}}">
                <iron-icon slot="icon" icon="border-style"></iron-icon>
                {{localize('plain', plain)}}
              </toggle-button>
              <toggle-button checked="{{dark}}">
                <iron-icon slot="icon" icon="invert-colors"></iron-icon>
                {{localize('dark', dark)}}
              </toggle-button>
            </div>
          </iron-collapse>

          <div class="spacer"></div>

          <div class="selectbox" title="[[language]]">
            <iron-icon icon="language"></iron-icon>
            <span>{{localize('language')}}</span>

            <select value="{{language::change}}">
              <option value="de">deutsch</option>
              <option value="en">english</option>
              <option value="fr">français</option>
              <option value="es">español</option>
              <option value="it">italiano</option>
              <option value="ru">русский</option>
              <option value="zh">中文</option>
            </select>
          </div>

          <div class="selectbox grouping" title="[[groupedKey]]" hidden$="[[hideGroupSelect]]">
            <iron-icon icon="filter-list"></iron-icon>
            <span>{{localize('groupedKey')}}</span>
            <select value="{{groupedKey::change}}"></select>
          </div>
        </div>

        <app-toolbar class="bottom">
          <icon-button icon="[[socketStatusIcon]]" title="[[socketStatus]]" on-tap="_socketConnect"></icon-button>
        </app-toolbar>
      </drawer-element>
    </template>
  </template>

  <script>
    class WebvisualApp extends WebvisualMixins.LocalizeMixin(Polymer.mixinBehaviors(
      [ Polymer.IronA11yKeysBehavior,
        Polymer.IronResizableBehavior ], Polymer.Element)) {

      static get is() {
        return 'webvisual-app';
      }

      static get properties() {
        return {

          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },

          path: {
            type: String
          },

          query: {
            type: String
          },

          queryParams: {
            type: Object,
            notify: true
          },

          elements: {
            type: Array
          },

          groupingKeys: {
            type: Array,
            value: function() {
              return [];
            },
            notify: true
          },

          groupedKey: {
            type: String,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          languageResourcePath: {
            type: String,
            value: '/locales/app.json'
          },

          dark: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true,
            observer: '_darkChanged'
          },

          plain: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true,
            observer: '_plainChanged'
          },

          room: {
            type: String
          },

          socketStatus: {
            type: String
          },

          loggedIn: {
            type: Boolean,
            notify: true
          },

          loginIcon: {
            type: String,
            computed: '_computeLoginIcon(loggedIn)'
          },

          offline: {
            type: Boolean
          },

          loadComplete: {
            type: Boolean
          },

          detailHasDrawer: {
            type: Boolean
          },

          showTabs: {
            type: Boolean,
            value: false,
            observer: '_debouncedHideTabs'
          },

          wideLayout: {
            type: Boolean,
            value: false,
            notify: true
          },

          thresholdTriggered: {
            type: Boolean,
            value: false
          },

          showTabsOnBottom: {
            type: Boolean,
            notify: true,
            computed: '_computeShowTabsOnBottom(thresholdTriggered, wideLayout, showTabs)'
          },

          socketStatusIcon: {
            type: String,
            computed: '_computeStatusIcon(socketStatus)'
          },

          hideGroupSelect: {
            type: Boolean,
            computed: '_computeHideGroupSelect(page, loadComplete, groupingKeys)'
          },

          _isContentPage: {
            type: Boolean,
            computed: '_computeIsContentPage(page)'
          },

          _isFullbleedPage: {
            type: Boolean,
            computed: '_computeIsFullbleedPage(page)'
          },

          _shouldRenderDrawer: {
            type: Boolean,
            computed: '_computeShouldRenderDrawer(_isContentPage, loadComplete)'
          },

          _shouldLogin: {
            type: Boolean,
            computed: '_computeShouldLogin(loggedIn, offline)'
          },

          keyEventTarget: {
            type: Object,
            value: function() {
              return document.body;
            }
          }
        }
      }

      static get listeners() {
        return {
          'detail-request': '_openDetailRequestDialog',
          'login-request': '_openLoginDialog',
          'announce': '_notifyAnnouncement',
          'data-missing': '_notifyAnnouncement',
          'empty-configuration': '_redirectHome'
        }
      }

      static get observers() {
        return [
          '_routePageChanged(path)',
          '_roomChanged(room)',
          '_resetLayout(showTabsOnBottom, wideLayout, thresholdTriggered)',
          '_setGroupingSelectBoxes(hideGroupSelect)'
        ]
      }

      constructor() {
        super();
        this.keyBindings = {
          'left': '_previousPage',
          'right': '_nextPage'
        };
        this._loadPresettings();
      }

      connectedCallback() {
        super.connectedCallback();
        Polymer.RenderStatus.afterNextRender(this, function() {
          window.addEventListener('online', this._notifyNetworkStatus);
          window.addEventListener('offline', this._notifyNetworkStatus);
        });
        this.removeAttribute('unresolved');
      }

      _routePageChanged(path) {
        var page = path.split('/').filter(function(p) {
          return p !== '';
        }).join('');

        this.page = page || 'home';

        // Scroll to the top of the page on every *route* change
        this._resetScroll();
        // Close the drawer - in case the *route* change came from a link in the drawer.
        this.drawerOpened = false;
      }

      _redirectHome(e) {
        // console.log('redirect home');
        this.setProperties({
          path: '/home',
          page: 'home',
          showTabs: false
        });
        if (e) {
          this._notifyAnnouncement(e);
        }
      }

      _resetScroll() {
        setTimeout(() => {
          this.$.pages.scrollTop = 0;
          this.$.layout.resetLayout();
          // this._resetLayout(this.showTabsOnBottom, this.wideLayout, this.thresholdTriggered);
        });
      }

      _resetLayout(showTabsOnBottom, wideLayout, thresholdTriggered) {
        // Polymer.RenderStatus.afterNextRender(this, function() {
        //   if (!wideLayout && (thresholdTriggered || showTabsOnBottom) && !this._isFullbleedPage) {
        //     this.$.pages.style.marginBottom = '2.5em';
        //   } else {
        //     this.$.pages.style.marginBottom = '0';
        //   }
        // });
      }

      _nextPage() {
        this._switchPage(1);
      }

      _previousPage() {
        this._switchPage(-1);
      }

      _switchPage(num) {
        this.async(function() {
          var order = ['home', 'list', 'groups', 'detail'];
          var pos = order.indexOf(this.page) || 0;
          pos = (pos + num + order.length) % order.length;
          this.setProperties({
            path: '/' + order[pos],
            page: order[pos],
            showTabs: false
          });
        })
      }

      _roomChanged(room) {
        if (!room) {
          return;
        }
        var names = room.split('/').filter(function(str) {
          return str !== '';
        });

        if (names.length >= 2) {
          var page = this.page;
          this.room = names[0] + '+' + names[1];
          document.title = names.join('/') + ' - ' + (this.localize ? this.localize(page, 'name') : page);
        }
      }

      toggleShowTabs() {
        this.showTabs = !this.showTabs;
      }

      _pageChanged(page, oldPage) {
        if (page) {
          // home route is eagerly loaded
          if (page === 'home') {
            this._pageLoaded(Boolean(oldPage));
            // other routes are lazy loaded
          } else {
            this.importHref(
              this.resolveUrl('page-' + page + '.html'),
              function() {
                this._pageLoaded(Boolean(oldPage));
                var item;
                this._debouncedHideTabs();
              },
              function() {
                this.set('page', 'home'); // Fallback
              }, true);
          }
        }
      }

      _socketConnect(e) {
        if (this.$.socketHandler.socketStatus === 'sync-disabled') {
          this.$.socketHandler.connect();
        } else {
          this.$.socketHandler.socketStatus = 'sync-disabled';
          this.$.socketHandler.disconnect();
        }
      }

      _pageLoaded(shouldResetLayout) {
        this._ensureLazyLoaded();
        if (shouldResetLayout) {
          // The size of the header depends on the page (e.g. on some pages the tabs
          // do not appear), so reset the header's layout only when switching pages.
          setTimeout(() => {
            // console.log('reset layout');
            this.$.header.resetLayout();
            this._resetScroll();
          }, 25);
        }
      }

      _ensureLazyLoaded() {
        // load lazy resources after render and set 'loadComplete' when done.
        if (!this.loadComplete) {
          Polymer.RenderStatus.afterNextRender(this, function() {
            this.importHref(this.resolveUrl('lazy-resources.html'), function() {
              // Register service worker if supported.
              if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js');
              }
              this._notifyNetworkStatus();
              this.loadComplete = true;
            });
          });
        }
      }

      _notifyNetworkStatus() {
        var oldOffline = this.offline;
        this.offline = !navigator.onLine;
        // Show the drawer if the user is offline when starting a new session
        // or if the network status changed.
        if (this.offline || (!this.offline && oldOffline === true)) {
          this.$.networkNotification.querySelector('.message').innerHTML = this.localize ? this.localize('notification', 'offline', this.offline) : (this.offline ?
            'You are offline' : 'You are online');
          this.$.networkNotification.opened = true;
        }
      }

      _notifyAnnouncement(e) {
        var message = e.detail;
        // Show the drawer if the user is offline when starting a new session
        // or if the network status changed.
        if (message) {
          this.$.announceNotification.querySelector('.message').innerHTML = message;
          this.$.announceNotification.opened = true;
        }
      }

      _toggleDrawer() {
        this.drawerOpened = !this.drawerOpened;
      }

      _toggleDetailControlDrawer() {
        this.$.detailpage.toggleControlDrawer();
      }

      _toggleAlarmDrawer() {
        this.alarmDrawerOpened = !this.alarmDrawerOpened;
      }

      _openLoginDialog() {
        this.$.loginDialog.opened = true;
      }

      // detail-requests
      _openDetailRequestDialog(e, detail) {
        this.async(function() {
          if (!this._detailRequestDialog) {
            this._detailRequestDialog = document.createElement('dialog-detail-request');
            Polymer.dom(this.root).appendChild(this._detailRequestDialog);
          }
          this._detailRequestDialog.set('item', detail.item);
          this._detailRequestDialog.set('language', this.language);
          this._detailRequestDialog.set('languageResources', this.languageResources);
          this._detailRequestDialog.opened = true;
        });
      }

      _loadPresettings() {
        var settings = JSON.parse(localStorage.getItem('settings'));
        for (var key in settings) {
          this.set(key, settings[key]);
        }
        this._updateStyles();
      }

      _plainChanged(plain, old) {
        if (old === undefined)
          return;

        var settings = JSON.parse(localStorage.getItem('settings')) || {};
        settings.plain = plain;
        localStorage.setItem('settings', JSON.stringify(settings));

        this._updateStyles();
      }

      _darkChanged(dark, old) {
        if (old === undefined)
          return;

        var settings = JSON.parse(localStorage.getItem('settings')) || {};
        settings.dark = dark;
        localStorage.setItem('settings', JSON.stringify(settings));

        this._updateStyles();
      }

      _updateStyles() {
        setTimeout(() => {
          this.updateStyles();
        }, 0);
      }

      _setGroupingSelectBoxes(hideGroupSelect) {
        if (hideGroupSelect) {
          return;
        }
        // Hack: initial binding to native select value property is not bound
        setTimeout(() => {
          var groupedKey = this.groupedKey;
          var groupingSelectors = Polymer.dom(this.root).querySelectorAll('.selectbox.grouping');
          var groupingKeys = this.groupingKeys;

          Array.prototype.forEach.call(groupingSelectors, function(el) {
            var sel = el.querySelector('select');
            if (sel) {
              while (sel.hasChildNodes()) {
                sel.removeChild(sel.lastChild);
              }
              groupingKeys.forEach(function(item) {
                var option = document.createElement('option');
                option.textContent = item;
                option.value = item;
                Polymer.dom(sel).appendChild(option);
              });
              sel.value = groupedKey;
            }
          })
        }, 0);
      }

      _debouncedHideTabs(showTabs) {
        if (showTabs) {
          if (this._activeHideTabsJob) {
            clearTimeout(this._activeHideTabsJob);
          }
          this._activeHideTabsJob = setTimeout(() => {
            this.showTabs = false;
            setTimeout(() => {
              this.notifyResize();
            }, 0)
            this._activeHideTabsJob = null;
          }, 10000);
        }
      }

      _computeShowTabsOnBottom(thresholdTriggered, wideLayout, showTabs) {
        return thresholdTriggered || (!wideLayout && showTabs);
      }

      _computeShouldLogin(loggedIn, offline) {
        return (loggedIn === false && offline === false);
      }

      _computeIsContentPage(page) {
        return page !== 'home';
      }

      _computeIsFullbleedPage(page) {
        return page === 'detail';
      }

      _computeShouldRenderDrawer(isContentPage, loadComplete) {
        return isContentPage && loadComplete;
      }

      _computeHideGroupSelect(page, loadComplete, groupingKeys) {
        return page !== 'groups' || !loadComplete || !groupingKeys || !groupingKeys.length;
      }

      _computeStatusIcon(status) {
        switch (status) {
          case 'sync-problem':
            return 'sync-problem';
          case 'connect':
            return 'sync';
          case 'connected':
            return 'wifi';
          default:
            return 'sync-disabled';
        }
      }

      _toggleCollapse(e) {
        // TODO: very probable that this will change in Polymer 2.0
        var button = e.currentTarget;
        if (!button.hasAttribute('for')) {
          return;
        }
        var id = button.getAttribute('for');
        var collapse = this.$$('#' + id);
        var iconbutton = button.querySelector('iron-icon.right');

        if (collapse && collapse.toggle) {
          collapse.toggle();
          if (iconbutton) {
            if (iconbutton.icon === 'expand-more')
              iconbutton.set('icon', 'expand-less');
            else
              iconbutton.set('icon', 'expand-more');
          }
        }
      }

      _computeLoginIcon(loggedIn) {
        return loggedIn ? 'person' : 'person-outline';
      }
    }
    customElements.define(WebvisualApp.is, WebvisualApp);
  </script>
</dom-module>
