<script src="../bower_components/fetch/fetch.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="behaviors/localize-behavior.html">

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/webvisual-button.html">
<link rel="import" href="style/webvisual-input.html">

<dom-module id="webvisual-login-dialog">

  <template strip-whitespace>

    <style include="shared-styles webvisual-input webvisual-button">
      .box {
        background: #f1f1f1;
        box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.16);
        color: black;
        border-radius: 32px;
        position: relative;
        box-sizing: border-box;
        font-size: 1em;
        padding: 1.25em;
        white-space: normal;
        line-height: 1.4;
      }
      #signinform {
        @apply(--layout-vertical);
        @apply(--layout-center-center);
        position: relative;
        box-sizing: border-box;
        font-size: 1em;
        padding: 1em;
        margin: auto;
        align-self: center;
        white-space: normal;
        line-height: 1.4;
      }
      .buttons {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        align-items: stretch;
        position: relative;
        width: 100%;
        margin-top: 1em;
      }
      #signinform > *:not(:last-child) {
        margin-bottom: 1em;
      }
      h3, h4 {
        font-weight: normal;
        text-align: center;
        white-space: normal;
      }
      #loginInfo {
        font-size: 1.1em;
        margin: 0;
        margin-bottom: 1.5em;
      }
      .input-box {
        display: inline-flex;
        align-items: center;
      }
      .left {
        margin-right: 0.75em;
      }
      .right {
        margin-left: 0.75em;
      }
      .webvisual-button {
        flex: 0;
        padding: 0;
        pointer-events: none;
        position: relative;
        border: thin solid rgba(0,0,0,0.1);
        border-radius: 6px;
      }
      .webvisual-button.submit {
        flex: 1 1 auto;
      }
      .usercard {
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
        flex: 1 1 auto;
        padding: 0 1em;
        margin-right: 1em;
        border-radius: 8px;
        background: rgba(0,0,0,0.15);
      }
      .webvisual-button:not(:last-of-type) {
        margin-right: 1em;
      }
      .webvisual-button > button {
        padding: 0.75em;
        pointer-events: all;
      }
      button > span {
        padding: 0.5em;
      }
      .hidden {
        visibility: hidden;
      }
    </style>

    <paper-dialog id="dialog">
      <paper-dialog-scrollable>
        <h2>Please sign-in</h2>
        <form is="iron-form" id="signin-form" action="/auth" method="post" on-iron-form-presubmit="onPwSignIn">
          <input id="luser" name="user" label="Whatever name" autocomplete="user" required>
          <input id="lpassword" type="password" name="password" label="password" autocomplete="current-password" pattern=".{4,32}"  error-message="4-32 letters please" required/>
          <div class="buttons">
            <button type="cancel" class="hidden">
              <paper-button dialog-dismiss raised>Cancel</paper-button>
            </button>
            <button type="submit" class="hidden">
              <paper-button raised>Submit</paper-button>
            </button>
          </div>
        </form>
        <div class="layout horizontal center-justified">
          <span>or</span>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

    <div class="box" on-tap="center">
      <template is="dom-if" if="{{!loggedIn}}">
        <!-- <form is="iron-form" id="signinform" action$="{{signInUrl}}" method="post" on-iron-form-presubmit="onRegister">
          <div>
            <h4 id="loginInfo">{{localize('login', 'title')}}</h4>
          </div>

          <section class="input-box">
            <iron-icon class="left" icon="perm-identity"></iron-icon>
            <div class="webvisual-input">
              <input is="iron-input" id="name" name="name" type="text" pattern=".{1,32}" autocomplete="name" placeholder="" autocapitalize="none" autocorrect="off" tabindex="0" required/>
              <div class="webvisual-md-decorator" error-message$="{{localize('login', 'invalid-name')}}" aria-hidden="true">
                <label>{{localize('login', 'name')}}</label>
                <div class="webvisual-underline"></div>
              </div>
            </div>
          </section>

          <section class="input-box">
            <iron-icon class="left" icon="send"></iron-icon>
            <div class="webvisual-input">
              <input is="iron-input" type="email" id="email" name="email" autocomplete="username" placeholder="" autocapitalize="none" autocorrect="off" tabindex="0" required/>
              <div class="webvisual-md-decorator" error-message$="{{localize('login', 'invalid-email')}}" aria-hidden="true">
                <label>{{localize('login', 'Email')}}</label>
                <div class="webvisual-underline"></div>
              </div>
            </div>
          </section>

          <section class="input-box">
            <iron-icon class="left" icon="more-horiz"></iron-icon>
            <div class="webvisual-input">
              <input is="iron-input" id="password" type="password" name="password" autocomplete="current-password" placeholder="" autocapitalize="none" autocorrect="off" pattern=".{4,32}" tabindex="0" required/>
              <div class="webvisual-md-decorator" error-message$="{{localize('login', 'invalid-password')}}" aria-hidden="true">
                <label>{{localize('login', 'password')}}</label>
                <div class="webvisual-underline"></div>
              </div>
            </div>
          </section>

          <div class="buttons">
            <div class="webvisual-button">
              <paper-ripple></paper-ripple>
              <button dialog-dismiss type="cancel">
                <iron-icon icon="close"></iron-icon>
              </button>
            </div>
            <div class="webvisual-button submit">
              <paper-ripple></paper-ripple>
              <button type="submit">
                <iron-icon class="left" icon="juelich:logo"></iron-icon>
                <span>{{localize('login', 'name')}}</span>
              </button>
            </div>
          </div>
        </form> -->
      </template>

      <template is="dom-if" if="{{!loggedIn}}">
        <form is="iron-form" id="reg-form" action="/login" method="post" on-iron-form-presubmit="onRegister">
          <input id="name" type="hidden" name="name" label="Whatever name" autocomplete="name" required/>
          <div class="">
            <input id="user" name="user" label="Whatever name" autocomplete="username" pattern=".{1,32}" required/>
          </div>
          <input id="password" type="password" name="password" label="Bogus password" autocomplete="new-password" pattern=".{4,32}" required/>
          <div class="layout horizontal around-justified">
            <button type="submit" class="hidden">
              <paper-button raised>Register</paper-button>
            </button>
          </div>
        </form>
        <!-- <h3>{{localize('notification', 'loggedIn', 'true')}}</h3>
        <div class="buttons">
          <div class="usercard">
            <iron-icon class="left" icon="perm-identity"></iron-icon>
            <span>{{userProfile.name}}</span>
          </div>
          <div class="webvisual-button">
            <paper-ripple></paper-ripple>
            <button dialog-dismiss>
              <iron-icon icon="close"></iron-icon>
            </button>
          </div>
          <div class="webvisual-button">
            <paper-ripple></paper-ripple>
            <button on-click="signOut">
              <iron-icon icon="sync-disabled"></iron-icon>
            </button>
          </div>
        </div> -->
      </template>

      <!-- Toolbar icons -->
      <template is="dom-if" if="[[!userProfile]]">
        <paper-button on-tap="openDialog" raised>
          Sign In
        </paper-button>
      </template>
      <template is="dom-if" if="[[userProfile]]">
        <paper-button on-tap="signOut" raised>Sign Out</paper-button>
      </template>
    </div>
  </template>

  <script>
    Polymer({

      is: 'webvisual-login-dialog',

      behaviors: [
        Polymer.PaperDialogBehavior,
        WebvisualBehaviors.LocalizeBehavior
      ],

      properties: {
        userProfile: {
          type: Object,
          value: null
        },

        loggedIn: {
          type: Boolean,
          value: false,
          notify: true
        },

        signInUrl: {
          type: String,
          value: '/login'
        },

        signOutUrl: {
          type: String,
          value: '/logout'
        }

      },

      listerners: {
        'iron-overlay-opened': 'openDialog'
      },

      attached: function() {
        this.open();
        this.openDialog();
      },

      _autoSignIn: function(unmediated) {
        if (navigator.credentials) {
          // Actual Credential Management API call to get credential object
          return navigator.credentials.get({
            password: true,
            unmediated: unmediated
          }).then(function(cred) {
            // If credential object is available
            if (cred) {
              console.log('auto sign-in performed');

              if (cred.type === 'password') {
                  // Change form `id` name to `email`
                  cred.idName = 'user';
                  // Return Promise from `pwSignIn`
                  return this.pwSignIn(cred);
              }
            } else {
              console.log('auto sign-in not performed');

              // Resolve if credential object is not available
              return Promise.resolve();
            }
          }.bind(this));
        } else {
          // Resolve if Credential Management API is not available
          return Promise.resolve();
        }
      },

      /**
       * Authentication flow with our own server
       * @param  {String} provider Credential type string.
       * @param  {FormData} form FormData to POST to the server
       * @return {Promise} Resolves when successfully authenticated
       */
      _authenticateWithServer: function(form) {
        var url = '/login';
        return fetch(url, {
          method:      'POST',
          // `credentials:'include'` is required to include cookies on `fetch`
          credentials: 'include',
          body:        form
        }).then(function(res) {
          // Convert JSON string to an object
          if (res.status === 200) {
            return res.json();
          } else {
            return Promise.reject();
          }
        }.bind(this)).then(this.signedIn.bind(this));
      },

      /**
       * When password sign-in button is pressed.
       * @return {void}
       */
      onPwSignIn: function(e) {
        e.preventDefault();

        var signinForm = e.target;

        // Polymer `iron-form` feature to validate the form
        if (!signinForm.validate()) return;

        if (navigator.credentials) {
          // Construct `FormData` object from actual `form`
          var cred = new PasswordCredential(signinForm);

          // Sign-In with our own server
          pwSignIn(cred)
          .then(function(profile) {
            this.$.dialog.close();

            // `profile` may involve user name returned by the server
            cred.name = profile.name;
            cred.user = profile.user;
            // Store credential information before posting
            navigator.credentials.store(cred);
            this.fire('show-toast', {
              text: 'You are signed in'
            });
          }.bind(this), function() {
            // Polymer event to notice user that 'Authentication failed'.
            this.fire('show-toast', {
              text: 'Authentication failed'
            });
          }.bind(this));
        } else {
          this._authenticateWithServer(new FormData(signinForm))
          .then(function() {
            this.$.dialog.close();

            this.fire('show-toast', {
              text: 'You are signed in'
            });
          }.bind(this), function() {
            this.fire('show-toast', {
              text: 'Authentication failed'
            });
          }.bind(this));
        }
      },

      /**
       * Let user sign-in using id/password
       * @param  {CredentialObject} cred FormData or CredentialObject
       * @return {Promise} Returns result of `_authenticateWithServer()`
       */
      pwSignIn: function(cred) {
        // POST-ing credential object will be converted to FormData object
        return fetch('/login', {
          method:       'POST',
          // Include the credential object as `credentials`
          credentials:  cred
        }).then(function(res) {
          // Convert JSON string to an object
          if (res.status === 200) {
            return res.json();
          } else {
            return Promise.reject();
          }
        }.bind(this)).then(this.signedIn.bind(this));
      },

      /**
       * Invoked when 'Register' button is pressed, performs registration flow
       * and let user sign-in.
       * @return {void}
       */
      onRegister: function(e) {
        e.preventDefault();

        var regForm = e.target;
        regForm.elements[0].value = regForm.elements[1].value; // name <-- user

        // Polymer `iron-form` feature to validate the form
        if (!regForm.validate()) return;

        fetch('/login', {
          method:       'POST',
          // `credentials:'include'` is required to include cookie on `fetch`
          credentials:  'include',
          body:         new FormData(regForm)
        }).then(function(res) {
          if (res.status == 200) {
            return res.json();
          } else {
            return Promise.reject();
          }
        })
        .then(this.signedIn.bind(this))
        .then(function(profile) {
          this.fire('show-toast', {
            text: 'Thanks for signing up!'
          });

          if (navigator.credentials) {
            // Create password credential
            var cred = new PasswordCredential(regForm);

            // Store user information as this is registration using id/password
            navigator.credentials.store(cred);

            navigator.credentials.get({
              password: true,
              unmediated: false
            }).then(function(cred) {
              // If credential object is available
              if (cred) {
                console.log('auto sign-in performed');

                if (cred.type === 'password') {
                    // Change form `id` name to `email`
                    cred.idName = 'user';
                    // Return Promise from `pwSignIn`
                    return this.pwSignIn(cred);
                }
              } else {
                console.log('auto sign-in not performed');

                // Resolve if credential object is not available
                return Promise.resolve();
              }
            }.bind(this));
          }
        }.bind(this)).catch(function() {
          this.fire('show-toast', {
            text: 'Registration failed'
          });
        }.bind(this));
      },

      /**
       * Invoked when 'Unregister' button is pressed, unregisters user.
       * @return {[type]} [description]
       */
      onUnregister: function() {
        var form = new FormData();
        // POST `id` to `/unregister` to unregister the user
        form.append('id', this.userProfile.id);
        // Don't forget to include the CSRF Token.

        fetch('/logout', {
          method:       'POST',
          // `credentials:'include'` is required to include cookie on `fetch`
          credentials:  'include',
          body:         form
        }).then(function(res) {
          if (res.status != 200) {
            throw 'Could not unregister';
          }
          if (navigator.credentials) {
            // Turn on the mediation mode so auto sign-in won't happen
            // until next time user intended to do so.
            navigator.credentials.requireUserMediation();
          }
          userProfile = null;
          this.fire('show-toast', {
            text: "You're unregistered."
          });
          selected = 0;
        }.bind(this)).catch(function() {
          this.fire('show-toast', {
            text: 'Failed to unregister'
          });
        }.bind(this));
      },

      /**
       * Invoked when 'Sign-out' button is pressed, performs sign-out.
       * @return {void}
       */
      signOut: function() {

        fetch('/logout', {
          method:       'POST',
          // `credentials:'include'` is required to include cookie on `fetch`
          credentials:  'include'
        }).then(function() {
          if (navigator.credentials) {
            // Turn on the mediation mode so auto sign-in won't happen
            // until next time user intended to do so.
            navigator.credentials.requireUserMediation();
          }
          userProfile = null;
          this.fire('show-toast', {
            text: "You're signed out."
          });
        }.bind(this), function() {
          this.fire('show-toast', {
            text: 'Failed to sign out'
          });
        }.bind(this));
      },

      /**
       * User is signed in. Fill user info.
       * @param  {Object} profile Profile information object
       * @return {Promise} Resolves when authentication succeeded.
       */
      signedIn: function(profile) {
        console.log(profile);
        if (profile && profile.user) {
          this.userProfile = {
            user:     profile.user,
            iconURL:  profile.iconURL || '/icons/app-icon-48.png'
          };
          return Promise.resolve(this.userProfile);
        } else {
          return Promise.reject();
        }
      },

      /**
       * Invoked when 'Sign-In' button is pressed, perform auto-sign-in and
       * open dialog if it fails.
       * @return {void}
       */
      openDialog: function() {
        // Try auto sign-in before opening the dialog
        this._autoSignIn(false)
        .then(function(profile) {
          // When auto sign-in didn't resolve with a profile
          // it's failed to get credential information.
          // Open the form so the user can enter id/password
          // or select federated login manually
          if (!profile) {
            this.$.dialog.open();
          }
        }.bind(this), function() {
          this.$.dialog.open();
          // When rejected, authentication was performed but failed.
          this.fire('show-toast', {
            text: 'Authentication failed'
          });
        }.bind(this));
      }
    });

  </script>

</dom-module>
