<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/grid-layout.html">

<dom-module id="webvisual-list">
  <template strip-whitespace>
    <style include="shared-styles grid-layout">
      .grid li {
        @apply(--layout-horizontal);
      }
      a {
        border-radius: 4px;
        @apply(--layout);
        flex: 1 1;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        position: relative;
      }
      a > webvisual-element-sign {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        border: thin solid var(--grid-border-color);
      }
      a > webvisual-element-caption {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        border: thin solid var(--grid-border-color);
        border-left: none;
      }
      :host([plain]) a > :first-child {
        border-right: none;
      }
      webvisual-element-caption {
        flex: 1 0;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
      }
      webvisual-element-sign {
        flex: 0.5 0;
        -webkit-flex-basis: 4em;
        flex-basis: 4em;
      }
      .ripple {
        color: currentColor;
        opacity: 0.5;
      }
    </style>

    <template is="dom-if" if="[[visible]]">
      <ul class="grid">
        <template is="dom-repeat" items="[[_getListItems(elements)]]">
          <li>
            <a href$="/detail/[[item.mount]]">
              <webvisual-element-sign
                item="[[item]]"
                show-date></webvisual-element-sign>
              <webvisual-element-caption
                keys="[[item.keys]]"></webvisual-element-caption>
              <paper-ripple class="ripple"></paper-ripple>
            </a>
          </li>
        </template>
      </ul>

    </template>
  </template>

  <script>
    Polymer({
      is: 'webvisual-list',

      properties: {

        facilitySystem: String,

        elements: {
          type: Array,
          notify: true
        },

        visible: Boolean

      },

      _getListItems: function(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{},{},{},{},{},{},{},{},{},{}];
      }

    });
  </script>

</dom-module>
