<script src="../bower_components/fetch/fetch.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">

<link rel="import" href="behaviors/localize-behavior.html">

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/webvisual-button.html">
<link rel="import" href="style/webvisual-input.html">

<dom-module id="webvisual-login-dialog">

  <template strip-whitespace>

    <style include="shared-styles webvisual-input webvisual-button">
      :host {
        @apply(--layout-vertical);
        @apply(--layout-center-center);
        min-height: 100vh;
        box-sizing: border-box;
        outline: none;
      }
      .box {
        background: #f1f1f1;
        box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.16);
        color: black;
        border-radius: 32px;
        position: relative;
        box-sizing: border-box;
        font-size: 1em;
        padding: 1.5em;
        margin: 1.5em;
        white-space: normal;
        line-height: 1.4;
      }
      #signinform {
        @apply(--layout-vertical);
        @apply(--layout-center-center);
        position: relative;
        box-sizing: border-box;
        font-size: 1em;
        padding: 1em;
        margin: auto;
        align-self: center;
        white-space: normal;
        line-height: 1.4;
      }
      .buttons {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        align-items: stretch;
        position: relative;
        width: 100%;
        margin-top: 1em;
      }
      #signinform > *:not(:last-child) {
        margin-bottom: 1em;
      }
      h3, h4 {
        font-weight: normal;
        text-align: center;
        white-space: normal;
      }
      #loginInfo {
        font-size: 1.1em;
        margin: 0;
        margin-bottom: 1.5em;
      }
      .input-box {
        display: inline-flex;
        align-items: center;
      }
      .left {
        margin-right: 0.75em;
      }
      .right {
        margin-left: 0.75em;
      }
      .webvisual-button {
        flex: 0;
        padding: 0;
        pointer-events: none;
        position: relative;
      }
      .webvisual-button.submit {
        flex: 1 1 auto;
      }
      .usercard {
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
        flex: 1 1 auto;
        padding: 0 1em;
        margin-right: 1em;
        border-radius: 8px;
        background: rgba(0,0,0,0.1);
      }
      .webvisual-button:not(:last-of-type) {
        margin-right: 1em;
      }
      .webvisual-button > button {
        padding: 0.75em;
        pointer-events: all;
      }
      button > span {
        padding: 0.5em;
      }
    </style>

    <div class="box">
      <template is="dom-if" if="{{!loggedIn}}">

        <form is="iron-form" id="signinform" action$="{{signInUrl}}" method="post" on-iron-form-presubmit="onSubmit">
          <div>
            <h4 id="loginInfo">{{localize('login', 'title')}}</h4>
          </div>
          <input id="csrf_token" type="hidden" name="csrf_token" value="{{csrf_token}}" />

          <section class="input-box">
            <iron-icon class="left" icon="perm-identity"></iron-icon>
            <div class="webvisual-input">
              <input is="iron-input" id="username" autocomplete="username" placeholder="" autocapitalize="none" autocorrect="off" name="username" type="text" tabindex="0"/>
              <div class="webvisual-md-decorator" error-message$="{{localize('login', 'invalid-username')}}" aria-hidden="true">
                <label>{{localize('login', 'username')}}</label>
                <div class="webvisual-underline"></div>
              </div>
            </div>
          </section>

          <section class="input-box">
            <iron-icon class="left" icon="perm-identity"></iron-icon>
            <div class="webvisual-input">
              <input is="iron-input" id="password" class="style-scope paper-input" required="" autocomplete="current-password" placeholder="" autocapitalize="none" autocorrect="off" name="password" type="password" pattern=".{4,32}" tabindex="0"/>
              <div class="webvisual-md-decorator" error-message$="{{localize('login', 'invalid-password')}}" aria-hidden="true">
                <label>{{localize('login', 'password')}}</label>
                <div class="webvisual-underline"></div>
              </div>
            </div>
          </section>

          <div class="buttons">
            <div class="webvisual-button">
              <paper-ripple></paper-ripple>
              <button dialog-dismiss type="cancel">
                <iron-icon icon="close"></iron-icon>
              </button>
            </div>
            <div class="webvisual-button submit">
              <paper-ripple></paper-ripple>
              <button type="submit">
                <iron-icon class="left" icon="juelich:logo"></iron-icon>
                <span>{{localize('login', 'name')}}</span>
              </button>
            </div>
          </div>
        </form>
      </template>

      <template is="dom-if" if="{{loggedIn}}">
        <h3>{{localize('notification', 'loggedIn', 'true')}}</h3>
        <div class="buttons">
          <div class="usercard">
            <iron-icon class="left" icon="perm-identity"></iron-icon>
            <span>{{userProfile.username}}</span>
          </div>
          <div class="webvisual-button">
            <paper-ripple></paper-ripple>
            <button dialog-dismiss>
              <iron-icon icon="close"></iron-icon>
            </button>
          </div>
          <div class="webvisual-button">
            <paper-ripple></paper-ripple>
            <button on-click="signOut">
              <iron-icon icon="sync-disabled"></iron-icon>
            </button>
          </div>
        </div>
      </template>
    </div>
  </template>

  <script>
    Polymer({

      is: 'webvisual-login-dialog',

      behaviors: [
        Polymer.PaperDialogBehavior,
        WebvisualBehaviors.LocalizeBehavior
      ],

      properties: {
        userProfile: {
          type: Object
        },

        loggedIn: {
          type: Boolean,
          value: false,
          readOnly: true,
          notify: true
        },

        signInUrl: {
          type: String,
          value: '/login'
        },

        signOutUrl: {
          type: String,
          value: '/logout'
        }

      },

      attached: function() {
        this.autoSignIn(false)
          .then(function(profile) {
            // When auto sign-in didn't resolve with a profile
            // it's failed to get credential information.
            // Open the form so the user can enter id/password
            // or select federated login manually
            if (!profile) {
              this.loggedIn = false;
              this.open();
              this.focus();
            } else {
              this.close();
            }
          }.bind(this), function() {
            this.loggedIn = false;
            this.open();
            this.focus();
            // When rejected, authentication was performed but failed.
            this.dispatchEvent(new CustomEvent('announce', {
              detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in'
            }), {
              bubbles: true
            });
          }.bind(this))
          .catch(function(err) {
            console.log(err);
          });
      },

      /**
       * Let users sign-in without typing credentials
       * @param  {Boolean} unmediated Determines if user mediation is required.
       * @return {Promise} Resolves if credential info is available.
       */
      autoSignIn: function(unmediated) {
        if (navigator.credentials) {
          // Actual Credential Management API call to get credential object
          return navigator.credentials.get({
              password: true,
              unmediated: unmediated
            }).then(function(cred) {
              if (cred) {
                // console.log('auto sign-in performed');
                if (cred.type === 'password') {
                    cred.idName = 'username';
                    // Include CSRF token in the credential object
                    var csrf_token = new FormData();
                    csrf_token.append('csrf_token', this.root.querySelector('#csrf_token').value);
                    // `.additionalData` accepts `FormData`
                    // You can include CSRF token etc.
                    cred.additionalData = csrf_token;
                    //Return Promise from `signIn`
                    return this.signIn.call(this, cred);
                }
              } else {
                // console.log('auto sign-in not performed');
                // Resolve if credential object is not available
                this.loggedIn = false;
                return Promise.resolve();
              }
            }.bind(this))
            .catch(function(err) {
              console.log('auto sign-in error', err);
            });
        } else {
          // Resolve if Credential Management API is not available
          console.log('auto sign-in not available');
          return Promise.resolve();
        }
      },

      /**
       * When password sign-in button is pressed.
       * @return {void}
       */
      onSubmit: function(e) {
        e.preventDefault();

        var signinForm = Polymer.dom(this.root).querySelector('#signinform');

        // Polymer `iron-form` feature to validate the form
        if (signinForm.validate && !signinForm.validate()) return;

        if (navigator.credentials) {
          // Construct `FormData` object from actual `form`
          var cred = new PasswordCredential(signinForm);
          // Sign-In with our own server
          this.signIn(cred)
            .then(function(profile) {
              navigator.credentials.store(cred);
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', true) : 'You are signed in'
              }), {
                bubbles: true
              });
            }.bind(this), function() {
              // Polymer event to notice user that 'Authentication failed'.
              this.loggedIn = false;
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in'
              }), {
                bubbles: true
              });
            }.bind(this));
        } else {
          this.noCredApiSignIn(this.signInUrl, new FormData(signinForm))
            .then(function() {
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', true) : 'You are signed in'
              }), {
                bubbles: true
              });
            }.bind(this), function() {
              // Polymer event to notice user that 'Authentication failed'.
              this.loggedIn = false;
              this.dispatchEvent(new CustomEvent('announce', {
                detail: this.localize ? this.localize('notification', 'loggedIn', false) : 'You are not signed in'
              }), {
                bubbles: true
              });
            }.bind(this));
        }
      },

      /**
       * Let user sign-in using id/password
       * @param  {CredentialObject} cred FormData or CredentialObject
       * @return {Promise} Returns result of `noCredApiSignIn()`
       */
      signIn: function(cred) {
        // POST-ing credential object will be converted to FormData object

        return fetch(this.signInUrl, { // convert multipart-formdata to urlencoded
              method: 'POST',
              credentials:  cred
            }).then(function(res) {
            // Convert JSON string to an object
            if (res.status === 200) {
              return res.json();
            } else {
              return Promise.reject();
            }
          }.bind(this))
          .then(this.signedIn.bind(this))
          .catch(function(err) {
            console.log(err);
          }.bind(this));
      },

      /**
       * Let user sign-out
       * @param  {CredentialObject} cred FormData or CredentialObject
       * @return {Promise} Returns result of `noCredApiSignIn()`
       */
      signOut: function() {
        // POST-ing credential object will be converted to FormData object
        return fetch(this.signOutUrl, { // convert multipart-formdata to urlencoded
              method: 'POST',
              body: JSON.stringify(this.userProfile)
            }).then(function(res) {
            // Convert JSON string to an object
              if (res.status !== 200) {
                return Promise.reject();
              }
              if (navigator.credentials) {
                navigator.credentials.requireUserMediation();
              }
              this.loggedIn = false;
              this.userProfile = null;
            }.bind(this))
            .catch(function(err) {
              console.log(err);
            }.bind(this));
      },

      /**
       * User is signed in. Fill user info.
       * @param  {Object} profile Profile information object
       * @return {Promise} Resolves when authentication succeeded.
       */
      signedIn: function(profile) {

        if (profile && profile.username) {
          this.loggedIn = true;
          this.userProfile = {
            username: profile.username
          };
          return Promise.resolve(profile);
        } else {
          return Promise.reject();
        }
      },

      /**
       * Authentication flow with our own server
       * @param  {String} url Credential type string.
       * @param  {FormData} loginData loginData to POST to the server
       * @return {Promise} Resolves when successfully authenticated
       */
      noCredApiSignIn: function(url, signinForm) {

        return fetch(url, {
            method: 'POST',
            // `credentials:'include'` is required to include cookies on `fetch`
            credentials: 'include',
            body: signinForm
          }).then(function(res) {
            // Convert JSON string to an object
            if (res.status === 200) {
              return res.json();
            } else {
              return Promise.reject();
            }
          }).then(this.signedIn.bind(this))
          .catch(function(err) {
            this.loggedIn = false;
            console.log(err);
          }.bind(this));
      }
    });

  </script>

</dom-module>
