<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="data/webvisual-element-socket-data.html"/>
<link rel="import" href="data/webvisual-facility-data.html"/>
<link rel="import" href="data/webvisual-group-data.html"/>
<link rel="import" href="data/webvisual-svg-data.html"/>

<link rel="import" href="webvisual-element-sign.html"/>
<link rel="import" href="webvisual-element-caption.html"/>
<link rel="import" href="webvisual-groupcard.html"/>
<link rel="import" href="webvisual-element-svg.html"/>

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/page-layout.html">

<dom-module id="webvisual-groups">
  <template>
    <style include="shared-styles page-layout">
      :host(:not([plain])) .grid.sign li > * {
        border-radius: 12px;
      }
      :host([plain]) .grid.sign li > * {
        border-radius: 6px;
      }
      .grid.sign li > * {
        box-shadow: none;
      }

      .grid.sign li > :first-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-width: 0px;
      }

      .grid.sign li > :last-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      @media (max-width: 1980px) {
        .grid.sign li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
      }
      @media (max-width: 1280px) {
        .grid.sign li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }
      @media (min-width: 768px) and (max-width: 900px) {
        .grid.sign li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }
      @media (max-width: 520px) {
        .grid.sign li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }
      @media (max-width: 400px) {
        .grid.sign li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }
      .grid:not(.sign) > li:hover {
        resize: none;
      }

    </style>

    <webvisual-group-data
      subgroups="{{subgroups}}"
      grouped-key="{{groupedKey}}"
      grouping-keys="{{groupingKeys}}"
      mount="[[mount]]"></webvisual-group-data>

    <webvisual-svg-data
      svg-data="{{svgData}}"
      mount="[[mount]]"></webvisual-svg-data>

    <template is="dom-if" if="[[visible]]">

      <ul class="grid">
        <template is="dom-repeat" items="[[_getSubGroups(subgroups)]]" as="group">
          <li>
            <webvisual-groupcard
              title="[[group.title]]"
              plain$="[[plain]]"
              open-on-select
              open-on-exceed
              multi
              svg-url-prefix="/images[[mount]]/"
              svg-src-path="[[group.svg.path]]"
              svg-selectable="[[_getSvgSelectable(group.svg.path, svgData.paths)]]">

              <ul class="grid sign">
                <template is="dom-repeat" items="[[group.items]]" as="id">
                  <li>
                    <webvisual-element-sign
                      item="[[_getItem(id, elements)]]"
                      show-date
                      selectable></webvisual-element-sign>
                    <webvisual-element-caption
                      vertical
                      keys="[[_getItemKeys(id, elements)]]"
                      grouped-key='[[groupedKey]]' without-grouped-key></webvisual-element-caption>
                  </li>
                </template>
              </ul>
            </webvisual-groupcard>
          </li>
        </template>
      </ul>

    </template>

  </template>

  <script>
    Polymer({
      is: 'webvisual-groups',

      // behaviors: [
      //   Polymer.NeonSharedElementAnimatableBehavior,
      //   GroupingBehavior
      // ],

      properties: {

        mount: String,

        elements: {
          type: Array,
          notify: true
        },

        subgroups: Array,

        groupedKey: {
          type: String,
          notify: true
        },

        groupingKeys: {
          type: Array,
          notify: true
        },

        visible: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },

        svgData: Object

      },

      observers: [
        '_routeChanged(mount, visible)'
      ],

      print: function(arg,arg2,arg3) {
        console.log(arg,arg2,arg3);
      },

      _getSubGroups: function(subgroup) {
        // Return placeholder items when the items haven't loaded yet.
        return subgroup || [{},{},{},{},{}];
      },

      _getItem: function(id, elements) {
        if (id && elements) {
          for (var i = 0, item; item = elements[i]; ++i) {
            if (item.id === id) {
              return item;
            }
          }
        }
        return {};
      },

      _getItemKeys: function(id, elements) {
        if (id && elements) {
          for (var i = 0, item; item = elements[i]; ++i) {
            if (item.id === id) {
              return item.keys;
            }
          }
        }
        return {};
      },

      _getSvgSelectable: function(src, svgSrcPaths) {
        return svgSrcPaths[src] || {};
      },

      _routeChanged: function(mount, visible) {
        if (visible) {
          this.debounce('change-page', function() {
            // Notify the facility and the page's title
            this.fire('change-page', {
              title: mount
            });
          });
        }
      }
    });
  </script>

</dom-module>
