<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<link rel="import" href="behaviors/element-behavior.html">
<link rel="import" href="style/webvisual-element-styles.html"/>

<dom-module id="webvisual-element-table">
	<template strip-whitespace>
    <style include="webvisual-element-styles">
      :host {
        /*height needs to be set by outer element*/
        color: var(--table-color, currentColor);
        background-color: var(--table-background, transparent);
        display: inline-flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
        border-color: inherit;
        border-radius: inherit;
  			min-width: 150px;
  			min-height: 75px;
        text-align: left;
        line-height: 1.5;
        cursor: default;
        pointer-events: all;
      }
  		span {
  			position: relative;
  			padding: 0 0.5em;
  		}
  		.tr {
  			display: flex;
  			justify-content: space-around;
    		font-size: 0.7em;
        height:
        -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all;
  		}
  		.tr:not([state]), .tr[state="0"] {
  			background: none; color: inherit;
  		}
  		.tr:nth-of-type(even) {
  			background: rgba(137, 137, 137, 0.15);
  		}
  		.tr[state="1"] {
  			background: var(--element-state-exceeds-color);
  			color: var(--element-state-exceeds-text-color);
  		}
  		.tr[state="-1"] {
  			background: var(--element-state-deceeds-color);
  			color: var(--element-state-deceeds-text-color);
  		}
  		.tr[onlyfirstrow] > span:not(:first-of-type) {
  			display: none;
  		}
  		#head {
  			display: flex;
  			justify-content: space-around;
        font-size: 0.8em;
  			width: 100%;
  			line-height: 1.8;
  			border-bottom-style: solid;
  			border-bottom-width: thin;
  			border-color: inherit;
  			cursor: pointer;
  			text-align: center;
  		}
      #caption {
        font-family: "FiraSans-Medium", sans-serif;
        display: block;
        position: relative;
        font-size: 0.6em;
        padding: 0.25em 0.5em;
        text-align: center;
        -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all;
      }
  		[hidden] {
  			display: none !important;
  		}
  		#list {
  			height: auto;
  			width: 100%;
  			flex: 1 1 50px;
  		}
    </style>

    <section id="head" hidden$="[[hideHeader]]" on-tap="_toggleGridView">
      <span>Datum</span>
      <span hidden$="[[onlyFirstRow]]">Wert <span hidden$="[[!item.unit]]" style="font-style:italic;">([[unit]])</span></span>
    </section>

  	<iron-list id="list" items="[[values]]" as="value">
  		<template>
        <div class="tr" state$="[[value.state]]" onlyfirstrow$="[[onlyFirstRow]]">
          <span>[[computeDate(value.x)]]</span>
          <span>[[computeValue(value.y, value.state)]]</span>
        </div>
      </template>
  	</iron-list>

    <section id="caption">[[caption]]</section>
  </template>

	<script>
		WebvisualElementTable = Polymer({
			is: 'webvisual-element-table',

			behaviors: [
				WebvisualBehaviors.ElementBehavior
			],

			properties: {

				caption: String,

				keysForCaption: Boolean,

				onlyFirstRow: Boolean,

				hideHeader: Boolean,

				fullDate: Boolean,

				viewLength: {
          type: Number,
          value: -1
        },

        storeInside: {
          type: Boolean,
          value: true
        }

			},

      observers: [
        '_computeKeysForCaption(keysForCaption, item)'
      ],

			insertValues: function(values) {
				if (!values || !values.length) return;

        this.async( () => {
  				if (!this._initialized) {
  					this.set('values', values.reverse());
  					this._initialized = true;
  				} else {
  					for (var i = 0; i < values.length; i++) {
  						this.unshift('values', values[i]);
  					}
  				}
        });
			},

			spliceValues: function(splices) {
        // var list = this.$.list.items;

        requestAnimationFrame( () => {
          var changeRecord = [];

          function find(item) {
            return this.x === item.x;
          }

          for (var i = 0; i < splices.length; i++) {
            var pos = this.values.findIndex( find, splices[i]);
            if (pos !== -1) {
              this.values.splice(pos, 1);
              changeRecord.push( { index: pos, removed: [this.values[pos]], addedCount: 0, object: this.values, type: 'splice'} );
            }
          }

          this.notifySplices('values', changeRecord);
        })

			},

      clearValues: function() {
        this.$.list.set('items', []);
      },

      _computeKeysForCaption: function(keysForCaption, item) {
        if (keysForCaption && item && item.keys) {
          var cap = '';
          for (var key in this.item.keys) {
            cap += this.item.keys[key] + ' ';
          }
          this.$.caption.textContent = cap;
        } else if (this.caption) {
          this.$.caption.textContent = this.caption;
        }
        // if (item && item.color) {
        //   this.$.caption.style.background = item.color;
        // } else {
        //   this.$.caption.style.background = '';
        // }
      },

      _toggleGridView: function() {
        this.$.list.grid = !!!this.$.list.grid;
      }
		});
	</script>

</dom-module>
