<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/app-route/app-route.html"/>
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">

<link rel="import" href="data/webvisual-svg-data.html"/>

<link rel="import" href="components/webvisual-tabs.html"/>

<link rel="import" href="webvisual-element-checkbox.html"/>
<link rel="import" href="webvisual-element-caption.html"/>
<link rel="import" href="webvisual-element-table.html"/>
<link rel="import" href="webvisual-element-svg.html"/>
<link rel="import" href="webvisual-element-chart.html"/>

<link rel="import" href="style/shared-styles.html">

<dom-module id="webvisual-detail">
  <template strip-whitespace>
    <style include="shared-styles">
      :host {
        padding-top: inherit;
        position: absolute;
        display: block;
        top: 0; bottom: 0; left: 0; right: 0;
        box-sizing: border-box;
        overflow: hidden;
      }
      :host > #content {
        display: block;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        height: 100%;
      }
      #control {
        display: block;
        height: 100%;
        box-sizing: border-box;
      }
      #chart,
      #svg,
      #elementTable,
      #elementTabs {
        height: 50%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
      }
      #elementTabs {
        padding-bottom: 0.3em;
        --tab-vertical-overlay: {
          background-color: rgba(255, 255, 255, 0.15);
          border-left: 3px solid var(--saturated-primary-color, white);
          border-bottom: none;
        }
      }
      #elementTable {
        padding-top: 0.3em;
        height: 50%;
      }
      #elementDrawer {
        padding-top: inherit;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0px;
        --app-drawer-width: 256px;
        --app-drawer-content-container: {
          padding: 0 !important;
          background-color: transparent;
        };
      }
      #chart {
        isolation: isolate;
      }
      #svg {
        overflow: hidden;
        padding-bottom: 0.5em;
      }
      #chart[fullheight] {
        height: 100%;
      }
      .checkbox {
        flex-shrink: 0;
        color: var(--bright-text-color);
      }
      .checkbox[checked] {
        flex-shrink: 0;
        color: var(--primary-text-color);
      }
      .caption {
        flex: auto;
        --caption-background: transparent;
        --caption-color: currentColor;
      }
      #requestMoreDetailButton {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        opacity: 0.25;
        pointer-events: all;
        padding: 8px;
        width: 32px;
        height: 100%;
        fill: var(--primary-text-color);
        will-change: opacity;
        transition: opacity 150ms cubic-bezier(0.6, 0, 0.2, 1);
      }
      #requestMoreDetailButton:hover {
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
      }
      @media (max-width: 600px) {
        #elementTabs {
          background-color: rgba(255,255,255,0.25);
        }
      }
      @media (min-width: 601px) {
        #content {
          margin-right: 256px;
        }
        #elementDrawer {
          right: -256px;
        }
      }
      @media (min-width: 800px) {
        #chart,
        #svg {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
      @media (min-width: 1280px) {
        #chart,
        #svg {
          padding-left: 1em;
          padding-right: 1em;
        }
      }
      @media (min-width: 1600px) {
        #chart,
        #svg {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }

    </style>

    <app-route
      route="[[route]]"></app-route>

    <iron-media-query query="(max-width: 600px)" query-matches="{{showControlAsDrawer}}"></iron-media-query>

    <webvisual-svg-data
      hidden
      svg-data="{{svgData}}"
      facility-system="[[facilitySystem]]"></webvisual-svg-data>

    <template is="dom-if" if="[[visible]]">

      <div id="content">
        <webvisual-element-chart id="chart" opened="[[visible]]" fullheight$="[[!_withSvg]]"
          item="[[selectedElement]]"></webvisual-element-chart>

        <template is="dom-if" if="[[_withSvg]]">
          <webvisual-element-svg id="svg" opened="[[visible]]"
            url-prefix="/images/[[facilitySystem]]/"
            src="[[selectedElement.svg.path]]"
            selectable-items="[[_getSvgSelectable(selectedElement.svg.path, svgData.paths)]]"
            item="[[selectedElement]]"
            exceeding="[[exceeding]]"></webvisual-element-svg>
        </template>

        <app-drawer id="elementDrawer" opened="[[_ensureOpened(showControlAsDrawer)]]" swipe-open persistent="[[!showControlAsDrawer]]" align="right">

          <webvisual-tabs id="elementTabs" vertical selected="{{route.path}}" attr-for-selected="item-mount" selected-attribute="checked">
            <svg id="requestMoreDetailButton" slot="overlay-addon" on-tap="requestMoreDetail" viewBox="0 0 24 24">
              <g><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></g>
            </svg>

            <template is="dom-repeat" items="[[_getListItems(elements)]]">
              <webvisual-element-checkbox class="checkbox" slot="tab"
                item="[[item]]"
                item-mount="/[[item.mount]]"
                selectable>
                <webvisual-element-caption class="caption"
                  keys="[[item.keys]]"></webvisual-element-caption>
              </webvisual-element-checkbox>
            </template>
          </webvisual-tabs>

          <webvisual-element-table id="elementTable" full-date item="[[selectedElement]]"></webvisual-element-table>
        </app-drawer>
      </div>

    </template>

  </template>

  <script>
    Polymer({
      is: 'webvisual-detail',

      properties: {

        route: Object,

        facilitySystem: String,

        elements: {
          type: Array,
          notify: true
        },

        exceeding: {
          type: Array,
          value: function() {
            return [];
          },
          notify: true
        },

        selectedElement: {
          type: Object,
          value: function() {
            return {};
          },
          notify: true,
          computed: '_getCurrentElement(elements, route.path)'
        },

        svgData: Object,

        visible: Boolean,

        _withSvg: {
          type: Boolean
        },

        showControlAsDrawer: {
          type: Boolean,
          value: false,
          notify: true
        },

        showToggleIcon: {
          type: Boolean,
          notify: true,
          computed: '_computeShowToggleIcon(showControlAsDrawer, visible)'
        },

        _minDate: String,

        _maxDate: String,

        range: {
          type: Object,
          value: function() {
            return {
              from: +(new Date()),
              to: +(new Date())
            };
          }
        }
      },

      listeners: {
        'exceeding': '_setExceeding'
      },

      observers: [
        '_selectedElementChanged(selectedElement)'
      ],

      _setExceeding: function(e) {
        if (e && e.detail && e.detail.item) {
          if (e.detail.value === true)
            this.setExceeding(e.detail.item);
          else
            this.unsetExceeding(e.detail.item);
        }
      },

      setExceeding: function(item) {
        var pos = this.exceeding.indexOf(item);
        if (pos === -1)
          this.push('exceeding', item);

        this.isExceeding = (this.exceeding.length > 0) ? true : false;
      },

      unsetExceeding: function(item) {
        if (this.noAutoRemovalExceedings === true) return;
        var pos = this.exceeding.indexOf(item);
        if (pos !== -1)
          this.splice('exceeding', pos, 1);

        this.isExceeding = (this.exceeding.length > 0) ? true : false;
      },

      _getListItems: function(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{},{},{},{},{},{},{},{},{},{}];
      },

      _getCurrentElement: function(elements, mount) {
        if (!elements || !elements.length || !mount) {
          return null;
        }
        mount = mount.substring(1); // cut off leading '/'
        for (var i = 0; i < elements.length; i++) {
          if (elements[i].mount && elements[i].mount === mount) {
            return elements[i];
          }
        }
        return null;
      },

      _getSvgSelectable: function(src, svgSrcPaths) {
        return svgSrcPaths[src] || {};
      },

      _selectedElementChanged: function(selectedElement) {
        // notify the chart to resize
        var _withSvg = Boolean(selectedElement && selectedElement.svg && selectedElement.svg.path)
        if (_withSvg !== this._withSvg) {
          this._withSvg = _withSvg;
          var chart;
          if (chart = this.$$('#chart')) {
            this.debounce('chart-resize', chart.notifyResize.bind(chart));
          }
        }
      },

      _ensureOpened: function(showControlAsDrawer) {
        return true; // if 'showControlAsDrawer' changes the drawer is opened
      },

      _computeShowToggleIcon: function(showControlAsDrawer, visible) {
        return showControlAsDrawer && visible;
      },

      toggleControlDrawer: function() {
        var drawer = this.$$('#elementDrawer');
        if (drawer) {
          drawer.toggle();
        }
      },

      requestMoreDetail: function(e) {
        e.stopPropagation();
        this.fire('detail-request', { item: this.selectedElement })
      }
    });
  </script>

</dom-module>
