<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="style/webvisual-button.html">
<link rel="import" href="components/webvisual-tabs.html">
<link rel="import" href="webvisual-element-table.html">

<dom-module id="webvisual-table-group">
	<template strip-whitespace>
    <style include="webvisual-button">
      :host {
        display: flex;
        flex-direction: row;
        position: relative;
        box-sizing: border-box;
        line-height: 0;
        min-height: 100px;
      }
			#select {
				flex: 1 0 3em;
        min-width: 3em;
			}
      #tables {
        position: relative;
        box-sizing: border-box;
        flex: 1 0 auto;
      }
      webvisual-button {
        font-size: 0.75em;
        opacity: 0.75;
        padding: 0.5em;
        border-radius: 0;
        mix-blend-mode: exclusion;
        will-change: opacity;
        transition: opacity 150ms cubic-bezier(0.6, 0, 0.2, 1);
      }
      webvisual-button:hover {
        opacity: 1;
      }
      webvisual-button.iron-selected {
        background-color: rgba(255,255,255, 0.25);
      }
      .hidden {
        display: none;
      }
    </style>

    <webvisual-tabs id="select" selected="{{currentTable}}" fallback-selection="0" vertical>
      <template is="dom-repeat" items="[[items]]">
        <webvisual-button title="[[item.id]]"><span>[[item.id]]</span></webvisual-button>
      </template>
    </webvisual-tabs>
    <iron-pages id="tables" selected="[[currentTable]]">
      <template is="dom-repeat" items="[[items]]">
        <webvisual-element-table title$="[[item.id]]" item="[[item]]" keys-for-caption full-date></webvisual-element-table>
      </template>
    </iron-pages>

  </template>

	<script>
		WebvisualElementTable = Polymer({

			is: 'webvisual-table-group',

			properties: {
        items: {
          type: Array,
          value: function() {
            return [];
          },
          notify: true
        },

				onlyFirstRow: Boolean,

				showFullDate: Boolean,

        currentTable: {
          type: Number,
          value: 0,
          notify: true
        }
			},

      observers: [
        '_shouldHideTabs(items.length)'
      ],

			_shouldHideTabs: function(length) {
        if (length < 2) {
          this.$.select.classList.add('hidden');
        } else {
          this.$.select.classList.remove('hidden');
        }
			}
		});
	</script>

</dom-module>
