<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="webvisual-element-caption" unresolved>
  <template>
    <style>
      :host {
        font-family: "FiraSans-Regular", sans-serif;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: auto;
        width: auto;
        line-height: 1.4;
        position: relative;
        background: var(--caption-background, white);
        color: var(--caption-color, #252525);
        padding: var(--caption-padding, 0.4em 0.5em);
        margin: 0;
        align-self: stretch;
        pointer-events: all;
      }
      .captions {
        position: relative;
        -webkit-user-select: all; -moz-user-select: all; -ms-user-select: all; user-select: all;
        padding: 0;
        margin: 0;
        font-size: 0.6em;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: normal;
      }
      .captions:after {
        content: attr(title);
      }
      .captions:first-of-type {
        font-family: "FiraSans-Medium", sans-serif;
        font-size: 0.9em;
        word-break: normal;
      }
      .captions:nth-of-type(2) {
        font-size: 0.8em;
      }
      .captions:nth-of-type(3) {
        font-size: 0.7em;
      }
      :host([vertical]) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
      }
      :host(:not([vertical])) .captions {
        margin-left: 0.35em;
      }
      :host([vertical]) .captions {
        width: 100%;
      }
      [hidden] {
        display: none !important;
      }
      :host([unresolved]) {
        min-width: 6em;
        min-height: initial;
      }
      :host([unresolved][vertical]) {
        min-width: initial;
        min-height: 4em;
      }
      :host(.wrap) .captions {
        word-break: break-all;
        white-space: normal;
        text-overflow: clip;
      }
    </style>

    <template is="dom-repeat" items="[[reducedCaptionKeys]]" as="captionKey">
      <span class="captions" hidden$="[[isEmptyCaption(captionKey, groupedKey)]]" title="[[getKey(captionKey, groupedKey, keys.*)]]"></span>
    </template>

  </template>

  <script>

    CaptionElement = Polymer({

      is: 'webvisual-element-caption',

      properties: {

        keys: {
          type: Object,
          value: function() {
            return {};
          },
          notify: true
        },

        groupedKey: {
          type: String,
          value: ''
        },

        onlyGroupedKey: {
          type: Boolean,
          value: false
        },

        withoutGroupedKey:  {
          type: Boolean,
          value: false
        },

        reducedCaptionKeys: {
          type: Array,
          computed: '_computeReducedCaptionKeys(groupedKey, keys, onlyGroupedKey, withoutGroupedKey)'
        },

        vertical: {
          type: Boolean,
          reflectToAttribute: true
        }
      },

      listeners: {
        'tap': '_handleTap'
      },

      _handleTap: function(e) {
        this.classList.toggle('wrap');
      },

      created: function() {
        this.setAttribute('unresolved', '');
      },

      getKey: function(key) {
        return this.keys[key];
      },

      _computeReducedCaptionKeys: function(groupedKey, keys, onlyGroupedKey, withoutGroupedKey) {
        var captionKeys = Object.keys(keys);
        if (captionKeys.length === 0) return [];

        var reducedCaptionKeys = [];
        if (this.withoutGroupedKey === true)
          reducedCaptionKeys = captionKeys.filter( function(key) { return (groupedKey !== key) } );
        else if (this.onlyGroupedKey === true)
          reducedCaptionKeys = captionKeys.filter( function(key) { return (groupedKey === key) } );
        if (this.hasAttribute('unresolved')) {
          this.removeAttribute('unresolved');
        }
        return (reducedCaptionKeys.length === 0) ? captionKeys : reducedCaptionKeys;
      },

      isEmptyCaption: function(key) {
        return (!this.keys[key]);
      }

    });
  </script>

</dom-module>
