<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="behaviors/container-behavior.html"/>

<link rel="import" href="data/webvisual-element-socket-data.html"/>
<link rel="import" href="data/webvisual-facility-data.html"/>

<link rel="import" href="webvisual-element-sign.html"/>
<link rel="import" href="webvisual-element-caption.html"/>

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/page-layout.html">
<link rel="import" href="style/webvisual-button.html">

<dom-module id="webvisual-list">
  <template>
    <style include="shared-styles page-layout webvisual-button">
      .grid li {
        flex-direction: row;
      }
      :host(:not([plain])) .grid li > * {
        border-radius: 0px;
        border: thin solid var(--grid-border-color);
        border-left: none;
      }
      .grid li > :first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left: thin solid var(--grid-border-color);
      }
      .grid li > :last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      webvisual-element-caption {
        flex: 1 0 1px;
      }
    </style>

    <!-- <template is="dom-if" if="[[visible]]" restamp> -->
      <ul class="grid">
        <template is="dom-repeat" items="[[_getListItems(elements)]]">
          <li>
            <!-- <a href$="[[_getItemHref(item)]]"> -->
              <webvisual-element-sign
                item="[[item]]"
                show-date
                selectable></webvisual-element-sign>
              <webvisual-element-caption
                keys="[[item.keys]]"></webvisual-element-caption>
            <!-- </a> -->
          </li>
        </template>
      </ul>

      <!-- <webvisual-snackbar opened>
        <webvisual-element-sign item="[[item]]"></webvisual-element-sign>
        <webvisual-element-caption keys="[[item.keys]]" vertical></webvisual-element-caption>
      </webvisual-snackbar> -->

    <!-- </template> -->
  </template>

  <script>
    Polymer({
      is: 'webvisual-list',

      behaviors: [
        WebvisualBehaviors.ContainerBehavior
      ],

      properties: {

        mount: String,

        elements: {
          type: Array,
          notify: true
        }

      },

      observers: [
        '_routeChanged(mount, visible)'
      ],

      print: function(arg,arg2,arg3) {
        console.log(arg,arg2,arg3);
      },

      _getListItems: function(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{},{},{},{},{},{},{},{},{},{}];
      },

      _routeChanged: function(mount, visible) {
        if (visible) {
          this.debounce('change-section', function() {
            // Notify the facility and the page's title
            this.fire('change-section', {
              title: mount
            });
          });
        }
      },

      _tryReconnect: function() {
        this.$.facilityData.refresh();
      }
    });
  </script>

</dom-module>
