<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="components/webvisual-tabs.html"/>

<link rel="import" href="webvisual-element-checkbox.html"/>
<link rel="import" href="webvisual-element-caption.html"/>
<link rel="import" href="webvisual-element-table.html"/>
<link rel="import" href="webvisual-element-svg.html"/>
<link rel="import" href="webvisual-element-chart.html"/>

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/page-layout.html">
<link rel="import" href="style/webvisual-button.html">

<dom-module id="webvisual-detail">
  <template strip-whitespace>
    <style include="shared-styles page-layout webvisual-button">
      :host {
        display: flex;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        flex: 1;
        overflow: hidden;
        position: relative;
      }
      :host > #content {
        display: flex;
        position: relative;
        flex: 1;
        margin: 0;
        height: 100%;
      }
      #control {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        box-sizing: border-box;
      }
      #elementTable,
      #elementTabs {
        box-sizing: border-box;
        flex: 1 1;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
      }
      #elementTabs {
        margin-bottom: 0.5em;
        --tab-vertical-overlay: {
          background-color: rgba(255, 255, 255, 0.15);
          border-left: 3px solid var(--bright-primary-color, white);
          border-bottom: none;
        }
      }
      #elementTable {
        margin-top: 0.5em;
      }
      #elementDrawer {
        position: absolute;
        bottom: 0;
        top: 0;
        --app-drawer-width: 256px;
        --app-drawer-content-container: {
          padding: 0 !important;
          background-color: transparent;
        };
      }
      #chart,
      #svg {
        height: 50%;
        position: absolute;
        box-sizing: border-box;
      }
      #chart {
        top: 0; left: 0;
        /*padding-top: 0.5em;*/
        padding-bottom: 2.5em;
        /*isolation: isolate;*/
      }
      #svg {
        /*padding-top: 0.5em;*/
        padding-bottom: 0.5em;
        bottom: 0; left: 0;
      }
      #chart[fullheight] {
        height: 100%;
      }
      .checkbox {
        flex-shrink: 0;
      }
      .caption {
        flex: auto;
        --caption-background: transparent;
        --caption-color: var(--bright-text-color);
      }
      .checkbox[checked] .caption {
        mix-blend-mode: difference;
      }
      @media (max-width: 600px) {
        #control {
          background-color: rgba(255,255,255,0.25);
        }
      }
      @media (min-width: 601px) {
        #content {
          margin-right: 256px;
        }
      }
      @media (min-width: 800px) {
        #chart,
        #svg {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
      @media (min-width: 1280px) {
        #chart,
        #svg {
          padding-left: 1em;
          padding-right: 1em;
        }
      }
      @media (min-width: 1600px) {
        #chart,
        #svg {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }

    </style>

    <iron-media-query query="(max-width: 600px)" query-matches="{{showControlAsDrawer}}"></iron-media-query>

    <webvisual-svg-data
      hidden
      svg-data="{{svgData}}"
      mount="[[mount]]"></webvisual-svg-data>

    <template is="dom-if" if="[[visible]]">
      <!-- <div id="content"> -->
      <div id="content">
        <webvisual-element-chart id="chart" opened fullheight$="[[!_withSvg]]"
          item="[[selectedElement]]"></webvisual-element-chart>

        <template is="dom-if" if="[[_withSvg]]">
          <webvisual-element-svg id="svg" opened
            url-prefix="/images[[mount]]/"
            src="[[selectedElement.svg.path]]"
            selectable-items="[[_getSvgSelectable(selectedElement.svg.path, svgData.paths)]]"
            item="[[selectedElement]]"
            exceeding="[[exceeding]]"></webvisual-element-svg>
        </template>
      </div>

      <!-- </div> -->

      <app-drawer id="elementDrawer" opened="[[_ensureOpened(showControlAsDrawer)]]" swipe-open persistent="[[!showControlAsDrawer]]" align="right">
        <div id="control">
          <webvisual-tabs id="elementTabs" vertical selected="{{selectedElementMount}}" attr-for-selected="item-mount" selected-attribute="checked">
            <template is="dom-repeat" items="[[_getListItems(elements)]]">
              <webvisual-element-checkbox class="checkbox"
                item="[[item]]"
                item-mount="[[item.mount]]"
                selectable>
                <webvisual-element-caption class="caption"
                  keys="[[item.keys]]"></webvisual-element-caption>
              </webvisual-element-checkbox>
            </template>
          </webvisual-tabs>
          <webvisual-element-table id="elementTable" full-date item="[[selectedElement]]"></webvisual-element-table>
        </div>
      </app-drawer>

    </template>

  </template>

  <script>
    Polymer({
      is: 'webvisual-detail',

      properties: {

        mount: String,

        elements: {
          type: Array,
          notify: true
        },

        exceeding: {
          type: Array,
          value: function() {
            return [];
          },
          notify: true
        },

        selectedElementMount: String,

        selectedElement: {
          type: Object,
          value: function() {
            return {};
          },
          notify: true,
          computed: '_getCurrentElement(elements, selectedElementMount)'
        },

        svgData: Object,

        visible: Boolean,

        _withSvg: {
          type: Boolean,
          computed: '_calculateWithSvg(selectedElement)'
        },

        showControlAsDrawer: {
          type: Boolean,
          value: false,
          notify: true
        },

        showToggleIcon: {
          type: Boolean,
          notify: true,
          computed: '_computeShowToggleIcon(showControlAsDrawer, visible)'
        }

      },

      observers: [
        '_routeChanged(mount, visible)'
      ],

      listeners: {
        'exceeding': '_setExceeding'
      },

      _setExceeding: function(e) {
        if (e && e.detail && e.detail.item) {
          if (e.detail.value === true)
            this.setExceeding(e.detail.item);
          else
            this.unsetExceeding(e.detail.item);
        }
      },

      setExceeding: function(item) {
        var pos = this.exceeding.indexOf(item);
        if (pos === -1)
          this.push('exceeding', item);

        this.isExceeding = (this.exceeding.length > 0) ? true : false;
      },

      unsetExceeding: function(item) {
        if (this.noAutoRemovalExceedings === true) return;
        var pos = this.exceeding.indexOf(item);
        if (pos !== -1)
          this.splice('exceeding', pos, 1);

        this.isExceeding = (this.exceeding.length > 0) ? true : false;
      },

      _getListItems: function(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{},{},{},{},{},{},{},{},{},{}];
      },

      _getCurrentElement: function(elements, selectedElementMount) {
        if (!elements || !elements.length || !selectedElementMount) {
          return null;
        }
        for (var i = 0; i < elements.length; i++) {
          if (elements[i].mount && elements[i].mount === selectedElementMount) {
            return elements[i];
          }
        }
        return null;
      },

      _routeChanged: function(mount, visible) {
        if (visible) {
          this.debounce('change-page', function() {
            // Notify the facility and the page's title
            this.fire('change-page', {
              title: mount
            });
          });
        }
      },

      _getSvgSelectable: function(src, svgSrcPaths) {
        return svgSrcPaths[src] || {};
      },

      _calculateWithSvg: function(selectedElement) {
        // notify the chart to resize
        if (!this._withSvg) {
          var chart;
          if (chart = this.$$('#chart')) {
            this.debounce('chart-resize', chart.notifyResize.bind(chart));
          }
        }
        return Boolean(selectedElement && selectedElement.svg && selectedElement.svg.path);
      },

      _ensureOpened: function(showControlAsDrawer) {
        return true; // if 'showControlAsDrawer' changes the drawer is opened
      },

      _computeShowToggleIcon: function(showControlAsDrawer, visible) {
        return showControlAsDrawer && visible;
      },

      toggleControlDrawer: function() {
        var drawer = this.$$('#elementDrawer');
        if (drawer) {
          drawer.toggle();
        }
      }
    });
  </script>

</dom-module>
