<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="behaviors/container-behavior.html"/>

<link rel="import" href="webvisual-element-sign.html"/>
<link rel="import" href="webvisual-element-caption.html"/>

<link rel="import" href="style/shared-styles.html">
<link rel="import" href="style/page-layout.html">

<dom-module id="webvisual-list">
  <template>
    <style include="shared-styles page-layout">
      .grid li {
        flex-direction: row;
      }
      :host(:not([plain])) .grid li > * {
        border-radius: 0px;
        border: thin solid var(--grid-border-color);
        border-left: none;
      }
      .grid li > :first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left: thin solid var(--grid-border-color);
      }
      .grid li > :last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      webvisual-element-caption {
        flex: 1 0 50%;
      }
      webvisual-element-sign {
        flex: 1 0 4em;
      }
    </style>

    <template is="dom-if" if="[[visible]]">
      <ul class="grid">
        <template is="dom-repeat" items="[[_getListItems(elements)]]">
          <li>
            <!-- <a href$="[[_getItemHref(item)]]"> -->
              <webvisual-element-sign
                item="[[item]]"
                show-date
                selectable></webvisual-element-sign>
              <webvisual-element-caption
                keys="[[item.keys]]"></webvisual-element-caption>
            <!-- </a> -->
          </li>
        </template>
      </ul>

      <!-- <webvisual-snackbar opened>
        <webvisual-element-sign item="[[item]]"></webvisual-element-sign>
        <webvisual-element-caption keys="[[item.keys]]" vertical></webvisual-element-caption>
      </webvisual-snackbar> -->

    </template>
  </template>

  <script>
    Polymer({
      is: 'webvisual-list',

      behaviors: [
        WebvisualBehaviors.ContainerBehavior
      ],

      properties: {

        mount: String,

        elements: {
          type: Array,
          notify: true
        },

        visible: Boolean

      },

      observers: [
        '_routeChanged(mount, visible)'
      ],

      _getListItems: function(items) {
        // Return placeholder items when the items haven't loaded yet.
        return items || [{},{},{},{},{},{},{},{},{},{}];
      },

      _routeChanged: function(mount, visible) {
        if (visible) {
          this.debounce('change-page', function() {
            // Notify the facility and the page's title
            this.fire('change-page', {
              title: mount
            });
          });
        }
      }
    });
  </script>

</dom-module>
