<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="app-style">
  <template>
    <style>
      :host {
        background: var(--primary-background);
        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: var(--bright-text-color);
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);
        --toggle-button-checked-bar-color:	#68D97B;
        --toggle-button-checked-button-color:	#68D97B;
        --toggle-button-checked-ink-color:	#68D97B;

        --radio-button-checked-color: var(--select-color);
        --radio-button-unchecked-color: var(--highlight-color);
        --radio-button-unchecked-background-color: tranparent;
        --radio-button-system-color: currentColor;

        --drawer-color: var(--bright-text-color);
        --drawer-width: 20em;
        --drawer-scim-background: rgba(0, 0, 0, 0.25);
        --drawer-background: var(--primary-color);
        --drawer-toolbar: {
          background-color: rgba(255,255,255,0.1);
          color: currentColor;
        };
        --app-toolbar: {
          background-color: var(--primary-color);
          color: var(--bright-text-color, #f1f1f1);
          transition: background 500ms cubic-bezier(0.6, 0, 0.3, 1);
        };
      }
      :host([plain]) {
        --primary-background: var(--bright-primary-color);

        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);

        --drawer-background: var(--dark-primary-color);
        --app-toolbar: {
          background-color: var(--bright-primary-color);
          color: var(--bright-text-color);
        };
      }
      :host([plain][dark]) {
        --primary-background: var(--dark-primary-color);
        --app-toolbar: {
          background-color: var(--dark-primary-color);
          color: var(--bright-text-color);
        };
      }
      :host(:not([plain])) {
        --primary-background: #999;
      }
      :host(:not([plain])[dark]) {
        --primary-background: #151515;
        --app-toolbar: {
          background-color: var(--dark-primary-color);
          color: var(--bright-text-color);
        };
      }
      :host([dark]) {
        --drawer-background: #222;
      }
      tabs > button {
        height: 100%;
      }
    </style>

  </template>

</dom-module>
