<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="main-style.html">

<dom-module id="app-style">
  <template>
    <style>

      :host {
        color: var(--bright-text-color);
        background: var(--primary-background);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        /* Costum Colors*/
        --highlight-color: var(--quaternary-color);

        --device-color: #5fb8eb;
        --device-text-color: #252525;
        --device-state-inrange-color: #5feb75;
        --device-state-deceeds-color: #af82b9;
        --device-state-exceeds-color: #eb5f73;
        --device-state-inrange-text-color: var(--primary-text-color);
        --device-state-deceeds-text-color: var(--bright-text-color);
        --device-state-exceeds-text-color: var(--bright-text-color);

        --selectbox-color: var(--primary-text-color);
        --selectbox-background: rgba(255,255,255,0.5);
        --option-color: var(--primary-text-color);
        --option-background: #f1f1f1;

        --caption-background: #fff;
        --caption-color: var(--primary-text-color);
        --checkbox-checked-background: #fff;
        --table-background: #fff;
        --table-color: var(--primary-text-color);
        --group-card-background: #ebebeb;

        --dialog-background-color: #eee;
        --dialog-color: var(--primary-text-color);

        --fullscreen-color: #fff;
        --fullscreen-background-color: var(--primary-background);

        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: var(--bright-text-color);
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);
        --toggle-button-checked-bar-color:	#68D97B;
        --toggle-button-checked-button-color:	#68D97B;
        --toggle-button-checked-ink-color:	#68D97B;
/*
        --radio-button-checked-color: var(--highlight-color);
        --radio-button-unchecked-color: var(--primary-color);
        --radio-button-unchecked-background-color: tranparent;
        --radio-button-system-color: currentColor;*/

        --drawer-color: var(--bright-text-color);
        --drawer-width: 20em;
        --drawer-scim-background: rgba(0, 0, 0, 0.25);
        --drawer-background: var(--primary-color);
        --drawer-toolbar: {
          background-color: rgba(255,255,255,0.1);
          color: currentColor;
        };
        --app-toolbar: {
          background-color: var(--primary-color);
          transition: background 500ms cubic-bezier(0.6, 0, 0.3, 1);
        };
        --svg-text: {
          fill: var(--bright-text-color) !important;
          font-family: inherit !important;
        };

        --tab-overlay: {
          background-color: rgba(255, 255, 255, 0.1);
          border-left: none;
          border-bottom: 0.2em solid var(--highlight-color);
        }
      }

      :host([dark]) {
        --drawer-background: #222;
        --primary-text-color: #000;
        --bright-text-color: #ddd;

        --warning-color: #FF9D9D;

        --highlight-color: var(--secondary-color);

        --dialog-background-color: #454545;
        --dialog-color: var(--bright-text-color);

        --selectbox-color: #000;
        --selectbox-background: rgba(255,255,255,0.5);
        --option-color: var(--bright-text-color);
        --option-background: var(--primary-color);

        --caption-background: rgba(255,255,255, 0.333);
        --caption-color: #000;
        --checkbox-checked-background: rgba(255,255,255, 0.333);
        --table-background: rgba(255,255,255, 0.333);
        --table-color: #000;
        --group-card-background: rgba(255,255,255, 0.25);

        --toggle-button-unchecked-bar-color: #454545;
        --toggle-button-unchecked-button-color: #BDE2F1;
        --toggle-button-unchecked-ink-color: #454545;

        --device-color: #4a86a3;
        --device-text-color: #000;
        --device-state-inrange-color: #3bb82b;
        --device-state-deceeds-color: #85199a;
        --device-state-exceeds-color: #bb1616;
        --device-state-inrange-text-color: #000;

        --control-button-background: rgba(255,255,255,0.0625);
        --control-button-hover-background: rgba(255,255,255,0.125);
        --control-button-selected-background: rgba(255,255,255,0.2);

        --fullscreen-color: #eee;
      }

      :host([plain]) {
        color: var(--primary-color);
        --highlight-color: var(--secondary-color);

        --group-card-background: linear-gradient(to top, rgba(255,255,255,0.03125) 0%, rgba(255,255,255,0.03125) 32%,rgba(255,255,255,0.0625) 100%);
        --group-card-header-shim: transparent;
        --group-card-header-color: var(--primary-color);
        --group-card-header-background: transparent;
        --group-card-header-opened-color: var(--primary-color);
        --group-card-header-opened-background: transparent;

        --grid-border-color: transparent;
        --checkbox-checked-background: var(--bright-primary-color);
        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);

        --primary-background: var(--bright-primary-color);

        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);

        --drawer-background: var(--primary-color);

        --app-toolbar: {
          background-color: var(--bright-primary-color);
        };
        --tab-overlay: {
          background-color: rgba(255, 255, 255, 0.1);
          border-left: none;
          border-bottom: 0.15em solid var(--tertiary-color);
        }
      }

      :host([plain][dark]) {
        color: var(--bright-primary-color);
        --primary-background: var(--primary-color);
        --group-card-header-color: var(--bright-primary-color);
        --group-card-header-opened-color: var(--bright-primary-color);
        --checkbox-checked-background: var(--secondary-color);
        --app-toolbar: {
          background-color: var(--primary-color);
        };
      }

      :host(:not([plain])) {
        --group-card-header-color: var(--primary-color);
        --group-card-header-background: var(--bright-primary-color);
        --group-card-header-opened-background: rgba(255,255,255,0.5);
        --group-card-header-opened-color: var(--primary-text-color);
        --group-card-header-shim: linear-gradient(to top, rgba(255,255,255,0.0625) 38%,rgba(255,255,255,0.125) 100%);
        --grid-border-color: #888;
      }

      :host(:not([plain])[dark]) {
        --primary-background: #0a0a0a;
        --group-card-header-color: var(--bright-primary-color);
        --group-card-header-background: var(--primary-color);
        --group-card-header-opened-background: rgba(0,0,0,0.5);
        --group-card-header-opened-color: var(--bright-text-color);
        --grid-border-color: #222;
      }

      tabs > button {
        height: 100%;
      }

      paper-ripple {
        color: var(--ripple-color, currentColor);
      }

      a {
        font-weight: 300;
        color: currentColor;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      }

      a:link,
      a:visited {
        color: currentColor;
        text-decoration: none;
        font-weight: 300;
      }

      a:active {
        font-weight: 400;
      }

      [hidden] {
        display: none !important;
      }
    </style>

  </template>

</dom-module>
