<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="device-shared-style">
  <template>
    <style>
      :host {
        --device-color: #86CAEC;
        --device-text-color: #252525;
        --device-state-inrange-color: #51cc41;
        --device-state-deceeds-color: #920bad;
        --device-state-exceeds-color: #D91B1B;
        --device-state-inrange-text-color: var(--primary-text-color);
        --device-state-deceeds-text-color: var(--bright-text-color);
        --device-state-exceeds-text-color: var(--bright-text-color);
      }

      :host([dark]) {
        --device-state-inrange-text-color: #000;
        --device-text-color: #000;
      }
    </style>
  </template>
</dom-module>
