<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="dialog-style">
  <template>
    <style>
      :host {
        display: block;
        padding: 1em;
        margin: 2em;
        border-radius: 8px;
        background-color: var(--dialog-background-color, #f1f1f1);
        color: var(--dialog-color, var(--primary-text-color));
        --dialog-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
        box-shadow: var(--dialog-shadow);
        opacity: 0;
        will-change: opacity;
        transition: opacity 300ms cubic-bezier(0.6, 0, 0.2, 1);
        @apply(--dialog-style);
      }
      :host([opened]) {
        opacity: 1;
      }
      .no-margin {
        margin: 0;
      }
      :host > ::content > * {
        position: relative;
        box-sizing: border-box;
      }
      :host > ::content > [dialog-title] {
        @apply(--layout-vertical);
        @apply(--layout-center-center);
        text-align: center;
        font-size: 1.1em;
        margin: 0.5em 0 1em 0;
        @apply(--dialog-title);
      }
      :host > ::content > [dialog-title] > * {
        position: relative;
      }
      :host > ::content > [dialog-title] > *:first-child:not(:only-child) {
        font-size: 1.5em;
        margin-bottom: 0.75em;
      }
      :host > ::content > [dialog-title] > *:only-child {
        font-size: 0.8em;
      }
      :host > ::content > [dialog-content] {
        @apply(--layout-vertical);
        border-top: thin solid var(--grid-border-color, #aaa);
        border-bottom: thin solid var(--grid-border-color, #aaa);
      }
      :host > ::content > [dialog-content] > * {
        position: relative;
        flex: 1 0 auto;
      }
      :host > ::content > [dialog-bottom],
      :host > ::content > .button {
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
        padding: 1em 0.5em 0.5em;
        flex-wrap: wrap;
      }
      :host > ::content > [dialog-bottom] > * {
        align-self: center;
      }
      :host > ::content > [dialog-bottom] > *:not(:last-child) {
        margin-right: 0.5em;
      }
    </style>
  </template>
</dom-module>
