<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="input-style">
  <template>
    <style>
      .input {
        display: inline-block;
        box-sizing: border-box;
        margin: 1em 0;
      }
      .input > input::-webkit-input-placeholder {
        color: transparent;
      }
      .input > input::-moz-placeholder {
        color: transparent;
      }
      .input > input:-ms-input-placeholder {
        color: transparent;
      }
      .input > input::-ms-input-placeholder {
        color: transparent;
      }
      .input > input {
        font-size: 1em;
        font-weight: 300;
        box-sizing: border-box;
        color: var(--input-color, currentColor);
        background-color: var(--input-background, transparent);
        border: none;
        padding: 0.5em 0.25em;
        width: 100%;
        outline: none;
      }
      .input > input:invalid {
        /* reset the default style in FF */
        box-shadow: none;
      }
      .input > .label {
        display: block;
        height: 1px;
        width: 100%;
        margin: auto;
        border-top: 1px solid #ccc;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }
      .input .underline {
        display: block;
        height: 2px;
        width: 100%;
        margin: auto;
        background-color: var(--saturated-primary-color, var(--primary-color));
        position: absolute;
        top: -2px;
        left: 0;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
      }
      /* input label */
      .input > .label > label {
        display: block;
        pointer-events: none;
        opacity: 0.5;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-duration: 0.15s;
        transition-timing-function: ease-out;
        will-change: transform;
        -webkit-transform: translate3d(0px, -1.9em, 0px);
        transform: translate3d(0px, -1.9em, 0px);
      }
      /* Error message */
      .input > .label::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 0.7em;
        color: #dd2c00;
        content: attr(error-message);
        display: none;
        white-space: nowrap;
      }
      .input > input:focus + .label > .underline {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }
      /* Label: valid state */
      .input > input:focus + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }
      .input > input:optional:not(:placeholder-shown) + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }
      _:-ms-lang(x), .input > input + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }
      .input > input:optional:-moz-ui-valid + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }
      /* Underline */
      .input > input:not(:focus):not(:placeholder-shown):invalid + .label > .underline {
        background-color: var(--input-invalid, #dd2c00);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }
      .input > input:not(:focus):-moz-ui-invalid:invalid + .label > .underline {
        background-color: var(--input-invalid, #dd2c00);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }
      .input > input[aria-invalid='true']:not(:valid) + .label > .underline {
        background-color: var(--input-invalid, #dd2c00);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }
      /* Error message */
      .input > input:not(:focus):not(:placeholder-shown):invalid + .label::after {
        display: block;
      }
      .input > input:not(:focus):-moz-ui-invalid:invalid + .label::after {
        display: block;
      }
      .input > input[aria-invalid='true']:not(:valid) + .label::after {
        display: block;
      }
      /* Error label */
      .input > input:not(:focus):not(:placeholder-shown):invalid + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
        color: #dd2c00;
      }
      .input > input:not(:focus):-moz-ui-invalid:invalid + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
        color: #dd2c00;
      }
      .input > input[aria-invalid='true']:not(:valid) + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
        color: #dd2c00;
      }
      /* Valid label */
      .input > input:not(:focus):required:valid + .label > label {
        -webkit-transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.3em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }

    </style>
  </template>
</dom-module>
