<link rel="import" href="../../bower_components/polymer/polymer.html">

<custom-style>
  <style is="custom-style">

    body,
    html {
      --primary-color: #023d6b;
      --bright-primary-color: #97b8e2;
      --secondary-color: #eb5f73;
      --bright-secondary-color: #f4c0c8;
      --tertiary-color: #af82b9;
      --bright-tertiary-color: #e0c8e6;

      --bright-text-color: #f1f1f1;
      --medium-text-color: #ddd;
      --medium-dark-text-color: #202020;
      --dark-text-color: #000;
      --disabled-text-color: #bbb;

      --primary-background: #9a9a9a;
      --dark-primary-background: #0a0a0a;

      --icon-padding: 0.5em;
      --icon-size: 1.5em;
      --icon-hover-background: rgba(255, 255, 255, 0.1);

      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
    }

  </style>
</custom-style>
