<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="page-layout">
  <template>
    <style>
      .grid {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        margin: 0.25em 0.75em 2em 0.75em;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        flex: 1;
      }

      .grid li {
        @apply(--layout-vertical);
        /*overflow: hidden;*/
        box-sizing: border-box;
        -webkit-flex: 1 1;
        flex: 1 1;
        -webkit-flex-basis: 20%;
        flex-basis: 20%;
        max-width: 20%;
        padding: 0.25em;
      }

      .grid li > * {
        border: thin solid var(--grid-border-color);
      }

      :host(:not([plain])) .grid li > * {
        border-radius: 6px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12),
                    0 2px 4px -1px rgba(0, 0, 0, 0.4);
      }

      :host([plain]) .grid li > * {
        border-radius: 4px;
      }
      :host(:not([plain])) .grid.sign li > * {
        border-radius: 12px;
      }
      :host([plain]) .grid.sign li > * {
        border-radius: 6px;
      }
      .grid.sign li > * {
        box-shadow: none;
      }

      .grid.sign li > :first-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-width: 0px;
      }

      .grid.sign li > :last-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      .grid a {
        display: block;
        text-decoration: none;
      }
      webvisual-element-caption {
        flex: 1 0 auto;
      }
      webvisual-element-sign {
        /*flex: 1 0 auto;*/
      }

      @media (max-width: 2299px) {
        .grid.sign li {
          -webkit-flex-basis: 20%;
          flex-basis: 20%;
          max-width: 20%;
        }
      }
      @media (max-width: 1979px) {
        .grid li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
        .grid.sign li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
      }
      @media (max-width: 1599px) {
        .grid li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }
      @media (max-width: 1279px) {
        .grid.sign li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }
      @media (min-width: 768px) and (max-width: 899px) {
        .grid.sign li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }
      @media (max-width: 767px) {
        .grid li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }
      @media (max-width: 519px) {
        .grid.sign li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }
      @media (max-width: 379px) {
        .grid li {
          -webkit-flex-basis: 100%;
          flex-basis: 100%;
          max-width: 100%;
        }
        .grid.sign li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }

    </style>
  </template>
</dom-module>
