<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="page-layout">
  <template>
    <style>
      .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.25em 0.75em 2em 0.75em;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        flex: 1;
      }

      .grid li {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        -webkit-flex: 1 1;
        flex: 1 1;
        -webkit-flex-basis: 20%;
        flex-basis: 20%;
        max-width: 20%;
        padding: 0.25em;
        pointer-events: auto;
      }

      .grid li:hover {
        overflow: hidden;
        resize: vertical;
      }

      :host(:not([plain])) .grid li > * {
        border-radius: 6px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12),
                    0 2px 4px -1px rgba(0, 0, 0, 0.4);
        border: thin solid var(--grid-border-color);
      }

      :host([plain]) .grid li > * {
        /*border-radius: 4px;*/
        box-shadow: none;
        border: none;
      }

      .grid a {
        display: block;
        text-decoration: none;
      }
      webvisual-element-caption {
        flex: 1 0 auto;
      }
      webvisual-element-sign {
        /*flex: 1 0 auto;*/
      }

      @media (max-width: 1980px) {
        .grid li {
          -webkit-flex-basis: 25%;
          flex-basis: 25%;
          max-width: 25%;
        }
      }
      @media (max-width: 1600px) {
        .grid li {
          -webkit-flex-basis: 33%;
          flex-basis: 33%;
          max-width: 33%;
        }
      }
      @media (max-width: 768px) {
        .grid li {
          -webkit-flex-basis: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }
      @media (max-width: 400px) {
        .grid li {
          -webkit-flex-basis: 100%;
          flex-basis: 100%;
          max-width: 100%;
        }
      }

    </style>
  </template>
</dom-module>
