<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="selectbox-style">
  <template>
    <style>
      .selectbox {
        @apply(--layout-inline);
        @apply(--layout-center);
        box-sizing: border-box;
        word-break: break-all;
        padding: 0.75em 1.5em;
      }
      .selectbox > * {
        -webkit-appearance: none;
        margin: 0;
        padding: 0.75em 0;
      }
      .selectbox > span {
        flex: 1 0 auto;
        padding: 0.25em;
        text-align: center;
      }
      .selectbox > iron-icon {
        margin: 0;
      }
      .selectbox > select {
        padding: 0.5em;
        font-size: 0.8em;
        font-family: inherit;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        color: var(--selectbox-color);
        background-color: var(--selectbox-background, transparent);
        border-color: var(--selectbox-border, var(--dark-primary-color));
        border-radius: 3px;
        border-width: thin;
        border-style: solid;
        opacity: 0.75;
        will-change: opacity;
        flex: 1 0 auto;
        transition: opacity 0.25s cubic-bezier(0.6, 0, 0.1, 1);
      }
      .selectbox > select:focus,
      .selectbox > select:hover {
        opacity: 1;
      }
      .selectbox option {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--option-color);
        background: var(--option-background);
      }
    </style>
  </template>
</dom-module>
