<link rel="import" href="../../bower_components/polymer/polymer.html">

<custom-style>
  <style is="custom-style">
    html {
      --primary-color: #005B82;
      --dark-primary-color: #345475; /* Primary Colors */
      --bright-primary-color: #669DB4;
      --secondary-color: #4EA7E8;
      --bright-secondary-color: #E5EEf2;
      --icon-padding: 0.5em;
      --icon-size: 1.5em;
    }
    :-webkit-full-screen-ancestor,
    :-webkit-full-screen-ancestor::after,
    :-webkit-full-screen-ancestor::before,
    :-webkit-full-screen-ancestor *:not(:-webkit-full-screen),
    :-webkit-full-screen-ancestor *:not(:-webkit-full-screen)::after,
    :-webkit-full-screen-ancestor *:not(:-webkit-full-screen)::before {
      position: static !important;
      pointer-events: none;
      isolation: unset;
      visibility: hidden;
      z-index: auto !important;
    }
    :-webkit-full-screen {
      z-index: 1000;
      position: fixed;
      isolation: unset;
      min-height: 100vh;
      min-width: 100vw;
      padding: 0 !important;
      margin: 0 !important;
      top: 0; left: 0; right: 0; bottom: 0;
      pointer-events: all !important;
      visibility: visible !important;
    }
    :-webkit-full-screen * {
      visibility: visible !important;
      pointer-events: auto;
    }
    ::selection {
      background: transparent;
    }
    ::-moz-selection {
      background: transparent;
    }
  </style>
</custom-style>

<dom-module id="shared-style">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
    /* Application theme */

      :host {
        color: var(--primary-text-color);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        /* Costum Colors*/
        --primary-text-color: #252525;
        --bright-text-color: #f1f1f1;
        --disabled-text-color: #bbb;
        --highlight-color: #D28741;
        --select-color: #CDF2D5;

        --device-color: #86CAEC;
        --device-text-color: #252525;
        --device-state-inrange-color: #51cc41;
        --device-state-deceeds-color: #920bad;
        --device-state-exceeds-color: #D91B1B;
        --device-state-inrange-text-color: var(--primary-text-color);
        --device-state-deceeds-text-color: var(--bright-text-color);
        --device-state-exceeds-text-color: var(--bright-text-color);

        --selectbox-color: var(--primary-text-color);
        --selectbox-background: rgba(255,255,255,0.5);
        --option-color: var(--primary-text-color);
        --option-background: #f1f1f1;

        --active-link-color: #68D97B;
        --notification-color: #FCFFBB;

        --highlight-color: var(--active-link-color);

        --caption-background: #fff;
        --caption-color: var(--primary-text-color);
        --checkbox-checked-background: #fff;
        --table-background: #fff;
        --table-color: var(--primary-text-color);
        --group-card-background: #d0d0d0;

        --dialog-background-color: #eee;
        --dialog-color: var(--primary-text-color);

        --fullscreen-color: #fff;
        --fullscreen-background-color: var(--primary-background);
        --svg-text: {
          fill: var(--bright-text-color) !important;
          font-family: inherit !important;
        };
      }

      :host([dark]) {
        --primary-text-color: #000;
        --bright-text-color: #ddd;

        --active-link-color: #00FF2B;
        --warning-color: #FF9D9D;

        --highlight-color: var(--secondary-color);

        --dialog-background-color: #454545;
        --dialog-color: var(--bright-text-color);

        --selectbox-color: #000;
        --selectbox-background: rgba(255,255,255,0.5);
        --option-color: var(--bright-text-color);
        --option-background: var(--dark-primary-color);

        --caption-background: rgba(255,255,255, 0.35);
        --caption-color: #000;
        --checkbox-checked-background: rgba(255,255,255, 0.25);
        --table-background: rgba(255,255,255, 0.35);
        --table-color: #000;
        --group-card-background: rgba(255,255,255, 0.2);

        --toggle-button-unchecked-bar-color: #454545;
        --toggle-button-unchecked-button-color: #BDE2F1;
        --toggle-button-unchecked-ink-color: #454545;

        --device-color: #4a86a3;
        --device-text-color: #000;
        --device-state-inrange-color: #3bb82b;
        --device-state-deceeds-color: #85199a;
        --device-state-exceeds-color: #bb1616;
        --device-state-inrange-text-color: #000;

        --fullscreen-color: #eee;
      }

      :host(:not([plain])) {
        --group-card-header-background: var(--bright-primary-color);
        --group-card-header-border: inherit;
        --group-card-header-shim: linear-gradient(to top, rgba(255,255,255,0.0078125) 38%,rgba(255,255,255,0.125) 100%);
        --group-card-header-color: var(--bright-text-color);
        --grid-border-color: #888;
      }
      :host([dark]) {
        --highlight-color: var(--secondary-color);
      }
      :host(:not([plain])[dark]) {
        --group-card-header-background: var(--dark-primary-color);
        --group-card-header-color: var(--bright-text-color);
        --grid-border-color: #333;
      }
      :host([plain]) {
        --highlight-color: var(--secondary-color);
        --group-card-background: linear-gradient(to top, rgba(255,255,255,0.03125) 0%, rgba(255,255,255,0.03125) 62%,rgba(255,255,255,0.0625) 100%);
        --group-card-header-border: currentColor;
        --group-card-header-shim: transparent;
        --group-card-header-background: transparent;
        --group-card-header-color: var(--bright-text-color);
        --grid-border-color: transparent;
        --checkbox-checked-background: var(--bright-primary-color);
        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);
      }
      :host([plain][dark]) {
        --checkbox-checked-background: var(--secondary-color);
      }

      paper-ripple {
        color: var(--ripple-color, currentColor);
      }

      a {
        line-height: normal;
        font-weight: normal;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      }
      a:link,
      a:visited {
        color: currentColor;
        text-decoration: none;
        font-weight: normal;
      }

      a:active {
        font-weight: bold;
      }

      span {
        font-size: inherit;
        padding: 0;
        margin: 0;
      }
    </style>
  </template>
</dom-module>
