<link rel="import" href="../../bower_components/polymer/polymer.html">

<custom-style>
  <style is="custom-style">
    html {
      --primary-color: #005B82;
      --dark-primary-color: #345475; /* Primary Colors */
      --bright-primary-color: #669DB4;
      --very-bright-primary-color: #E5EEf2;
      --saturated-primary-color: #398ED4;
      --unsaturated-primary-color: #243241;

      --device-color: #12B8C3;
      --device-text-color: #252525;
      --device-state-inrange-color: #51cc41;
      --device-state-deceeds-color: #920bad;
      --device-state-exceeds-color: #D91B1B;
      --device-state-inrange-text-color: var(--primary-text-color);
      --device-state-deceeds-text-color: var(--bright-text-color);
      --device-state-exceeds-text-color: var(--bright-text-color);
    }
  </style>
</custom-style>

<dom-module id="shared-style">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
    /* Application theme */

      :host {
        color: var(--primary-text-color);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        /* Costum Colors*/
        --primary-text-color: #252525;
        --bright-text-color: #f1f1f1;
        --disabled-text-color: #bbb;
        --highlight-color: #D28741;
        --select-color: #CCF2DD;

        --selectbox-color: var(--primary-text-color);
        --selectbox-background: rgba(255,255,255,0.5);
        --option-color: var(--primary-text-color);
        --option-background: #f1f1f1;

        --active-link-color: #68D97B;
        --notification-color: #FCFFBB;
        --warning-color: #ffdae4;

        --highlight-color: var(--very-bright-primary-color);

        --caption-background: #fff;
        --caption-color: var(--primary-text-color);
        --checkbox-checked-background: #fff;
        --table-background: #fff;
        --table-color: var(--primary-text-color);
        --group-card-background: #d0d0d0;

        --dialog-background-color: #eee;
        --dialog-color: var(--primary-text-color);

        --svg-text: {
          fill: var(--bright-text-color) !important;
          font-family: inherit !important;
        };
        --fullscreen-background-color: #151515;
      }

      :host([dark]) {
        --primary-text-color: #000;
        --bright-text-color: #ddd;
        --highlight-color: #6CBDFF;

        --active-link-color: #00FF9C;
        --warning-color: #FF9D9D;

        --highlight-color: var(--saturated-primary-color);

        --dialog-background-color: #454545;
        --dialog-color: var(--bright-text-color);

        --selectbox-color: #000;
        --selectbox-background: rgba(255,255,255,0.5);
        --option-color: var(--bright-text-color);
        --option-background: var(--dark-primary-color);

        --caption-background: rgba(255,255,255, 0.35);
        --caption-color: #000;
        --checkbox-checked-background: rgba(255,255,255, 0.25);
        --table-background: rgba(255,255,255, 0.35);
        --table-color: #000;
        --group-card-background: rgba(255,255,255, 0.25);

        --fullscreen-background-color: #080808;

        --toggle-button-unchecked-bar-color: #454545;
        --toggle-button-unchecked-button-color: #BDE2F1;
        --toggle-button-unchecked-ink-color: #454545;

        --device-state-inrange-text-color: #000;
        --device-text-color: #000;
      }

      :host(:not([plain])) {
        --group-card-header-background: var(--bright-primary-color);
        --group-card-header-border: inherit;
        --group-card-header-shim: linear-gradient(to top, rgba(255,255,255,0.0078125) 38%,rgba(255,255,255,0.125) 100%);
        --group-card-header-color: var(--bright-text-color);
        --grid-border-color: #888;
      }
      :host(:not([plain])[dark]) {
        --group-card-header-background: var(--dark-primary-color);
        --group-card-header-color: var(--bright-text-color);
        --grid-border-color: #555;
      }
      :host([plain]) {
        --group-card-background: rgba(255,255,255, 0.15);
        --group-card-header-border: currentColor;
        --group-card-header-shim: transparent;
        --group-card-header-background: transparent;
        --group-card-header-color: var(--bright-text-color);
        --grid-border-color: transparent;
        --checkbox-checked-background: var(--bright-primary-color);
        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);
      }
      :host([plain][dark]) {
        --checkbox-checked-background: var(--saturated-primary-color);
      }

      paper-ripple {
        color: var(--ripple-color, currentColor);
      }

      a {
        line-height: normal;
        font-weight: normal;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      }
      a:link,
      a:visited {
        color: currentColor;
        text-decoration: none;
        font-weight: normal;
      }

      a:active {
        font-weight: bold;
      }

      span {
        font-size: inherit;
        padding: 0;
        margin: 0;
      }

    </style>
  </template>
</dom-module>
