<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="tooltip-style">
  <template>
    <style>
      :host {
        position: absolute;
      }

      :host([position="top"]) {
        top: 0;
        left: 0;
        transform: translateY(-100%);
      }
      :host([position="top"][align="end"]) {
        right: 0;
        left: auto;
      }
      :host([position="top"][align="center"]) {
        transform: translateY(-50%);
      }

      :host([position="bottom"]) {
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }
      :host([position="bottom"][align="end"]) {
        right: 0;
        left: auto;
      }
      :host([position="bottom"][align="center"]) {
        transform: translateY(50%);
      }

      :host([position="left"]) {
        top: 0;
        left: 0;
        transform: translateX(-100%);
      }
      :host([position="left"][align="end"]) {
        bottom: 0;
        top: auto;
      }
      :host([position="left"][align="center"]) {
        transform: translateX(-50%);
      }

      :host([position="right"]) {
        top: 0;
        right: 0;
        transform: translateX(100%);
      }
      :host([position="right"][align="end"]) {
        bottom: 0;
        top: auto;
      }
      :host([position="right"][align="center"]) {
        transform: translateX(50%);
      }

      :host([position="center"]) {
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
      }
      :host([position="center"][align="center"]) {
        transform: translate(-50%, -50%);
      }
    </style>
  </template>
</dom-module>
