<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="webvisual-app-style">
  <template>
    <style>
      :host {
        --toggle-button-unchecked-bar-color: #005B82;
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: #005B82;
        --toggle-button-checked-bar-color:	#68D97B;
        --toggle-button-checked-button-color:	#68D97B;
        --toggle-button-checked-ink-color:	#68D97B;

        --radio-button-checked-color: var(--select-color);
        --radio-button-unchecked-color: var(--highlight-color);
        --radio-button-unchecked-background-color: tranparent;
        --radio-button-system-color: currentColor;

        --app-drawer-width: 20em;
        --app-drawer-scim-background: rgba(0, 0, 0, 0.25);
        --app-drawer-content-container: {
          min-width: 256px;
          color: var(--primary-text-color);
          background-color: var(--bright-primary-color);
        };
        --app-header: {
          background: var(--primary-color);
          color: var(--bright-text-color);
        };
        --app-header-before: {
          background: var(--dark-primary-color);
        };
        --tab-overlay: {
          background: rgba(255, 255, 255, 0.15);
          border-bottom: 2px solid var(--highlight-color);
        }
      }
      :host([plain]) {
        --primary-background: var(--bright-primary-color);
        --toggle-button-unchecked-bar-color: var(--bright-primary-color);
        --toggle-button-unchecked-button-color: #f1f1f1;
        --toggle-button-unchecked-ink-color: var(--bright-primary-color);
        --app-header-before: {
          background: var(--primary-color);
        };
        --app-drawer-content-container: {
          min-width: 256px;
          color: var(--bright-text-color);
          background-color: var(--primary-color);
        };
        --app-header: {
          background: var(--bright-primary-color);
          color: var(--bright-text-color);
        };
      }
      :host([plain][dark]) {
        --primary-background: var(--dark-primary-color);
        --app-drawer-header: {
          color: #f1f1f1;
        };
        --app-header: {
          background: var(--dark-primary-color);
          color: var(--bright-text-color);
        };
        --app-header-before: {
          background: var(--saturated-primary-color);
        };
        --app-drawer-content-container: {
          color: var(--bright-text-color);
          background-color: #222;
        };
      }
      :host(:not([plain])) {
        --primary-background: #999;
      }
      :host(:not([plain])[dark]) {
        --primary-background: #252525;
        --app-header: {
          background: var(--dark-primary-color);
          color: var(--bright-text-color);
        };
        --app-header-before: {
          background: var(--saturated-primary-color);
        };
        --app-drawer-content-container: {
          color: var(--bright-text-color);
          background-color: #222;
        };
      }
      webvisual-tabs > webvisual-button {
        height: 100%;
      }
    </style>

  </template>

</dom-module>
