/*
 * Fonts
 */

@font-face {
 font-family: 'FiraSans-Light';
 src: local('FiraSans-Light'),
      url('FiraSans-Light.woff2') format('woff2'),
      url('FiraSans-Light.woff') format('woff'),
      url('FiraSans-Light.otf') format('otf'),
      url('FiraSans-Light.ttf') format('ttf');
}

/* Polymer Elements Issue */
@font-face {
 font-family: 'Roboto';
 src: local('FiraSans-Light'),
      url('FiraSans-Light.woff2') format('woff2'),
      url('FiraSans-Light.woff') format('woff'),
      url('FiraSans-Light.otf') format('otf'),
      url('FiraSans-Light.ttf') format('ttf');
}
