extends ../../layout

block HeadContent
  link(rel='import', href='elements/imports.html')
  script(src='socket.io/socket.io.js')
  //- script(src='js/database-worker.js')
  script(src='js/database-client.js')
  script(src='js/cache.js')
  script(src='js/data-socket-handler.js')
  
  script(type='text/javascript').  
    // presettings
    window.Webvisual = {};
    window.Route = !{JSON.stringify(route)};
    window.Labels = !{JSON.stringify(config.labels)};
    window.isMobile = !{mobile};
    window.DataHandler = new DataSocketHandler('/data', window.Route);
    
    // page-"routing"
    window.addEventListener('WebComponentsReady', function(e) {
      window.PageSelector = document.querySelector('neon-animated-pages#PageSelector');
      window.PageSelector.removeAttribute('hidden');
      window.PageSelector.select("0");
    });
