<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components of Webvisual</title>
    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="bower_components/iron-component-page/iron-component-page.html">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <custom-style>
      <style is="custom-style">
        html {
          --iron-component-page-header-color: #7CA2DA;
        }
        demo-snippet {
          font-weight: 300;
          font-family: 'Fira Sans', sans-serif;
          font-size: calc(0.7em + 0.6vmin);
          line-height: calc(1em + 0.5vmin);
          -webkit-font-smoothing: antialiased;
        }
      </style>
    </custom-style>
  </head>
  <body>
    <iron-component-page></iron-component-page>
  </body>
</html>
