extends layout

block HeadContent
    link(rel='import', href='elements/imports.html')

block StyleContent
    style(is="custom-style", include="app-theme").
        body {
            background: var(--dark-primary-color, #345475);
        }

block BodyContent
    dom-module#select-form
        template
            style.
                :host {
                    position: relative;
                    box-sizing: border-box;
                    font-size: 1em;
                    padding: 1.5em;
                    margin: auto;
                    align-self: flex-start;
                    color: var(--bright-text-color);
                    white-space: normal;
                    line-height: 1.4;
                }
                h1 {
                    font-weight: normal;
                    font-size: 2em;
                    margin: 0.5em;
                    text-align: center;
                    white-space: normal;
                }
                button-element {
                    border: thin solid var(--highlight-color);
                    color: var(--highlight-color);
                    margin-bottom: 1em;
                }
                button-element:hover {
                    color: var(--bright-text-color);
                }
                div.flex {
                    flex: 1;
                }
                section#container {
                    margin: 0 auto;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                }
            h1
                | Auswahl der Messanlage
            br
            form#select(is='iron-form', method='get', action='')
                section#container
                    each Config, Name in userConfigFiles
                        button-element(value!= Name, on-tap="_submit", raised, aria-label!= Name)
                            iron-icon.left(icon!= renderer[Config.renderer].icon)
                            div.flex
                                != Name
                            iron-icon.right(icon='arrow-forward')
        script.
            window.addEventListener('WebComponentsReady', function(e) {
                Polymer({
                    is: 'select-form',
                    listeners: {
                        'iron-form-response': '_response'
                    },
                    _submit: function(e) {
                        var action = e.currentTarget.value;
                        this.$.select.action = '/' + action;
                        this.$.select.submit();
                    },
                    _response: function(e) {
                        window.location = e.detail.url;  
                    }
                });
            });
    select-form()
