doctype html
html
  head
    title !{title}
    meta(name='viewport', charset='utf-8', content='width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.8')
    script(src='bower_components/webcomponentsjs/webcomponents-lite.js')
    script(type='text/javascript').
      window.addEventListener('WebComponentsReady', function(e) {
        var el = document.getElementById('spinner');
        el.parentNode.removeChild(el);
      });
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true
      };
    link(rel='import', href='bower_components/polymer/polymer.html')
    link(rel="import", href="elements/style/app-theme.html")

    script(type='text/javascript').
      // notificiations
      var activeTimeoutForNotification;
      function createMessage(type, msg, hideafter) {
        var div = document.querySelector('div#message');
        var img = div.querySelector('img');

        switch (type) {
          case 'error':
            img.src = 'img/icons/warning.png'; break;
          default:
            img.src = 'img/icons/webicon.png';
        }

        if (div) {
          if (activeTimeoutForNotification)
            clearTimeout(activeTimeoutForNotification);
          div.querySelector('div#text').innerHTML = msg;
          div.classList.add('active');
          if (hideafter)
            activeTimeoutForNotification = window.setTimeout(function() { div.classList.remove('active') }, hideafter || 10000);
        }
      };
    block HeadContent

  style.
    body, .fullbleed {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      margin: 0;
      padding: 0;
    }
    body {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
    }
    section.circles svg {
      height: calc((10vw + 5vh)/2);
      stroke: rgba(255, 255, 255, 0.25);
      stroke-width: 0.5px;
    }
    section.circles {
      z-index: 0;
      position: fixed;
      top: calc(50% - 10vw - 5vh);
      left: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    section#spinner.circles section.outer {
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      position: fixed;
      transform-origin: 0% 200%;
    }
    section#spinner.circles section.outer svg {
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    section.outer {
      animation-name: outer-animation;
    }
    section.outer > svg {
      animation-name: inner-animation, fade-in-out;
      opacity: 0;
    }
    section.outer:nth-child(1), section.outer:nth-child(1) > svg { animation-delay: 0.0s; fill: #39C5ff; }
    section.outer:nth-child(2), section.outer:nth-child(2) > svg { animation-delay: 0.8s; fill: #1EE41A; }
    section.outer:nth-child(3), section.outer:nth-child(3) > svg { animation-delay: 1.6s; fill: #E4D61A; }
    section.outer:nth-child(4), section.outer:nth-child(4) > svg { animation-delay: 2.4s; fill: #E45D1A; }
    section.outer:nth-child(5), section.outer:nth-child(5) > svg { animation-delay: 3.2s; fill: #E41A1A; }

    @keyframes inner-animation {
      0%   {transform: rotate(0deg) scale(0.5);}
      50%  {transform: rotate(180deg) scale(1);}
      100% {transform: rotate(360deg) scale(0.5);}
    }
    @keyframes outer-animation {
      0%   {transform: rotate(0deg)}
      50%  {transform: rotate(-180deg)}
      100% {transform: rotate(-360deg)}
    }
    @keyframes fade-in-out {
      0% { opacity: 0.5 }
      25% { opacity: 1 }
      66% { opacity: 1 }
      to { opacity: 0.5 }
    }
    div#message.notification {
      background: rgba(0,0,0,0.5);
      color: white;
      padding: 0.5em;
      border-radius: 8px;
      border: solid thin rgba(111,111,111,0.5);
      position: absolute;
      top: 2em;
      right: 2em;
      transform: translateY(-500%);
      z-index: 5000;
      font-size: 0.75em;
      font-weight: bold;
      transition: transform 500ms ease;
      display: inline-flex;
      max-width: 100vw;
      align-items: center;
    }
    div#message.notification > img {
      height: 2.5em;
      margin-right: 0.5em;
    }
    div#message.notification.active {
      transform: translateY(0%);
    }
    div#message.notification > div#text {
      word-break: break-word;
      white-space: normal;
    }
    ::selection {
      color: white;
      background: #80ABD7 !important;
    }
  block StyleContent

  body
    //- START-ANIMATION
    #background.fullbleed
    section#spinner.circles
      each val in [1, 2, 3, 4, 5]
        section.outer
          svg(viewbox='0 0 48 48')
            g#g00(transform='matrix(0.41959876,0,0,-0.41984392,0,55.269513)')
              g#g01(transform='scale(0.1,0.1)')
                path#Logo(d='m 503.402,705.496 c 0.157,-0.098 4.418,8.078 7.868,13.918 28.031,47.383 198.16,468.966 239.82,568.246 -56.34,18.57 -116.543,28.77 -179.125,28.77 C 256.07,1316.43 0,1060.49 0,744.762 0,692.703 7.10547,642.328 20.1484,594.41 c 35.9102,23.352 254.79,174.738 255.118,173.672 35.054,-129.023 153.136,-195.555 228.136,-62.586 z M 1009.09,1113.29 C 966.109,1011.68 821.477,670.809 782.699,594.098 706.316,455.242 584.27,325.691 418.922,318.25 224.848,309.52 122.07,383.562 66.746,476.805 162.832,296.16 353.012,173.148 571.965,173.148 c 315.91,0 571.985,255.942 571.985,571.614 0,140.48 -50.81,269.008 -134.86,368.528')
    div#message.notification
      img
      div#text

    block BodyContent
