<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html"/>

<dom-module id="snackbar-element">

  <template>
    <style>
      :host {
        @apply(--layout-inline);
        @apply(--layout-center-center);
        position: fixed;
        font-size: 1em;
        left: calc(50% - 384px);
        right: calc(50% - 384px);
        bottom: 0;
        background-color: #555;
        color: var(--bright-text-color);
        padding-left: var(--icon-size, 1.5em);
        padding-right: var(--icon-size, 1.5em);
        visibility: hidden;
        text-align: center;
        will-change: transform;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        transition-property: visibility, -webkit-transform, opacity;
        transition-property: visibility, transform, opacity;
        transition-duration: 0.2s;
        height: 2.5em;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.2);
      }
      :host([opened]) {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      @media (max-width: 768px) {
        :host {
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
          width: auto;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          box-shadow: none;
        }
      }
      :host ::content iron-icon {
        position: absolute;
        color: currentColor;
        height: var(--icon-size, 1.5em);
        width: var(--icon-size, 1.5em);
        padding: var(--icon-padding, 0.5em);
        left: 4px;
        bottom: 0;
      }
    </style>

    <content select="iron-icon"></content>
    <content></content>

  </template>

  <script>

    Polymer({
      is: 'snackbar-element',

      properties: {
        autoClose: {
          type: Boolean,
          value: false
        },

        autoClosePeriod: {
          type: Number,
          value: 8000
        },

        opened: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }
      },

      open: function() {
        Polymer.dom.flush();
        this.set('opened', true);
        if (this.autoClose) {
          this.debounce('close', this.close, this.autoClosePeriod);
        }
      },

      close: function() {
        this.set('opened', false);
      }
    });

  </script>

</dom-module>
