<!--
Modification from Polymer Shop Demo App
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selectable.html">

<link rel="import" href="tabs-overlay.html">

<dom-module id="tabs-container">
  <template strip-whitespace>
    <style>
      :host {
        @apply --layout;
        @apply --layout-center-center;
        box-sizing: border-box;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      }
      [hidden] {
          display: none !important;
      }
      #container {
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      }

      #overlay {
        @apply --tab-overlay;
      }

      :host([vertical]) #container {
        flex-direction: column;
        width: 100%;
      }

    </style>

    <nav id="container" on-track="_onscroll" on-wheel="_onwheel">
      <tabs-overlay id="overlay"></tabs-overlay>
      <slot></slot>
      <tabs-overlay id="addon" persistent>
        <slot name="addon"></slot>
      </tabs-overlay>
    </nav>

  </template>
  <script>

    class TabsContainer extends Polymer.mixinBehaviors(
    [Polymer.IronSelectableBehavior], Polymer.Element) {

      static get is() { return 'tabs-container'; }

      static get properties() { return {
         vertical: {
           type: Boolean,
           value: false,
           reflectToAttribute: true
         },

         multi: {
           type: Boolean,
           value: false,
           readOnly: true
         }
      }}

      static get observers() { return [
        '_onSelectedItemChanged(selectedItem)'
      ]}

      _onSelectedItemChanged(selectedItem) {
        if (selectedItem === undefined && this.selected) return;
        // requestAnimationFrame( () => {
        //   selectedItem.scrollIntoViewIfNeeded(true);
          this.$.overlay.target = selectedItem;
          this.$.addon.target = selectedItem;
        // });
      }

      _onwheel(e) {
        if (!e) {
          return;
        }
        var scrollChange;
        var mult;
        switch (e.deltaMode) {
          case 0:
            mult = 0.2;
            break;
          case 1:
            mult = 20;
            break;
          case 2:
            mult = this.$.container.offsetHeight;
            break;
          default:
            mult = 1;
        }

        if (this.vertical) {
          scrollChange = e.deltaY || 0;
          this.$.container.scrollTop += scrollChange * mult;
        } else {
          scrollChange = e.deltaX || 0;
          this.$.container.scrollLeft += scrollChange * mult;
        }
      }

      _onscroll(e, detail) {
        var scrollChange;
        if (this.vertical) {
          scrollChange = (detail && -detail.ddy) || 0;
          this.$.container.scrollTop += scrollChange;
        } else {
          scrollChange = (detail && -detail.ddx) || 0;
          this.$.container.scrollLeft += scrollChange;
        }
      }
    }

    customElements.define(TabsContainer.is, TabsContainer);

  </script>
</dom-module>
