<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="webvisual-datepicker">
  <template strip-whitespace>
    <style>
      :host {
        display: inline-flex;
        position: relative;
      }
    </style>

    <input id="dateFrom" type="date" value="">
    <input id="timeFrom" type="time" value="">
    <input id="dateTo" type="date" value="">
    <input id="timeTo" type="time" value="">

  </template>

  <script>

    Polymer({
      is: 'webvisual-datepicker',

      properties: {

        value: {
          type: Number,
          notify: true
        },

        _value: {
          type: Object,
          value: function() {
            return {
              datefrom: '',
              timefrom: '',
              dateto: '',
              timeto: ''
            }
          },
          observer: "_valueChanged",
          readOnly: true
        },

        withRange: {
          type: Boolean
        },

        onlyDate: {
          type: Boolean
        }

      },

      attached: function() {
        if (nativeDatePickerSupported) {

        } else {

        }
      },

      _checkNativeSupport: function() {

      },

      _valueChanged: function() {
        this.checked = !this.checked;
      }
    });
  </script>
</dom-module>



    (function() {
