<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../style/tooltip-style.html">

<dom-module id="webvisual-timer">
  <template strip-whitespace>
    <style include="tooltip-style">
      :host {
        display: inline-flex;
        flex-direction: row;
        background: var(--calendar-background, #252525);
        color: var(--calender-color, #ccc);
        font-family: inherit;
        text-align: center;
      }
      :host(:not([opened])) {
        display: none;
      }
      :host > * {
        position: relative;
        padding: 0.5em 0;
      }
      input.time {
        font-size: 0.9em;
        padding: 0.5em 0.2em;
        width: 4.5ch;
        outline: none;
        font-family: inherit;
        border: none;
        background: var(--calendar-background, #333);
        color: var(--calender-color, #ccc);
      }
    </style>

      <input class="time" id="hour" type="number" min="0" max="23" step="1" disabled$="[[disabled]]" value="{{_hours::input}}">
      <div>:</div>
      <input class="time" id="minute" type="number" min="0" max="59" step="1" disabled$="[[disabled]]" value="{{_minutes::input}}">
      <div>:</div>
      <input class="time" id="second" type="number" min="0" max="59" step="1" disabled$="[[disabled]]" value="{{_seconds::input}}">

  </template>

  <script>
    if (window._datetimePickerInstances === undefined) {
      window['_datetimePickerInstances'] = new Set();
    }

    Polymer({
      is: 'webvisual-timer',

      properties: {

        for: {
          type: String,
          observer: '_forChanged'
        },

        opened: {
          type: Boolean,
          reflectToAttribute: true
        },

        value: {
          type: String,
          value: '00:00:00',
          notify: true,
          observer: '_valueChanged'
        },

        _hours: {
          type: Number,
          notify: true
        },

        _minutes: {
          type: Number,
          notify: true
        },

        _seconds: {
          type: Number,
          notify: true
        },

        position: {
          type: String,
          reflectToAttribute: true
        },

        align: {
          type: String,
          reflectToAttribute: true
        }

      },

      attached: function() {
        _datetimePickerInstances.add(this);
      },

      detached: function() {
        _datetimePickerInstances.delete(this);
      },

      observers: [
        '_timeChanged(_hours, _minutes, _seconds)'
      ],

      toggle: function() {
        if (this.opened) {
          this.opened = false;
        } else {
          if (_datetimePickerInstances) {
            _datetimePickerInstances.forEach(function(c) {
              c.opened = false;
            })
          }
          this.opened = true;
        }
      },

      _forChanged: function() {
        this._removeEventListeners(this._target);
        if (!this.for) {
          this._target = null;
          return;
        }
        this._target = this._getTarget();
        this._addEventListeners(this._target);
      },

      _addEventListeners: function(target) {
        if (target) {
          target.addEventListener('tap', this.toggle.bind(this), false);
        }
      },

      _removeEventListeners: function(target) {
        if (target) {
          target.removeEventListener('tap', this.toggle.bind(this), false);
        }
      },

      _getTarget() {
        var parentNode = Polymer.dom(this).parentNode;
        var ownerRoot = Polymer.dom(this).getOwnerRoot();
        var target;
        if (this.for) {
          target = Polymer.dom(ownerRoot).querySelector('#' + this.for);
        } else {
          target = (parentNode.nodeType == Node.DOCUMENT_FRAGMENT_NODE) ? ownerRoot.host : parentNode;
        }
        return target;
      },

      _timeChanged: function(hours, minutes, seconds) {
        if (hours === undefined || minutes === undefined || seconds === undefined)
          return;
        var time = '';
        var p = '00'
        var s = '' + hours;
        time = p.substring(0, p.length - s.length) + s + ':';
        var s = '' + minutes;
        time += p.substring(0, p.length - s.length) + s + ':';
        var s = '' + seconds;
        time += p.substring(0, p.length - s.length) + s;
        this.value = time;
      },

      _valueChanged: function(v) {
        if (v === undefined) {
          return;
        }
        v = v.split(':');
        if (v.length !== 3) {
          this.value = undefined;
        }
        var a;
        a = parseInt(v[0]);
        if (a === NaN || a < 0 || a > 23) {
          this.value = undefined;
          if (a !== this._hours) {
            this._hours = a;
          }
          return;
        }
        if (a !== this._hours) {
          this._hours = a;
        }
        a = parseInt(v[1]);
        if (a === NaN || a < 0 || a > 59) {
          this.value = undefined;
          return;
        }
        if (a !== this._minutes) {
          this._minutes = a;
        }
        a = parseInt(v[2]);
        if (a === NaN || a < 0 || a > 59) {
          this.value = undefined;
          return;
        }
        if (a !== this._seconds) {
          this._seconds = a;
        }
      }

    });
  </script>
</dom-module>
