<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="webvisual-ripple-container.html">

<dom-module id="webvisual-tab">
  <template strip-whitespace>
    <style>
      [hidden] {
        display: none !important;
      }

      :host {
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        vertical-align: middle;
      }

      #overlay {
        pointer-events: none;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @apply(--webvisual-tab-overlay);
      }

      #content {
        padding: 0.6em 1.2em;
      }

      :host(.webvisual-tabs-overlay-static-above) #overlay {
        display: block;
      }
    </style>
    <div id="overlay"></div>
    <div id="content">
      <content></content>
    </div>

  </template>
  <script>
    Polymer({
      is: 'webvisual-tab'
    });
  </script>
</dom-module>
