<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selectable.html">
<link rel="import" href="webvisual-tabs-overlay.html">

<dom-module id="webvisual-tabs">
  <template strip-whitespace>
    <style>
      :host {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }

      #container {
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 100%;
        white-space: nowrap;
        overflow-x: auto;
        text-align: center;
      }

      webvisual-tabs-overlay {
        @apply(--webvisual-tab-overlay);
      }
    </style>
    <nav id="container">
      <webvisual-tabs-overlay id="overlay"></webvisual-tabs-overlay>
      <content></content>
    </nav>
  </template>
  <script>
    Polymer({
      is: 'webvisual-tabs',

      behaviors: [
        Polymer.IronSelectableBehavior
      ],

      observers: [
        '_onSelectedItemChanged(selectedItem)'
      ],

      _onSelectedItemChanged: function(selectedItem) {
        if (selectedItem === undefined && this.selected) return;

        this.$.overlay.target = selectedItem;
      },
    });
  </script>
</dom-module>
