<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selectable.html">
<link rel="import" href="webvisual-tabs-overlay.html">

<dom-module id="webvisual-tabs">
  <template strip-whitespace>
    <style>
      :host {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        user-select: none;
      }

      #container {
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 100%;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
      }

      #overlay {
        @apply(--tab-overlay);
      }
      :host ::content {
        user-select: none;
      }
      :host ::content .overlay-static-above::before {
        pointer-events: none;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @apply(--tab-overlay);
      }
    </style>
    <nav id="container" on-track="_scroll">
      <webvisual-tabs-overlay id="overlay"></webvisual-tabs-overlay>
      <content></content>
    </nav>
  </template>
  <script>
    Polymer({
      is: 'webvisual-tabs',

      behaviors: [
        Polymer.IronSelectableBehavior
      ],

      observers: [
        '_onSelectedItemChanged(selectedItem)'
      ],

      _onSelectedItemChanged: function(selectedItem) {
        if (selectedItem === undefined && this.selected) return;

        this.$.overlay.target = selectedItem;
      },

      _scroll: function(e, detail) {
        // if (!this.scrollable) {
        //   return;
        // }

        var ddx = (detail && -detail.ddx) || 0;
        this.$.container.scrollLeft += ddx;
      }
    });
  </script>
</dom-module>
