<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selectable.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="webvisual-tabs">
  <template strip-whitespace>
    <style>
      :host {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;

        --tab-overlay: {
          background-color: rgba(255, 255, 255, 0.25);
          border-left: none;
          border-bottom: 2px solid var(--highlight-color, var(--primary-color));
        }

        --tab-vertical-overlay: {
          background-color: rgba(255, 255, 255, 0.25);
          border-left: 2px solid var(--highlight-color, var(--primary-color));
          border-bottom: none;
        }
      }

      #container {
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      }

      #overlay {
        position: absolute;
        display: none;
        pointer-events: none;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition-property: top, right, bottom, left, opacity;
        will-change: top, right, bottom, left, opacity;
        @apply(--tab-overlay);
      }

      :host([vertical]) #overlay {
        @apply(--tab-vertical-overlay);
      }

      #addon {
        position: absolute;
        pointer-events: none;
      }

      :host([vertical]) #container {
        flex-direction: column;
        width: 100%;
      }
      ::content * {
        box-sizing: border-box;
      }
      ::content .overlay-above::before {
        position: absolute;
        content: "";
        pointer-events: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @apply(--tab-overlay);
      }
      :host([vertical]) ::content .overlay-above::before {
        @apply(--tab-vertical-overlay);
      }

    </style>
    <nav id="container" on-track="_onscroll" on-wheel="_onwheel">
      <div id="overlay" vertical="[[vertical]]" on-transitionend="_onTransitionend"></div>
      <content select=".tab"></content>
      <div id="addon">
        <content select=".overlay-addon"></content>
      </div>
    </nav>

  </template>
  <script>
    Polymer({
      is: 'webvisual-tabs',

      properties: {
        /**
         * If true, the tabs are vertically aligned.
         */
        vertical: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }

      },

      behaviors: [
        Polymer.IronResizableBehavior,
        Polymer.IronSelectableBehavior
      ],

      created: function() {
        this._lastTarget = undefined;
        this._transitionsInFlight = [];
      },

      observers: [
        '_onSelectedItemChanged(selectedItem)'
      ],

      _onSelectedItemChanged: function(selectedItem) {
        if (selectedItem === undefined) return;
        
        this._lastTarget = this.target;
        this.target = selectedItem;
        this._targetChanged(selectedItem, this._lastTarget);
      },

      _onwheel: function (e) {
        if (!e) {
          return;
        }
        var scrollChange;
        var mult;
        switch (e.deltaMode) {
          case 0:
            mult = 0.2;
            break;
          case 1:
            mult = 20;
            break;
          case 2:
            mult = this.$.container.offsetHeight;
            break;
          default:
            mult = 1;
        }

        if (this.vertical) {
          scrollChange = e.deltaY || 0;
          this.$.container.scrollTop += scrollChange * mult;
        } else {
          scrollChange = e.deltaX || 0;
          this.$.container.scrollLeft += scrollChange * mult;
        }
      },

      _onscroll: function(e, detail) {
        var scrollChange;
        if (this.vertical) {
          scrollChange = (detail && -detail.ddy) || 0;
          this.$.container.scrollTop += scrollChange;
        } else {
          scrollChange = (detail && -detail.ddx) || 0;
          this.$.container.scrollLeft += scrollChange;
        }
      },

      _onTransitionend: function(event) {
        var index = this._transitionsInFlight.indexOf(event.propertyName);
        if (index >= 0) {
          this._transitionsInFlight.splice(index, 1);
        }

        if (!this._transitionsInFlight.length) {
          this._moveComplete();
        }
      },

      _targetChanged: function(newTarget, oldTarget) {
        if (!this._transitionsInFlight.length) {
          if (this.oldTarget) {
            oldTarget.classList.remove('overlay-above');
          }
          if (this._lastTarget) {
            this._lastTarget.classList.remove('overlay-above');
          }
          this.$.overlay.style.display = 'block';
          newTarget.scrollIntoViewIfNeeded(true);
          this._move(oldTarget, newTarget);
          this._lastTarget = this.target;
        }
      },

      _moveComplete: function() {
        if (this._lastTarget !== this.target) {
          this._move(this._lastTarget, this.target);
          this._lastTarget = this.target;
        } else {
          // this.async(function () {
            if (this._lastTarget) {
              this._lastTarget.classList.add('overlay-above');
            }
            this.$.overlay.style.display = 'none';
            if (!this.addon) {
              this.addon = this.$.addon;
            }
            this.addon.style.cssText = 'top: ' + this.$.overlay.style.top + ';' +
                                       'right: ' + this.$.overlay.style.right + ';' +
                                       'bottom: ' + this.$.overlay.style.bottom + ';' +
                                       'left: ' + this.$.overlay.style.left + ';';
          // }.bind(this));
        }
      },

      _move: function(oldTarget, newTarget) {
        this.async(function () {
          var from = oldTarget || newTarget;
          var to = newTarget || oldTarget;
          if (!from && !to) return;

          var fromOpacity = oldTarget ? 1 : 0;
          var toOpacity = newTarget ? 1 : 0;

          // Polymer.dom.flush();
          var thisRect = this.getBoundingClientRect();
          var thisStyle = window.getComputedStyle(this);
          var fromRect = from.getBoundingClientRect();
          var toRect = to.getBoundingClientRect();

          if (toRect.top === 0 && toRect.right === 0 &&
              toRect.bottom === 0 && toRect.left === 0 &&
              toRect.width === 0 && toRect.height === 0) {
            this.$.overlay.style.transitionProperty = 'none';
            this.$.overlay.style.opacity = toOpacity;
            this._transitionsInFlight = [];
            this.async(this._moveComplete);
            return;
          } else {
            this.$.overlay.style.transitionProperty = '';
          }

          var top = parseFloat(thisStyle.top || '0') + (fromRect.top - thisRect.top);
          var right = parseFloat(thisStyle.right || '0') - (fromRect.right - thisRect.right);
          var bottom = parseFloat(thisStyle.bottom || '0') - (fromRect.bottom - thisRect.bottom);
          var left = parseFloat(thisStyle.left || '0') + (fromRect.left - thisRect.left);

          this.$.overlay.style.transitionDuration = '0s';
          this.$.overlay.style.transitionDelay = '0s';
          var startValues = [
            this.$.overlay.style.top = top + 'px',
            this.$.overlay.style.right = right + 'px',
            this.$.overlay.style.bottom = bottom + 'px',
            this.$.overlay.style.left = left + 'px',
            this.$.overlay.style.opacity = String(fromOpacity)
          ];

          top += toRect.top - fromRect.top;
          right -= toRect.right - fromRect.right;
          bottom -= toRect.bottom - fromRect.bottom;
          left += toRect.left - fromRect.left;

          var durations = [0.2, 0.2, 0.2, 0.2, 0.2];
          var delays = [0, 0, 0, 0, 0];
          // Delay left / right transitions if element is left / right of the target.
          if (fromRect.left < toRect.left && fromRect.right < toRect.right) {
            delays[3] = 0.1;
          } else if (fromRect.left > toRect.left && fromRect.right > toRect.right) {
            delays[1] = 0.1;
          }

          // Delay top / bottom transitions if element is above / below the target.
          if (fromRect.top < toRect.top && fromRect.bottom < toRect.bottom) {
            delays[0] = 0.1;
          } else if (fromRect.top > toRect.top && fromRect.bottom > toRect.bottom) {
            delays[2] = 0.1;
          }

          var endValues = [
            top + 'px',
            right + 'px',
            bottom + 'px',
            left + 'px',
            String(toOpacity)
          ];

          var names = ['top', 'right', 'bottom', 'left', 'opacity'];
          for (var i = 0; i < startValues.length; i++) {
            if (startValues[i] === endValues[i]) continue;
            if (durations[i] === 0 && delays[i] === 0) continue;
            this._transitionsInFlight.push(names[i]);
          }

          this.async(function() {
            this.$.overlay.style.transitionDuration = durations.map(function(x) { return x + 's'; }).join(', ');
            this.$.overlay.style.transitionDelay = delays.map(function(x) { return x + 's'; }).join(', ');
            this.$.overlay.style.top = top + 'px';
            this.$.overlay.style.right = right + 'px';
            this.$.overlay.style.bottom = bottom + 'px';
            this.$.overlay.style.left = left + 'px';
            this.$.overlay.style.opacity = String(toOpacity);
          });
        }.bind(this), 1);
      }
    });
  </script>
</dom-module>
