<dom-module id="dropdown-selector">
  <template strip-whitespace>

  <style>
    :host {
      box-sizing: border-box;
      position: relative;
      display: block;
      outline-width: 0;
      clear: both;
      float: left;
      outline: none;
      margin: 0;
      letter-spacing: 0.2px;
    }

    #container {
      display: flex;
      position: relative;
      flex-direction: row;
      width: 100%;
      align-items: center;
      box-sizing: border-box;
    }
    :host([position="bottom"]) {
      border-bottom: 1px solid rgba(0,0,0, 0.12);
    }
    :host([position="left"]) {
      border-left: 1px solid rgba(0,0,0, 0.12);
    }
    :host([position="top"]) {
      border-top: 1px solid rgba(0,0,0, 0.12);
    }
    :host([position="right"]) {
      border-right: 1px solid rgba(0,0,0, 0.12);
    }
    :host([no-focusline]) {
      border: none;
    }
    :host([no-focusline]) > .focusline {
      display: none !important;
    }
    label {
      position: absolute;
      pointer-events: none;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 1em;
      line-height: normal;
      color: rgba(0, 0, 0, 0.26);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      text-align: center;
    }

    .focusline {
      background-color: var(--form-valid);
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      transition: 0.25s ease all;
      -moz-transition: 0.25s ease all;
      -webkit-transition: 0.25s ease
    }
    .focusline[position="bottom"] {
      height: 2px;
      width: 5%;
      bottom: 0;
      left: 45%;
    }
    .focusline[position="top"] {
      height: 2px;
      width: 5%;
      top: 0;
      left: 45%;
    }
    .focusline[position="left"] {
      width: 2px;
      height: 5%;
      left: 0;
      top: 45%;
    }
    .focusline[position="right"] {
      width: 2px;
      height: 5%;
      right: 0;
      top: 45%;
    }

    :host:focus .focusline[position="bottom"], :host:focus .focusline[position="top"], :host([active]) .focusline[position="bottom"], :host([active]) .focusline[position="top"] {
      visibility: visible;
      width: 100%;
      left: 0;
    }
    :host:focus .focusline[position="left"], :host:focus .focusline[position="right"], :host([active]) .focusline[position="left"], :host([active]) .focusline[position="right"] {
      visibility: visible;
      height: 100%;
      top: 0;
    }

    label:not([float]) {
      color: currentColor;
      position: relative;
      float: left;
      left: auto;
      top: auto;
    }

    #container.set label[float] {
      visibility: visible;
      top: 0;
      font-size: 0.75em;
      /*color: var(--primary-color);*/
    }
    iron-icon#icon {
      padding: 0.5em;
    }
    /*iron-icon#icon {
      margin-bottom: 0.25em;
    }
    label[float] ~ iron-icon {
      margin-bottom: 0;
    }*/
    iron-icon#arrow {
      margin-left: 0.5em;
    }
    paper-ripple {
      color: var(--ripple-color, currentColor);
    }
    #selected {
      display: inline-flex;
      position: relative;
      padding: 0.5em;
      align-items: center;
      flex: 1;
      min-height: 2em;
    }
    [hidden] {
      display: none !important;
    }
  </style>
    <paper-ripple></paper-ripple>
    <section id="container" on-tap="toggle" float$="[[!hideSelected]]">
      <iron-icon hidden$="[[!icon]]" id="icon" icon="[[icon]]"></iron-icon>
      <section hidden$="[[hideSelected]]" hidden$="[[selected]]" id="selected">
        [[selected]]
        <label hidden="[[!label]]" float$="[[!hideSelected]]" for="container">[[label]]</label>
      </section>
      <iron-icon hidden$="[[hideArrow]]" id="arrow" icon="arrow-drop-down"></iron-icon>
    </section>
    <section class="focusline" position$="[[position]]"></section>
    <dropdown-element id="dropdown" position$="[[position]]" horizontal="[[horizontal]]" align="[[align]]" tabindex="1" offset="[[offset]]">
      <content></content>
    </dropdown-element>

  </template>
  <script>
    Polymer({
      is: 'dropdown-selector',

      behaviors: [
        Polymer.IronFormElementBehavior, Polymer.IronSelectableBehavior
      ],

      properties: {
        label: {
          type: String,
          value: ""
        },
        icon: {
          type: String,
          value: ""
        },
        position: {
          type: String,
          value: "bottom",
          reflectToAttribute: true
        },
        align: {
          type: String,
          value: "start"
        },
        horizontal: {
          type: Boolean,
          value: false
        },
        offset: {
          type: Number,
          value: 0
        },
        value: {
          type: String,
          value: "",
          reflectToAttribute: true
        },
        hideSelected: {
          type: Boolean,
          value: false
        },
        hideArrow: {
          type: Boolean,
          value: false
        },
        active: {
          type: Boolean,
          value: false
        }
      },

      hostAttributes: {
        role: 'combobox',
        tabindex: '0'
      },

      listeners: {
        "iron-select": "_onSelect",
        "keyup": "_keyHandler"
      },

      _onSelect: function() {
        this.value = this.selected;
        if (this.value === '') {
          this.$.container.classList.remove('set')
        } else {
          this.$.container.classList.add('set')
        }
        this.fire("select", this.value);
        this.active = false;
        this.$.dropdown.hide();
      },
      show: function() {
        this.active = true;
        this.$.arrow.set('icon','arrow-drop-up');
        this.setAttribute("aria-pressed", '');
        this.$.dropdown.show();
      },
      hide: function() {
        this.active = false;
        this.$.arrow.set('icon','arrow-drop-down');
        this.setAttribute("aria-pressed", false);
        this.$.dropdown.hide();
      },
      toggle: function() {
        if (this.active === false) {
          this.show();
        }
        else {
          this.hide();
        }
      },
      _keyHandler: function(e) {
        switch (e.which) {
          case 27: this.hide(); break;
          case 13:
          case 32: this.toggle(); break;
          case 38: this.selectPrevious(); break;
          case 40: this.selectNext(); break;
        }
      }
    });
  </script>
</dom-module>
