<!-- modification of polymer paper-dropdown -->
<dom-module id="dropdown-element">
  <template>
    <style>
      :host {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        overflow: hidden;
        outline: none;
        border: none !important;
        border-radius: inherit;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
        box-shadow: none;
        outline: none;
        z-index: 1010;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-size: var(--dropdown-fontsize, 0.8em);
        color: var(--dropdown-text-color, --primary-text-color);
        background: var(--dropdown-background, transparent);
        transition: transform 300ms ease;
      }
      :host([horizontal]) {
        flex-direction: row;
      }
      ::content > * {
        border-radius: 0;
        border-width: 0;
        z-index: inherit;
      }
    </style>

    <content></content>
  </template>

  <script>
    Polymer({
      is: 'dropdown-element',

      behaviors: [
        Polymer.IronResizableBehavior,
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        for: {
          type: String,
          observer: '_forChanged'
        },
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'fade-in-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            }
          }
        },
        // options: 'left', 'right', 'bottom', 'top'
        position: {
          type: String,
          value: 'bottom'
        },

        // options: 'start', 'center', 'end'
        align: {
          type: String,
          value: 'start'
        },

        offset: {
          type: Number,
          value: 0
        },

        horizontal: {
          type: Boolean,
          value: false
        },

        // e.g. tap
        targetToggleEvent: {
          type: String,
          value: ""
        },
        // e.g. tap
        targetShowingEvent: {
          type: String,
          value: ""
        },
        // e.g. iron-select
        targetHidingEvent: {
          type: String,
          value: ""
        },

        hidingEvent: {
          type: String,
          value: "mouseleave"
        },

        opened: {
          type: Boolean,
          value: false
        }
      },

      listeners: {
        'iron-resize': 'updatePosition',
        'focus': 'show',
        'keyup': '_keyHandler',
        'neon-animation-finish': '_onNeonAnimationFinish'
      },

      get target () {
        var parentNode = Polymer.dom(this).parentNode;
        var ownerRoot = Polymer.dom(this).getOwnerRoot();

        var target;
        if (this.for) {
          target = Polymer.dom(ownerRoot).querySelector('#' + this.for);
        } else {
          target = parentNode.nodeType == Node.DOCUMENT_FRAGMENT_NODE ?
              ownerRoot.host : parentNode;
        }
        return target;
      },

      attached: function() {
        this._target = this.target;
        if (this.targetToggleEvent !== "")
          this.listen(this._target, this.targetToggleEvent, 'toggle');
        if (this.targetShowingEvent !== "")
          this.listen(this._target, this.targetShowingEvent, 'show');
        if (this.targetHidingEvent !== "")
          this.listen(this._target, this.targetHidingEvent, 'hide');
        if (this.hidingEvent !== "")
          this.listen(this, this.hidingEvent, 'hide');
      },

      detached: function() {
        if (this._target) {
          if (this.targetShowingEvent !== "")
            this.unlisten(this._target, this.targetShowingEvent, 'toggle');
          if (this.targetToggleEvent !== "")
            this.unlisten(this._target, this.targetToggleEvent, 'show');
          if (this.targetHidingEvent !== "")
            this.unlisten(this._target, this.targetHidingEvent, 'hide');
        }
        if (this.hidingEvent !== "")
          this.listen(this, this.hidingEvent, 'hide');
      },

      show: function(e) {
        this.opened = true;
        this.style.display = 'flex';
        this.updatePosition();
        this.playAnimation('entry');
      },
      hide: function(e) {
        this.opened = false;
        this.playAnimation('exit');
      },
      toggle: function(e) {
        if (this.opened) this.hide();
        else this.show();
      },

      open: function() {
        this.show();
      },
      close: function() {
        this.hide();
      },

      _onNeonAnimationFinish: function() {
        this.updatePosition();
        if (!this.opened) {
          this.style.display = 'none';
        }
        this.notifyResize();
      },

      _forChanged: function() {
        this._target = this.target;
      },


      updatePosition: function() {
        this.debounce("update-position", this._updatePosition, 15);
      },

      _updatePosition: function() {
        if (!this._target || !this.offsetParent)
          return;

        const offset = this.offset;
        const parentRect = this.offsetParent.getBoundingClientRect();
        const targetRect = this._target.getBoundingClientRect();
        const thisRect = this.getBoundingClientRect();
        let horizontalOffset, verticalOffset;

        switch (this.align) {
          case 'start':
          default:
            horizontalOffset = 0;
            verticalOffset = 0;
            break;
          case 'end':
            horizontalOffset = targetRect.width - thisRect.width;
            verticalOffset = targetRect.height - thisRect.height;
            break;
          case 'center':
            horizontalOffset = (targetRect.width - thisRect.width) / 2;
            verticalOffset = (targetRect.height - thisRect.height) / 2;
            break;
          case 'outer-start':
            horizontalOffset = -thisRect.width;
            verticalOffset = -thisRect.height;
            break;
          case 'outer-end':
            horizontalOffset = targetRect.width;
            verticalOffset = targetRect.height;
            break;
          case 'outer-center':
            horizontalOffset = targetRect.width / 2;
            verticalOffset = targetRect.height / 2;
            break;
        }

        let targetLeft = targetRect.left - parentRect.left;
        let targetTop = targetRect.top - parentRect.top;
        let dropdownLeft, dropdownTop;

        switch (this.position) {
          case 'top':
            dropdownLeft = targetLeft + horizontalOffset;
            dropdownTop = targetTop - thisRect.height - offset;
            break;
          case 'bottom':
            dropdownLeft = targetLeft + horizontalOffset;
            dropdownTop = targetTop + targetRect.height + offset;
            break;
          case 'left':
            dropdownLeft = targetLeft - thisRect.width - offset;
            dropdownTop = targetTop + verticalOffset;
            break;
          case 'right':
            dropdownLeft = targetLeft + targetRect.width + offset;
            dropdownTop = targetTop + verticalOffset;
            break;
        }

        // Clip the left/right side.
        if (dropdownLeft + parentRect.left + thisRect.width> window.innerWidth) {
          dropdownLeft = window.innerWidth - (parentRect.left + thisRect.width + offset);
        } else if (dropdownLeft + targetRect.left < 0) {
          dropdownLeft = -targetRect.left;
        }

        // Clip the top/bottom side.
        if (dropdownTop + thisRect.height > window.innerHeight) {
          dropdownTop= window.innerHeight - (thisRect.height + targetRect.top + offset);
        } else if (dropdownTop > targetRect.top) {
          dropdownTop = targetRect.top;
        }
        this.style.transform  = `translate(${dropdownLeft}px, ${dropdownTop}px)`;
      }

    });
  </script>
</dom-module>
