<!-- Modification of polymers paper-button because of conflicts with paper-style -->

<dom-module id="input-element">
  <template strip-whitespace>
    <style include="paper-material">
      :host {

      }



      paper-ripple {
        color: var(--ripple-color, currentColor);
      }



</style>

  <input id="input" type="[[type]]" name="input" pattern="[[pattern]]" on-change="_float" value="{{value}}" min="{{min}}" max="{{max}}" step="{{step}}" required$="[[required]]" readonly$="[[readonly]]"/>
  <label hidden="[[!label]]" for="input" noFloat$="[[noFloat]]">[[label]]</label>
</template>

  <script>
    Polymer({
      is: 'input-element',

      behaviors: [
        Polymer.IronFormElementBehavior
      ],

      properties: {
        label: {
          type: String,
          value: "label",
          reflectToAttribute: true
        },
        type: {
          type: String,
          value: "text",
          reflectToAttribute: true
        },
        pattern: {
          type: String,
          value: "",
          reflectToAttribute: true
        },
        value: {
          type: String,
          value: "",
          reflectToAttribute: true,
          observer: "_float"
        },
        required: {
          type: Boolean,
          value: false
        },
        readonly: {
          type: Boolean,
          value: false
        },
        errorMessage: {
          type: String,
          value: ""
        },
        min: {
          type: Number
        },
        max: {
          type: Number
        },
        step: {
          type: Number
        },
        noFloat: {
          type: Boolean,
          value: false
        }
      },

      hostAttributes: {
        role: 'input',
        tabindex: '0'
      },

      listeners: {
        "keyup": "_float"
      },

      _float: function() {
        this.value = this.$.input.value;
        if (this.value === '') {
          this.$.input.classList.remove('set')
        } else {
          this.$.input.classList.add('set')
        }
      }
    });
  </script>
</dom-module>
