<!-- Modification of polymers paper-radio-button because of conflicts with paper-style -->

<dom-module id="radio-button-element">
  <template strip-whitespace>
    <style>
      :host {
        display: inline-flex;
        align-items: center;
        line-height: 0;
        white-space: nowrap;
        cursor: pointer;
        float: left;
        clear: both;
        box-sizing: border-box;
        padding: 0.5em 1em;
        margin: 0em;
      }

      :host(:focus) {
        outline: none;
      }

      #radioContainer {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 1.25em;
        height: 1.25em;
        vertical-align: middle;
      }

      #ink {
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        width: calc(3 * 1.25em);
        height: calc(3 * 1.25em);
        color: var(--radio-button-unchecked-color, --primary-text-color);
        opacity: 0.8;
        pointer-events: none;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      #ink[checked] {
        color: var(--radio-button-checked-color, --primary-color);
      }

      #offRadio, #onRadio {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      #offRadio {
        border: 2px solid var(--radio-button-unchecked-color, --primary-text-color);
        background-color: var(--radio-button-unchecked-background-color);
        transition: border-color linear 0.28s;
      }

      #onRadio {
        background-color: var(--radio-button-checked-color, --primary-color);
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: -webkit-transform ease 0.28s;
        transition: transform ease 0.28s;
        will-change: transform;
      }

      :host([checked]) #offRadio {
        border-color: var(--radio-button-checked-color, --primary-color);
      }

      :host([checked]) #onRadio {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
      }

      #radioLabel {
        line-height: normal;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5em;
        font-size: 0.9em;
        white-space: nowrap;
        color: var(--radio-button-label-color, --primary-text-color);
      }

      :host([disabled]) #offRadio {
        border-color: var(--radio-button-unchecked-color, --primary-text-color);
        opacity: 0.5;
      }

      :host([disabled][checked]) #onRadio {
        background-color: var(--radio-button-unchecked-color, --primary-text-color);
        opacity: 0.5;
      }

      :host([disabled]) #radioLabel {
        /* slightly darker than the button, so that it's readable */
        opacity: 0.7;
      }

      ::content iron-icon {
        margin-right: 0.5em;
      }
      [hidden] {
        display: none !important;
      }
    </style>

    <content select="iron-icon"></content>

    <section id="radioContainer">
      <section id="offRadio"></section>
      <section id="onRadio"></section>
    </section>

    <section id="radioLabel" hidden$="[[noLabel]]"><content></content></section>
  </template>

  <script>
    Polymer({
      is: 'radio-button-element',

      behaviors: [
        Polymer.PaperCheckedElementBehavior
      ],

      hostAttributes: {
        role: 'radio',
        'aria-checked': false,
        tabindex: 0
      },

      properties: {
        ariaActiveAttribute: {
          type: String,
          value: 'aria-checked'
        },
        noLabel: {
          type: Boolean,
          value: false
        }
      },

      ready: function() {
        this._rippleContainer = this.$.radioContainer;
      }
    })
  </script>
</dom-module>
