<!-- Modification of polymers paper-tab because of conflicts with paper-style -->
<dom-module id="tab-element">
  <template>
    <style>
      :host {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
        border-radius: 6px 6px 0px 0px;
        overflow: hidden;
        cursor: pointer;
        vertical-align: middle;
        padding: 0em 1.2em;
        height: 100%;
        line-height: normal;
        -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
        -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
        @apply(--default-transition);
      }
      :host(:focus) {
        outline: none;
      }
      :host([link]) {
        padding: 0;
      }
      .tab-content {
        display: flex;
        height: 100%;
        transform: translateZ(0);
          -webkit-transform: translateZ(0);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        transition: opacity 0.1s cubic-bezier(0.4, 0.0, 1, 1);
      }
      :host(:not(.iron-selected)) > .tab-content {
        opacity: 0.8;
      }
      :host(:focus) .tab-content {
        opacity: 1;
      }
    </style>

    <div class="tab-content">
      <content></content>
    </div>
  </template>

  <script>
    Polymer({
      is: 'tab-element',

      behaviors: [
        Polymer.IronControlState,
        Polymer.IronButtonState,
        Polymer.PaperRippleBehavior
      ],

      hostAttributes: {
        role: 'tab'
      },

      listeners: {
        down: '_updateNoink'
      },

      attached: function() {
        this._updateNoink();
      },

      get _parentNoink () {
        var parent = Polymer.dom(this).parentNode;
        return !!parent && !!parent.noink;
      },

      _updateNoink: function() {
        this.noink = !!this.noink || !!this._parentNoink;
      }

    });
  </script>
</dom-module>
