<!-- Modification of polymers paper-toggle-button because of conflicts with paper-style -->

<dom-module id="toggle-button-element">
  <template strip-whitespace>

    <style>
      :host {
        display: flex;;
        flex-direction: row;
        align-items: center;
        outline:none;
        margin: 0em;
        box-sizing: border-box;
        float: left;
        clear: both;
        padding: 0.5em 1em;
        cursor: pointer;
      }

      :host([disabled]) {
        pointer-events: none;
      }

      .toggle-bar {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0.5em;
        pointer-events: none;
        opacity: 0.75;
        transition: background-color linear 100ms;
        background-color: var(--toggle-button-unchecked-bar-color, #000000);

        @apply(--toggle-button-unchecked-bar);
      }

      .toggle-button {
        position: absolute;
        top: -0.125em;
        left: 0;
        height: 1.25em;
        width: 1.25em;
        border-radius: 50%;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
        transition: -webkit-transform linear 100ms, background-color linear 100ms;
        transition: transform linear 100ms, background-color linear 100ms;
        will-change: transform;
        background-color: var(--toggle-button-unchecked-button-color, --paper-grey-50);

        @apply(--toggle-button-unchecked-button);
      }

      .toggle-button.dragging {
        -webkit-transition: none;
        transition: none;
      }

      :host([checked]:not([disabled])) .toggle-bar {
        opacity: 0.5;
        background-color: var(--toggle-button-checked-bar-color, --primary-color);

        @apply(--toggle-button-checked-bar);
      }

      :host([disabled]) .toggle-bar {
        background-color: #000;
        opacity: 0.2;
      }

      :host([checked]) .toggle-button {
        -webkit-transform: translate(1.25em, 0);
        transform: translate(1.25em, 0);
      }

      :host([checked]:not([disabled])) .toggle-button {
        background-color: var(--toggle-button-checked-button-color, --primary-color);

        @apply(--toggle-button-checked-button);
      }

      :host([disabled]) .toggle-button {
        background-color: var(--disabled-text-color);
        opacity: 1;
      }

      .toggle-ink {
        position: absolute;
        top: -1.125em;
        left: -1.125em;
        right: auto;
        bottom: auto;
        width: 3.5em;
        height: 3.5em;
        opacity: 0.8;
        pointer-events: none;
        color: var(--toggle-button-unchecked-ink-color, --primary-text-color);
      }

      :host([checked]) .toggle-ink {
        color: var(--toggle-button-checked-ink-color, --primary-color);
      }

      .toggle-container {
        display: inline-block;
        position: relative;
        width: 2.5em;
        height: 1em;
        margin: 0.25em 1px;
      }

      .toggle-label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-left: 0.75em;
        pointer-events: none;
        white-space: nowrap;
        color: var(--toggle-button-label-color, --primary-text-color);
      }

      ::content iron-icon {
        margin-right: 0.5em;
      }
    </style>

    <content select="iron-icon"></content>
    <section class="toggle-container">
      <section id="toggleBar" class="toggle-bar"></section>
      <section id="toggleButton" class="toggle-button"></section>
    </section>

    <section class="toggle-label"><content></content></section>

  </template>

  <script>
    Polymer({
      is: 'toggle-button-element',

      behaviors: [
        Polymer.PaperCheckedElementBehavior
      ],

      hostAttributes: {
        role: 'button',
        'aria-pressed': 'false',
        tabindex: 0
      },

      listeners: {
        track: '_ontrack'
      },

      _ontrack: function(event) {
        var track = event.detail;
        if (track.state === 'start') {
          this._trackStart(track);
        } else if (track.state === 'track') {
          this._trackMove(track);
        } else if (track.state === 'end') {
          this._trackEnd(track);
        }
      },

      _trackStart: function(track) {
        this._width = this.$.toggleBar.offsetWidth / 2;
        this._trackChecked = this.checked;
        this.$.toggleButton.classList.add('dragging');
      },

      _trackMove: function(track) {
        var dx = track.dx;
        this._x = Math.min(this._width,
            Math.max(0, this._trackChecked ? this._width + dx : dx));
        this.translate3d(this._x + 'px', 0, 0, this.$.toggleButton);
        this._userActivate(this._x > (this._width / 2));
      },

      _trackEnd: function(track) {
        this.$.toggleButton.classList.remove('dragging');
        this.transform('', this.$.toggleButton);
      },

      _createRipple: function() {
        this._rippleContainer = this.$.toggleButton;
        var ripple = Polymer.PaperRippleBehavior._createRipple();
        ripple.id = 'ink';
        ripple.setAttribute('recenters', '');
        ripple.classList.add('circle', 'toggle-ink');
        return ripple;
      }

    });
  </script>
</dom-module>
