<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="device-socket-data">
  <script>
    class DeviceSocketData extends Polymer.Element {

      static get is() {
        return 'device-socket-data'
      }

      static get properties() {
        return {
          locationHost: {
            type: String,
            value: window.location.origin
          },

          nameSpace: {
            type: String
          },

          socketRoom: {
            type: String,
            observer: 'connect'
          },

          socketStatus: {
            type: String,
            value: 'connect',
            notify: true
          },

          lazyConnect: {
            type: Boolean
          },

          loggedIn: {
            type: Boolean
          }
        }
      }

      static get observers() {
        return [
          '_connect(loggedIn, lazyConnect)'
        ]
      }

      _connect(loggedIn, lazyConnect) {
        if (loggedIn && lazyConnect) {
          this._createSocketConnection(this.locationHost, this.nameSpace);
        } else {
          this.socketStatus = 'sync-problem';
          Webvisual.disconnect();
        }
      }

      _createSocketConnection(locationHost, nameSpace) {
        if (!locationHost || this.socketStatus === 'sync-disabled' || !Webvisual) return;

        setTimeout(() => {
          Webvisual.assignStatusNotifications(this);
          Webvisual.createSocketConnection(locationHost, nameSpace);

          if (this.socketRoom) {
            this.connect(this.socketRoom);
          }
        }, 0)
      }

      connect(socketRoom) {
        socketRoom = socketRoom || this.socketRoom;

        if (!socketRoom) {
          this.socketStatus = 'sync-problem';
          return;
        }
        if (socketRoom.substring(0, 1) === '/') {
          socketRoom = socketRoom.slice(1, socketRoom.length);
        }
        Webvisual.setupConnection(socketRoom);
        if (this.socketStatus !== 'connected') {
          this.socketStatus = 'connect';
        }
      }

      disconnect() {
        this.socketStatus = 'sync-disabled';
        Webvisual.disconnect();
      }

    }
    customElements.define(DeviceSocketData.is, DeviceSocketData);
  </script>
</dom-module>
