<link rel="import" href="../../bower_components/polymer/polymer.html">
<script type="text/javascript" src="../../scripts/client.js"></script>

<dom-module id="device-socket-data">
  <script>
    Polymer({

      is: 'device-socket-data',

      properties: {

        locationHost: {
          type: String,
          value: window.location.origin
        },

        nameSpace: {
          type: String
        },

        socketRoom: {
          type: String,
          observer: 'connect'
        },

        socketStatus: {
          type: String,
          value: 'connect',
          notify: true
        },

        lazyConnect: {
          type: Boolean
        },

        loggedIn: {
          type: Boolean
        },

        offline: {
          type: Boolean
        }

      },

      observers: [
        '_connect(loggedIn, offline, lazyConnect)'
      ],

      _connect: function(loggedIn, offline, lazyConnect) {
        // if (loggedIn && !offline && lazyConnect) {
          this._createSocketConnection(this.locationHost, this.nameSpace);
        // } else {
        //   this.socketStatus = 'sync-problem';
        //   Webvisual.disconnect();
        // }
      },

      _createSocketConnection: function(locationHost, nameSpace) {
        if (!locationHost || this.socketStatus === 'sync-disabled') return;

        Webvisual.assignStatusNotifications(this);
        Webvisual.createSocketConnection(locationHost, nameSpace);

        if (this.socketRoom) {
          if (this.socketRoom.substring(0, 1) === '/') {
            this.socketRoom = this.socketRoom.slice(1, this.socketRoom.length);
          }
          this.connect();
        }
      },

      connect: function(socketRoom) {
        socketRoom = socketRoom || this.socketRoom;

        if (!socketRoom) {
          this.socketStatus = 'sync-problem';
          return;
        }
        if (socketRoom.substring(0, 1) === '/') {
          socketRoom = socketRoom.slice(1, socketRoom.length);
        }
        Webvisual.setupConnection(socketRoom);
        if (this.socketStatus !== 'connected') {
          this.socketStatus = 'connect';
        }
      },

      disconnect: function() {
        this.socketStatus = 'sync-disabled';
        Webvisual.disconnect();
      }

    });
  </script>
</dom-module>
