<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/fetch-mixin.html">

<dom-module id="facility-data">
  <script>
    class FacilityData extends WebvisualMixins.FetchMixin(Polymer.Element) {

      static get is() {
        return 'facility-data'
      }

      static get properties() {
        return {
          urlPrefix: {
            type: String,
            value: '/data/'
          },

          room: {
            type: String
          },

          facilityName: {
            type: String
          },

          systemName: {
            type: String
          },

          itemName: {
            type: String
          },

          facilities: {
            type: Array,
            notify: true
          },

          facility: {
            type: Object,
            notify: true
          },

          system: {
            type: Object,
            notify: true
          },

          items: {
            type: Array,
            notify: true
          },

          loggedIn: {
            type: Boolean,
            notify: true
          },

          offline: {
            type: Boolean,
            value: true
          }
        }
      }

      static get observers() {
        return [
          '_computeFacilityList(loggedIn, offline)',
          '_computeNames(room)',
          '_computeFacility(facilities, facilityName)',
          '_computeSystem(facility, systemName)',
          '_computeItems(system)'
        ]
      }

      _computeFacilityList(loggedIn, offline) {
        if (loggedIn || offline) {
          this._fetch('facilities.json', 'GET', 'include', 'json', 'facilities')
            .catch(err => {
              console.log(err);
            });
        }
      }

      _computeNames(room) {
        if (room) {
          var names = room.split('/').filter(function(str) {
            return str !== '';
          });
          if (names.length === 2) {
            setTimeout(() => {
              this.setProperties({
                facilityName: names[0],
                systemName: names[1]
              });
            }, 0)
          }
        }
      }

      _computeFacility(facilities, facilityName) {
        if (facilities && facilityName) {
          this._getNamedArrayItem(facilities, facilityName)
            .then(facility => {
              if (!(this.facility && this._equals(facility, this.facility))) {
                this.set('facility', facility);
              }
            })
            .catch(e => {
              this.dispatchEvent(new CustomEvent('empty-configuration', {
                bubbles: true,
                composed: true
              }));
            })
        }
      }

      _computeSystem(facility, systemName) {
        if (facility && facility.systems && systemName) {
          this._getNamedArrayItem(facility.systems, systemName)
            .then(system => {
              if (!(this.system && this._equals(system, this.system))) {
                this.set('system', system);
              }
            })
            .catch(e => {
              this.dispatchEvent(new CustomEvent('empty-configuration', {
                bubbles: true,
                composed: true
              }));
            })
        }
      }

      _computeItems(system) {
        var color = '';
        if (system && system.items && system.items.length) {
          for (var i = 0; i < system.items.length; i++) {
            if (!system.items[i].color) {
              // set custom colors
              color = '#';
              var perm = ['2C', 'F5'];
              perm.push((4 * Math.floor(Math.random() * 64)).toString(16));
              for (var j = 3; j > 0; j--) {
                var pos = Math.floor(Math.random() * j);
                color += ((perm[pos].length === 1) ? '0' : '') + perm[pos];
                perm.splice(pos, 1);
              }
              system.items[i].color = color;
            }
          }
          this.set('items', system.items);
        }
      }

      _getNamedArrayItem(arr, name) {
        return new Promise((resolve, reject) => {
          if (!arr || !name)
            reject('empty');
          for (var i = 0, c; c = arr[i]; ++i) {
            if (c.name === name) {
              resolve(c);
            }
          }
          reject('not existing');
        });
      }
    }
    customElements.define(FacilityData.is, FacilityData);
  </script>

</dom-module>
