<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="group-data">

  <script>
  (function() {

    Polymer({

      is: 'group-data',

      properties: {

        urlPrefix: {
          type: String
        },

        loggedIn: {
          type: Boolean
        },

        facilitySystem: {
          type: String
        },

        groupedKey: {
          type: String,
          notify: true,
          observer: '_groupedKeyChanged'
        },

        groupingKeys: {
          type: Array,
          value: function() { return []; },
          notify: true,
          observer: '_groupingKeysChanged'
        },

        groups: {
          type: Array,
          value: function() { return []; },
          notify: true
        },

        subgroups: {
          type: Array,
          computed: '_computeSubGroups(groups, groupedKey)',
          notify: true
        }

      },

      observers: [
        '_fetchGroups(facilitySystem, loggedIn)'
      ],

      _fetchGroups: function(facilitySystem, loggedIn) {
        if (!facilitySystem) return;

        var names = facilitySystem.split('/')
                         .filter(function (str) { return str !== ''; });
        if (names.length === 2) {
          this._groupUri = names[0] + '+' + names[1];
          this.debounce('group-data', function() {
            this._request(this._groupUri, 'groups');
            this._request(this._groupUri, 'groupingKeys');
          }.bind(this), 200);
        }
      },

      _computeSubGroups: function(groups, groupedKey) {
        if (groups && groupedKey) {
          for (var i = 0, group; group = groups[i]; ++i) {
            if (group.key === groupedKey) {
              return group.groups;
            }
          }
        }
        return [];
      },

      _request: function(groupUri, request, attempts) {
        if (!(groupUri && request)) {
          return;
        }
        var prefix = this.urlPrefix || '/data/';
        this._getResource({
          url: prefix + groupUri + '+' + request + '.json',
          onLoad: function(e) {
            if (e.target.status < 400) {
              this.set(request, JSON.parse(e.target.responseText));
              // localStorage.setItem(request, e.target.responseText);
            } else {
              // var items = localStorage.getItem(request);
              // if (items)
              //   this.set(request, JSON.parse(items));
            }
          },
          onError: function(e) {
            // var items = localStorage.getItem(request);
            // if (items)
            //   this.set(request, JSON.parse(items));
          }
        }, attempts);
      },

      _getResource: function(rq, attempts) {
        if (!rq) {
          return;
        }
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', rq.onLoad.bind(this));
        xhr.addEventListener('error', function(e) {
          console.log(e.target.status);
          // Flaky connections might fail fetching resources
          if (attempts > 1) {
            this.debounce('_getResource', this._getResource.bind(this, rq, attempts - 1), 200);
          } else {
            rq.onError.call(this, e);
          }
        }.bind(this));

        xhr.open('GET', rq.url);
        xhr.withCredentials = true;
        xhr.send();
      },

      _groupingKeysChanged: function(groupingKeys) {
        if (!(groupingKeys && groupingKeys.length)) {
          return;
        }
        var prefix = this.urlPrefix || '/data/';
        var groupedKey = localStorage.getItem('groupedKey');
        if (groupedKey && groupedKey in this.groupingKeys) {
          this.set('groupedKey', groupedKey);
        } else if (this._groupUri) {
          var URL = prefix + this._groupUri + '+preferedGroupingKey.json';
          this._getResource({
            url: URL,
            onLoad: function(e) {
              if (e.target.status < 400) {
                this.set('groupedKey', JSON.parse(e.target.responseText));
              }
            },
            onError: function(e) {
              console.log(e);
            }
          });
        }
      },

      _groupedKeyChanged: function(groupedKey, old) {
        if (groupedKey) {
          localStorage.setItem('groupedKey', groupedKey);
        }
      }

    });

  })();
  </script>

</dom-module>
