<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/webvisual-elements/login/accessibility-mixin.html" />
<link rel="import" href="../../bower_components/webvisual-elements/mixins/fetch-mixin.html" />

<dom-module id="group-data">

  <script>
    class GroupData extends WebvisualMixins.AccessibilityMixin(WebvisualMixins.FetchMixin(Polymer.Element)) {

      static get is() {
        return 'group-data'
      }

      static get properties() {
        return {

          urlPrefix: {
            type: String,
            value: '/data/'
          },

          room: {
            type: String,
            observer: '_load'
          },

          groupBy: {
            type: String,
            notify: true,
            observer: '_groupByChanged'
          },

          groupingKeys: {
            type: Array,
            value: function() {
              return [];
            },
            notify: true,
            observer: '_groupingKeysChanged'
          },

          groups: {
            type: Array,
            value: function() {
              return [];
            },
            notify: true
          },

          subgroups: {
            type: Array,
            computed: '_computeSubGroups(groups, groupBy)',
            notify: true
          }
        }
      }

      _load() {
        super._load();
        if (!this.room) return;

        const names = this.room.split('/')
          .filter(function(str) {
            return str !== '';
          });
        if (names.length === 2) {
          this.roomUri = names[0] + '+' + names[1];
          Promise.all([
            this._fetch(this.roomUri + '+groups.json', 'GET', 'include', 'json', 'groups'),
            this._fetch(this.roomUri + '+preferedGroupingKey.json', 'GET', 'include', 'json', 'groupBy'),
            this._fetch(this.roomUri + '+groupingKeys.json', 'GET', 'include', 'json', 'groupingKeys')])
            .catch(err => {
              console.log(err);
            });
        } else {
          this.dispatchEvent(new CustomEvent('data-error', {
            bubbles: true,
            composed: true,
            detail: 'Room is not defined'
          }));
        }
      }

      _computeSubGroups(groups, groupBy) {
        if (!(groups === undefined && groupBy === undefined)) {
          let group;
          for (let i = 0; (group = groups[i]); ++i) {
            if (group.key === groupBy) {
              return group.groups;
            }
          }
        }
        return [];
      }

      _groupingKeysChanged(groupingKeys) {
        if (!(groupingKeys && groupingKeys.length)) {
          return;
        }
        const groupBy = localStorage.getItem('groupBy');
        setTimeout(() => {
          if (groupBy !== undefined && groupingKeys.indexOf(groupBy) !== -1) {
            this.set('groupBy', groupBy);
          } else if (this.roomUri) {
            this._fetch(this.roomUri + '+preferedGroupingKey.json', 'GET', 'include', 'json', 'groupBy', true)
              .catch(err => {
                console.log(err);
              });
          }
        }, 0);
      }

      _groupByChanged(groupBy) {
        if (groupBy === undefined) return;
        if (this.groupBy === '' && this.groupingKeys && this.groupingKeys.length) {
          this.groupBy = this.groupingKeys[0];
        }
        localStorage.setItem('groupBy', this.groupBy);
      }
    }
    customElements.define(GroupData.is, GroupData);
  </script>

</dom-module>
