<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/fetch-behavior.html"/>

<dom-module id="group-data">

  <script>
  (function() {

    Polymer({

      is: 'group-data',

      behaviors: [
        WebvisualBehaviors.FetchBehavior
      ],

      properties: {

        urlPrefix: {
          type: String,
          value: '/data/'
        },

        loggedIn: {
          type: Boolean
        },

        room: {
          type: String
        },

        groupedKey: {
          type: String,
          notify: true,
          observer: '_groupedKeyChanged'
        },

        groupingKeys: {
          type: Array,
          value: function() { return []; },
          notify: true,
          observer: '_groupingKeysChanged'
        },

        groups: {
          type: Array,
          value: function() { return []; },
          notify: true
        },

        subgroups: {
          type: Array,
          computed: '_computeSubGroups(groups, groupedKey)',
          notify: true
        }

      },

      observers: [
        '_fetchGroups(room, loggedIn)'
      ],

      _fetchGroups: function(room, loggedIn) {
        if (!room) return;

        var names = room.split('/')
                         .filter(function (str) { return str !== ''; });
        if (names.length === 2) {
          this.roomUri = names[0] + '+' + names[1];
          this.debounce('group-data', function() {
            this._fetch(this.roomUri + '+groups.json', 'GET', 'include', 'json', 'groups')
                .catch( function(statusCode, statusText) {
                  console.log(statusCode, statusText);
                });
            this._fetch(this.roomUri + '+groupingKeys.json', 'GET', 'include', 'json', 'groupingKeys')
                .catch( function(statusCode, statusText) {
                  console.log(statusCode, statusText);
                });
          }.bind(this), 200);
        } else {
          this.fire('data-error', 'Room not defined');
        }
      },

      _computeSubGroups: function(groups, groupedKey) {
        if (groups && groupedKey) {
          for (var i = 0, group; group = groups[i]; ++i) {
            if (group.key === groupedKey) {
              return group.groups;
            }
          }
        }
        return [];
      },

      _groupingKeysChanged: function(groupingKeys) {
        if (!(groupingKeys && groupingKeys.length)) {
          return;
        }
        var groupedKey = localStorage.getItem('groupedKey');
        this.async( function() {
          if (groupedKey && groupingKeys.indexOf(groupedKey) !== -1) {
            this.set('groupedKey', groupedKey);
          } else if (this.roomUri) {
            this._fetch(this.roomUri + '+preferedGroupingKey.json', 'GET', 'include', 'json', 'groupedKey', true)
                .catch( function(statusCode, statusText) {
                  console.log(statusCode, statusText);
                });
          }
        });
      },

      _groupedKeyChanged: function(groupedKey, old) {
        if (groupedKey) {
          localStorage.setItem('groupedKey', groupedKey);
        }
      }

    });

  })();
  </script>

</dom-module>
