<script src="../../scripts/client.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/accessibility-mixin.html">

<dom-module id="socket-connnector">
  <script>
    class SocketConnector extends WebvisualMixins.AccessibilityMixin(Polymer.Element) {

      static get is() {
        return 'socket-connector'
      }

      static get properties() {
        return {
          locationHost: {
            type: String,
            value: window.location.origin
          },

          nameSpace: {
            type: String
          },

          socketRoom: {
            type: String,
            observer: 'connect'
          },

          socketStatus: {
            type: String,
            notify: true
          }
        }
      }

      _load() {
        super._load();
        if (this.offline || !this.loggedIn) {
          return;
        }
        // console.log('socket-connector load');
        if (this.socketStatus !== 'sync-disabled') {
          this._createSocketConnection(this.locationHost, this.nameSpace);
        }
      }

      _createSocketConnection(locationHost, nameSpace) {
        if (!locationHost || this.socketStatus === 'sync-disabled' || !Webvisual) return;

        // console.log('_createSocketConnection');

        Webvisual.assignConnector(this);
        Webvisual.createSocketConnection(locationHost, nameSpace);

        if (this.socketRoom) {
          this.connect(this.socketRoom);
        }
      }

      connect(socketRoom) {
        // console.log(socketRoom, old);
        if (!socketRoom) {
          this.socketStatus = 'sync-problem';
          return;
        }
        if (socketRoom.substring(0, 1) === '/') {
          socketRoom = socketRoom.slice(1, socketRoom.length);
        }
        // if (this.socketStatus !== 'connect') {
          // console.log('connect', this.socketStatus);
          this.socketStatus = 'connect';
          Webvisual.setupConnection(socketRoom);
        // }
      }

      disconnect() {
        this.socketStatus = 'sync-disabled';
        Webvisual.disconnect();
      }

    }
    customElements.define(SocketConnector.is, SocketConnector);
  </script>
</dom-module>
