<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../mixins/fetch-mixin.html" />

<dom-module id="svg-data">

  <script>
    class SVGData extends WebvisualMixins.FetchMixin(Polymer.Element) {

      static get is() {
        return 'svg-data'
      }

      static get properties() {
        return {
          urlPrefix: {
            type: String,
            value: '/data/'
          },

          loggedIn: {
            type: Boolean
          },

          room: {
            type: String
          },

          data: {
            type: Object,
            value: function() {
              return {};
            },
            notify: true
          }
        }
      }

      static get observers() {
        return [
          '_fetchSvgSource(room, loggedIn)'
        ]
      }

      _fetchSvgSource(room) {
        if (!room) return;

        const names = room.split('/')
          .filter(function(str) {
            return str !== '';
          });
        if (names.length === 2) {
          const url = names[0] + '+' + names[1] + '+svgSource.json';
          this._fetch(url, 'GET', 'include', 'json', 'data')
            .catch(err => {
              console.log(err);
            });
        } else {
          this.dispatchEvent(new CustomEvent('data-error', {
            bubbles: true,
            composed: true,
            detail: 'Failed to load svg-data'
          }));
        }
      }
    }
    customElements.define(SVGData.is, SVGData);
  </script>

</dom-module>
