<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/fetch-behavior.html">

<dom-module id="svg-data">

  <script>
  (function() {

    Polymer({

      is: 'svg-data',

      behaviors: [
        WebvisualBehaviors.FetchBehavior
      ],

      properties: {

        urlPrefix: {
          type: String,
          value: '/data/'
        },

        loggedIn: {
          type: Boolean
        },

        room: {
          type: String
        },

        data: {
          type: Object,
          value: function() { return {}; },
          notify: true
        }
      },

      observers: [
        '_fetchSvgSource(room, loggedIn)'
      ],

      _fetchSvgSource: function(room, loggedIn) {
        if (!room) return;

        var facilityName, systemName;
        var names = room.split('/')
                         .filter(function (str) { return str !== ''; });
        if (names.length === 2) {
          var url = names[0] + '+' + names[1] + '+svgSource.json';
          this.debounce('svg-data', function() {
            this._fetch(url, 'GET', 'include', 'json', 'data');
          }.bind(this), 25);
        } else {
          this.fire('data-error', 'Failed to load svg-data');
        }
      }

    });

  })();
  </script>

</dom-module>
