<link rel="import" href="../../bower_components/polymer/polymer.html">
<script type="text/javascript" src="../../scripts/webvisual-client.js"></script>

<dom-module id="webvisual-element-socket-data">
  <script>
    Polymer({

      is: 'webvisual-element-socket-data',

      properties: {

        locationHost: {
          type: String,
          value: window.location.origin
        },

        socketName: String,

        socketRoom: {
          type: String,
          observer: '_setupConnection'
        },

        lazyConnect: Boolean

      },

      observers: [
        '_createSocketConnection(lazyConnect, locationHost, socketName)'
      ],

      _createSocketConnection: function(lazyConnect, locationHost, socketName) {
        if (!lazyConnect || !locationHost || !socketName) return;

        Webvisual.createSocketConnection(locationHost, socketName);

        if (this.socketRoom) {
          if (this.socketRoom.substring(0, 1) === '/') {
            this.socketRoom = this.socketRoom.slice(1, this.socketRoom.length);
          }
          this._setupConnection(this.socketRoom);
        }
      },

      _setupConnection: function(socketRoom) {
        if (socketRoom.substring(0, 1) === '/') {
          socketRoom = socketRoom.slice(1, socketRoom.length);
        }
        Webvisual.setupConnection(socketRoom);
      }

    });
  </script>
</dom-module>
