<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="webvisual-facility-data">

  <script>
  (function() {

    Polymer({

      is: 'webvisual-facility-data',

      properties: {

        urlPrefix: String,

        facilitySystem: String,

        facilityName: String,

        systemName: String,

        itemName: String,

        facilities: {
          type: Array,
          notify: true
        },

        facility: {
          type: Object,
          notify: true
        },

        system: {
          type: Object,
          notify: true
        },

        items: {
          type: Array,
          notify: true
        },

        failure: {
          type: Boolean,
          notify: true,
          readOnly: true
        },

        loggedIn: {
          type: Boolean,
          notify: true
        },

        offline: Boolean
      },

      observers: [
        '_computeLoggedIn(offline)',
        '_computeFacilityList(loggedIn)',
        '_computeNames(facilitySystem)',
        '_computeFacility(facilities, facilityName)',
        '_computeSystem(facility, systemName)',
        '_computeItems(system)'
      ],

      _computeLoggedIn: function(offline) {
        // if (!offline) {
          this.async( function() {
            this._testLoggedIn()
                .then( function() {
                  this.loggedIn = true;
                }.bind(this))
                .catch( function() {
                  this.loggedIn = false
                }.bind(this));
          }.bind(this));
        // }
      },

      _computeFacilityList: function(loggedIn) {
        this.async( function() {
          // var facilities = localStorage.getItem('facilities');
          // if (facilities)
          //   this.set('facilities', JSON.parse(facilities));
          var prefix = this.urlPrefix || '/data/';
          this._fetchFacilityList(prefix)
              .then(function(facilities) {
                this.set('facilities', facilities);
                // localStorage.setItem('facilities',  JSON.stringify(facilities));
              }.bind(this))
              .catch(function(status) {
                console.log('Server answered ', status);
              }.bind(this));
        }.bind(this));
      },

      _computeNames: function(facilitySystem) {
        if (facilitySystem) {
          var names = facilitySystem.split('/')
                           .filter(function (str) { return str !== ''; });
          if (names.length === 2) {
            this.async( function() {
              this.set('facilityName', names[0]);
              this.set('systemName', names[1]);
            }.bind(this), 1)
          }
        }
      },

      _computeFacility: function(facilities, facilityName) {
        if (facilities && facilityName) {
          this.async( function() {
            this._getNamedArrayItem(facilities, facilityName)
                .then(function(facility) {
                  this.set('facility', facility);
                  // localStorage.setItem('facility', JSON.stringify(facility));
                }.bind(this))
                .catch(function(e) {
                  console.log(e);
                  // var facility = localStorage.getItem('facility');
                  // if (facility)
                  //   this.set('facility', JSON.parse(facility));
                }.bind(this))
          }.bind(this));
        }
      },

      _computeSystem: function(facility, systemName) {
        // console.log('system', facility, systemName);
        if (facility && facility.systems && systemName) {
          this.async( function() {
            this._getNamedArrayItem(facility.systems, systemName)
                .then(function(system) {
                  this.set('system', system);
                  // localStorage.setItem('system', JSON.stringify(system));
                }.bind(this))
                .catch(function(e) {
                  console.log(e);
                  // var system = localStorage.getItem('system');
                  // if (system)
                  //   this.set('system', JSON.parse(system));
                }.bind(this))
          }.bind(this) );
        }
      },

      _computeItems: function(system) {
        // console.log('items', system);
        var color = '';
        if (system && system.items) {
          for (var i = 0; i < system.items.length; i++) {
            if (!system.items[i].color && !system.items[i].isIndicatorLamp) { // custom colors
              color = '#';
              var perm = ['2C', 'F5'];
              perm.push((4 * Math.floor(Math.random() * 64)).toString(16));
              for (var j = 3; j > 0; j--) {
                var pos = Math.floor(Math.random() * j);
                color += ((perm[pos].length === 1) ? '0' : '') + perm[pos];
                perm.splice(pos, 1);
              }
              system.items[i].color = color;
            }
          }
          this.set('items', system.items);
          // console.log(system.items);
        } else {
          // var items = localStorage.getItem('items');
          // if (items)
          //   this.set('items', JSON.parse(items));
        }
      },

      _fetchFacilityList: function(urlPrefix) {
        return new Promise( function(resolve, reject) {
          try {
            var xhr = new XMLHttpRequest();
            xhr.addEventListener('load', function(e) {
              if ( e.target.status >= 400 ) {
                reject(e.target.status);
              }
              else {
                resolve( JSON.parse(e.target.responseText) );
              }
            });
            xhr.addEventListener('error', function(e) {
              reject(e.target.status);
            });
            xhr.open('GET', (urlPrefix || '') + 'facilities.json');
            xhr.withCredentials = true;
            xhr.send();
          } catch (err) {
            reject(err);
          }
        })
      },

      _testLoggedIn: function() {
        return new Promise(function (resolve, reject) {
          var xhr = new XMLHttpRequest();
          xhr.addEventListener('load', function(e) {
            if (e.target.status === 200) {
              //console.log(e.target.status, e.target.response);
              resolve();
            } else {
              reject(e.target.status);
            }
          }.bind(this));
          xhr.addEventListener('error', function(e) {
            reject(e.target.status);
          }.bind(this));
          xhr.open('GET', '/auth');
          xhr.withCredentials = true;
          xhr.send();
        });
      },

      _getNamedArrayItem: function(arr, name) {
        return new Promise( function(resolve, reject) {
          if (!arr || !name)
            reject('empty');
          for (var i = 0, c; c = arr[i]; ++i) {
            if (c.name === name) {
              resolve(c);
            }
          }
          // reject('not in array\n' + name + '\n' + JSON.stringify(arr));
        });
      },

      refresh: function() {
        if (this.facilityName && this.systemName) {
          // Try at most 3 times to get the items.
          this._computeItems(this.facilityName, this.systemName, 3);
        }
      }

    });

  })();
  </script>

</dom-module>
