<dom-module id="data-socket-repeater">
  <script>
    if (!svgSource)
      var svgSource = {};

    Polymer({
      is: 'data-socket-repeater',

      properties: {
          socketName: {
            type: String,
            value: "/data"
          },
          socketId: {
            type: String
          },
          config: {
            type: Object,
            value: function() {
              return {  "label": "",
                        "firstPattern": {
                          "query": {},
                          "time": { "from": ""},
                          "limit": -10
                        },
                        "appendPattern": {
                          "query": {},
                          "time": { "from": "" },
                          "limit": 0
                        }};
              }
          },
          data: {
            type: Array,
            value: function() { return []; },
            notify: true
          },
          paths: {
            type: Object,
            value: function() { return {}; },
            notify: true
          },
          exceeding: {
            type: Array,
            value: function() { return []; },
            notify: true
          },
          labels: {
            type: Array,
            value: function() { return []; },
            notify: true
          },
          availableLabels: {
            type: Array,
            value: function() { return []; },
            notify: true
          },
          groupingKeys: {
            type: Object,
            value: function() { return {}; },
            notify: true
          },
          preferedGroupingKeys: {
            type: Object,
            value: function() { return {}; },
            notify: true
          },
          status: {
            type: Object,
            value: function() { return {"message": "...",
                                        "time": {
                                          "lastData": 0,
                                          "lastStatus": 0,
                                          "lastMistake": 0,
                                          "lastError": 0
                                        }}; },
            notify: true
          },
          maxTotalLines: {
            type: Number,
            observer: '_maxTotalLinesChanged',
            value: 100
          },
          maxLines: {
            type: Number,
            value: function() { return this.maxTotalLines; }
          },
          interval: {
            type: Number,
            value: 0
          },
          doAppend: {
            type: Boolean,
            value: true,
            reflectToAttribute: true
          },
          newestDataFirst: {
            type: Boolean,
            value: true,
            reflectToAttribute: true
          },
          isExceeding: {
            type: Boolean,
            value: false,
            notify: true
          },
          opened: {
            type: Boolean,
            value: false
          }
      },

      ready: function(){
        this.socket = io.connect('https://'+window.location.host+this.socketName, {secure: true, multiplex: true});
        this.set("status.time.lastStatus",new Date()); this.set("status.message", "connecting to "+window.location.host);
        var self = this;
        // Connect
        this.socket.on('connect', function() {
          self.set("status.time.lastStatus", new Date()); self.set("status.message", "connected to: "+window.location.host);
          console.info("client connected to: "+window.location.host);
        });
        // Init connection
        this.socket.on('init', function(config, socketId) {
          self._init();
          self.set("availableLabels", config.labels);
          if (!self.opened) {
            self.set('paths', config.paths);
            self.set('data', config.dataStructure);
            self.set('groupingKeys', config.groupingKeys);
            self.set('preferedGroupingKeys', config.preferedGroupingKeys);
            if (config.svg)
              self._loadSvgSources(config.svg);
          } else {
            self.connect();
          }
        });
        // Receive Data
        this.socket.on('update', function(message) {
          self.set("status.message", "receiving data");
          self.async(function() {
            self._onData(message);
          });
        });
        // Disconnect
        this.socket.on('disconnect', function() {
          self.set("status.time.lastError", new Date());
          console.warn("client disconnected to: "+window.location.host);
        });
        // Reconnect
        this.socket.on('reconnect', function() {
          self.set("status.time.lastStatus", new Date());
          console.info("client reconnected to: "+window.location.host);
        });
        // Disconnect
        this.socket.on('connect_error', function() {
          self.set("status.time.lastError", new Date());
          console.warn("error in connection to: "+window.location.host);
        });
      },

      connect: function() {
        // send Config
        this.set("status.time.lastStatus",new Date()); this.set("status.message", "configuring connection");

        // Setting Configuration Request Pattern Array
        var config = { labels: this.labels, patterns: [] };
        // this.set("config.firstPattern.time.from",new Date()-72000000);
        // for (var i=0; i<this.labels.length; i++) {
        //   options.patterns.push({label: this.labels[i],
        //                 firstPattern: this.config.firstPattern,
        //                 appendPattern: this.config.appendPattern});
        // }
        this.socket.emit('init', config);
      },

      reconnect: function() {
        this.socket.disconnect();
        this.socket = io.connect('https://'+window.location.host+this.socketName, {secure: true, multiplex: false});
        this.set("status.time.lastStatus",new Date()); this.set("status.message", "connecting to "+window.location.host);
        var self = this;
        this.socket.on('clientConfig', function(message) {
          self.set("availableLabels", message.labels);
        });
        this.connect();
      },

      disconnect: function() {
        if (this.socket){
          this.socket.disconnect();
          this._init();
          this.opened = false;
        }
      },

      _init: function() {
        // this._removeAllExceedingElements();
      },

      _loadSvgSources: function(sources) {
        var xhttp = [];
        var req;
        for (var id in sources) {
          // import svg
          // prevents multible reloading after creation time
          svgSource[id] = {selectable: sources[id].selectable};
          req = new XMLHttpRequest();
          req.onreadystatechange = function(name) {
              if (this.readyState === 4 && this.status === 200) {
                svgSource[name].node = this.responseXML.documentElement;
              }
          }.bind(req, id);
          req.open("GET", sources[id].src, true);
          req.send();
          xhttp.push(req);
        }
      },

      _onData: function(message) {
        if(message === undefined) { // Check the Existence
          this.set("status.time.lastError", new Date()); console.warn("socket: received undefined message"); return;
        }
        if (Array.isArray(message)) // if message is an Array
          for (var mesId=0; mesId < message.length; mesId++)
            this._setValues(message[mesId]);
        else  // if message is a single Object
          this._setValues(message);
        if (!this.opened ) {
          this.set("status.time.lastStatus", new Date()); this.set("status.message", "loaded");
          this.fire("loaded");
          this.opened = true;
        }
      },

      _setValues: function(message) {
        if(!message.content)
          return;
        var path, values;
        for (var i=0; i < message.content.length; i++) {
          if(message.content[i].id) {
            path = this.paths[message.label][this.preferedGroupingKeys[message.label]][message.content[i].id];
            // console.log(message.label,message.content[i].id,path);
            if (path) {
              values = this.get(path);
              if (!this.doAppend)
                this.splice(path, 0, values.length);
              if (this.newestDataFirst) {
                for (var j = 0; j < message.content[i].values.length; j++) {
                  this.unshift(path, message.content[i].values[j]);
                  this._checkIfExceedingStateHasToBeSet(path, message.content[i].values[j].state);
                }
              }
              else {
                for (var j = message.content[i].values.length-1; j >=0; j--) {
                  this.unshift(path, message.content[i].values[j]);
                  this._checkIfExceedingStateHasToBeSet(path, message.content[i].values[j].state);
                }
              }
              if (values.length > this.maxLines)
                this.splice(path, this.maxLines, values.length - this.maxLines);
            }
          }
        }
        // if (messageContent.lastExceeds)
        //   this.set('groups.' + labelindex + '.groups.' + a + '.subgroup.' + b + '.elements.' + c + '.values', messageContent.lastExceeds);
      },

      _checkIfExceedingStateHasToBeSet: function(path, state) {
        path = path.slice(0,-7);
        var item = this.get(path);
        if (item.isExceeding === undefined || item.isExceeding === null)
          this.set(path + ".isExceeding", false);

        if (state === null) {
          if(item.isExceeding === true) {
            this.set(path + ".isExceeding", false);
            this.push(path + ".lastExceeds", item.values[1]);
          }
        }
        else if (state === true || state === false) {
          if(item.isExceeding === false) {
            this.set(path + ".isExceeding", true);
            this.push(path + ".firstExceeds", item.values[0]);
          }
          if(Polymer.Collection.get(this.exceeding).getKey(item) === undefined) {
            this.push('exceeding', item);
            var key = Polymer.Collection.get(this.exceeding).getKey(item);
            this.linkPaths('exceeding.' + key, path.replace('data.','data.#').replace('groups.','groups.#').replace('subgroup.','subgroup.#').replace('elements.','elements.#'));
            this.set("isExceeding", true);
            this.set(path + ".isExceeding", true);
          }
        }
      },

      _removeExceedingElement: function(path) {
        var item = this.get(path);
        var key = Polymer.Collection.get(this.exceeding).getKey(item);
        if(item && key) {
          this.unlinkPaths('exceeding.' + key);
          this.arrayDelete('exceeding', item);
          if (this.exceeding.length === 0)
            this.set("isExceeding", false);
        }
      },

      _removeAllExceedingElements: function(all) {
        // @all - if false, only elements will be removed,
        //        if there are not of the selected Labels from select-page
        if (all != false)
          all = true;

        var items = Polymer.Collection.get(this.exceeding).getItems();
        for (var i=0; i < items.length; i++) {
          if (all || this.labels.indexOf(items[i].label) === -1) {
            var key = Polymer.Collection.get(this.exceeding).getKey(items[i]);
            if(key) {
              this.unlinkPaths('exceeding.' + key);
              this.arrayDelete('exceeding', items[i]);
            }
          }
          if (this.exceeding.length === 0)
            this.set("isExceeding",false);
        }
      },

      _maxTotalLinesChanged: function(newValue, oldValue) {
        // to enshure, that a change doesn't overload the cache heaps
        var newValue = parseInt(newValue);
        if (newValue && this.data && newValue>0){
          this.maxLines = newValue;
          for (var labelindex=0; labelindex < this.availableLabels.length; labelindex++) {
            for (var i=0; i < this.availableLabels[labelindex].length; i++) {
              if (this.groups[labelindex].groups[a].subgroup[b].elements[c].values.length > newValue)
                this.splice('groups.' + labelindex + '.groups.' + a + '.subgroup.' + b + '.elements.' + c + ".values", newValue,this.data[labelindex][i].values.length);
            }
          }
        }
        else
          this.maxTotalLines = oldValue;
      }
    });
  </script>
</dom-module>
