<dom-module id="loading-page">
  <style>
    :host {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      @apply(--bright-theme-in-dark-context);
    }
    :host[dark] {
      @apply(--dark-theme-in-dark-context);
    }
    #background {
      @apply(--primary-color-background);
    }
    #background[dark] {
      @apply(--dark-color-background);
    }

    #mainContent {
      box-sizing: border-box;
      padding: 1.5em 1.5em 1.5em 1.5em;
      z-index: 0;
      height: 50vh;
      width: 68vw;
      border: none;
    }
    logo-element {
      z-index: inherit;
      height: 100%;
      max-width: 100%;
    }
    circle-element, #messageBox {
      z-index: inherit;
      margin-top: 5vh;
    }
    circle-element {
      height: 18px;
      width: 160px;
    }
  </style>

  <template>
    <section id="background"></section>
    <section id="mainContent">
      <logo-element id="logo"></logo-element>
    </section>
    <section style="position: relative; display: flex; flex-direction: column; align-items: center;">
      <circle-element id="circle"></circle-element>
      <section id="messageBox">[[status.message]]</section>
    </section>
  </template>

  <script>

  Polymer({
      is: 'loading-page',

      behaviors: [Polymer.NeonSharedElementAnimatableBehavior],

      properties: {
        status: {
          type: Object,
          value: function() { return {"message": "...",
                                      "time": {
                                        "lastData": 0,
                                        "lastStatus": 0,
                                        "lastMistake": 0,
                                        "lastError": 0
                                      }}; }
        },
        sharedElements: {
          value: function() {
            return {
              'herologo1': this.$.logo,
              'herologo2': this.$.logo
            }
          }
        },
        animationConfig: {
          value: function() {
            return {
              'entry': [
                {
                  name: 'hero-animation',
                  id: 'herologo1',
                  toPage: this
                },
                {animatable: this.$.circle, type: 'loading'},
                {animatable: this.$.logo, type: 'loading'}
              ],
              'exit': [
                {
                  name: 'hero-animation',
                  id: 'herologo2',
                  fromPage: this
                },
                {
                  name: 'scale-down-animation',
                  node: this.$.background
                }
              ]
            }
          }
        }
      },
      cancelAnimation: function() {
        this.$.circle.cancelAnimation();
        if (this._player) {
          this._player.cancel();
          this._player = null;
        }
        this.fire('neon-animation-finish');
      }
    });
  </script>

</dom-module>
