<script>
  window.WebvisualBehaviors = window.WebvisualBehaviors || {};

    /**
     * Behavior that adds select events and checked attributes
     *
     * @polymerBehavior
     */

  WebvisualBehaviors.CheckedAndSelectBehavior = {

    properties: {

      /**
       * If true, the button is a toggle and is currently in the active state.
       */
      active: {
        type: Boolean,
        value: false,
        notify: true,
        reflectToAttribute: true
      },

      selectable: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      },

      checked: {
        type: Boolean,
        value: false,
        reflectToAttribute: true,
        notify: true,
        observer: 'checkedChanged'
      },

      toggles: {
        type: Boolean,
        value: true
      },

      selectEvent: {
        type: String,
        value: 'item-select'
      }

    },

    checkedChanged: function(checked, old) {
      if (this.selectable) {
        // this.dispatchEvent(new CustomEvent(this.selectEvent, {detail: { item: this.item, value: checked }}), {bubbles: true});
        this.fire(this.selectEvent, { item: this.item, value: checked });
      }
    },

    select: function() {
      if (this.selectable === true) {
        if (this.toggles === true) {
          if (this.checked === true) {
            this.checked = false;
          } else {
            this.checked = true;
          }
          this.active = !this.active;
        } else {
          this.checked = true;
        }
        this.fire('change');
      }
    }
  };
</script>
