<script>
  window.WebvisualBehaviors = window.WebvisualBehaviors || {};

  /**
   * Behavior that sets a custum Element-Color
   *
   * @polymerBehavior
   */

  WebvisualBehaviors.ColorBehavior = {

    observers: [
      'setColor(item.color)'
    ],

    setColor: function(color) {
      // random color if color is not set
      if (color !== undefined) {
        this.updateStyles({'--element-color': color || null});
        if (!this.item.isIndicatorLamp ) {
          this.updateStyles({'--element-state-inrange-color': color || null});
        } else {
          this.updateStyles({'--element-state-inrange-color': null});
        }
      }
      this.updateStyles();
    },

    resetColor: function() {
      this.setColor( this.item ? this.item.color || '' : '' );
    }
  };
</script>
