<script>
  window.WebvisualBehaviors = window.WebvisualBehaviors || {};

  WebvisualBehaviors.ColorBehavior = function(superClass) {
    /**
     * Behavior that sets a custum Element-Color
     *
     * @mixinClass
     * @polymer
     */
    return class extends superClass {

      constructor() {
        super();
        this._createPropertyObserver('item.color', 'setColor', true);
        this._createPropertyObserver('color', 'setColor', true);
      }

      setColor(color) {
        // random color if color is not set
        if (color !== undefined) {
          this.updateStyles({
            '--device-color': color || null
          });
          if (!this.item.isIndicatorLamp) {
            this.updateStyles({
              '--device-state-inrange-color': color || null
            });
          } else {
            this.updateStyles({
              '--device-state-inrange-color': null
            });
          }
        }
        this.updateStyles();
      }

      resetColor() {
        this.setColor(this.color || (this.item && this.item.color) || '');
      }

      getComputedStyleValue(property) {
        if (window.ShadyCSS) {
          return ShadyCSS.getComputedStyleValue(this, property);
        } else {
          return getComputedStyle(this).getPropertyValue(property);
        }
      }
    }
  }
</script>
