<script src="../../bower_components/fetch/fetch.js"></script>

<script>
  window.WebvisualBehaviors = window.WebvisualBehaviors || {};

  /**
   * Behavior that fetches data from server and saves them optionally
   *
   * @polymerBehavior
   */

  WebvisualBehaviors.FetchBehavior = {

    properties: {

      urlPrefix: {
        type: String,
        value: ''
      },

      saveInLocalStorage: {
        type: Boolean
      }

    },

    _fetch: function(uri, method, cred, type, property, saveInLocalStorage, body) {
      var url = this.urlPrefix + uri;
      var saveInLocalStorage = saveInLocalStorage || this.saveInLocalStorage;

      var options = {
        method: method,
        credentials: cred || 'include',
        body: body
      };

      return fetch(url, options)
        .then(function(res) {
          if (res.status < 400) {
            if (type === 'json') {
              return res.json();
            } else {
              return res.text();
            }
          } else {
            return Promise.reject(res);
          }
        }.bind(this))
        .then(function(data) {
          if (property && data) {
            this.set(property, data);
          }
          if (saveInLocalStorage && property && data) {
            localStorage.setItem(property, data);
          }
          if (type == 'xml' && data) {
            return new window.DOMParser().parseFromString(data, "text/xml")
          }
          return Promise.resolve(data);
        }.bind(this))
        .catch( function(res) {
          if (saveInLocalStorage && property) {
            var items = localStorage.getItem(property);
            if (items)
              this.set(request, items);
          }
          return Promise.reject(res.status, res.statusText);
        }.bind(this))
    }

  };
</script>
