<script>
  window.WebvisualBehaviors = window.WebvisualBehaviors || {};

    /**
     * Behavior that reproduces attributes
     *
     * @polymerBehavior
     */

  WebvisualBehaviors.ReproduceBehavior = {

    properties: {

      item: Object,

      items: {
        type: Array,
        value: function() {
          return [];
        }
      },

      exceeding: {
        type: Array,
        value: function() {
          return [];
        }
      },

      reproduce: Boolean,

      reproductionContainer: String,

      reproductionAttribute: {
        type: String,
        value: 'insertionpoint'
      }

    },

    observers: [
      '_reproductionSelectRepeat(item)',
      '_reproductionMultiSelectRepeat(items.splices)',
      '_reproductionExceedsRepeat(exceeding.splices)'
    ],

    _reproductionSelectRepeat: function(item) {
      if (this.reproduce === false && !item) return;

      var container = (this.reproductionContainer) ? Polymer.dom(this).querySelector('#' + this.reproductionContainer) || Polymer.dom(this) : Polymer.dom(this);

      var elements = Polymer.dom(container).getEffectiveChildNodes().filter(function(el) {
        return el.nodeType === Node.ELEMENT_NODE && el.hasAttribute(this.reproductionAttribute);
      }.bind(this));

      elements.forEach(function(e) {
        e.item = {};
        e.item = item;
      }, this);
    },

    _reproductionMultiSelectRepeat: function(changeRecord) {
      if (this.reproduce === false) return;
      if (changeRecord && changeRecord.indexSplices) {

        var container = (this.reproductionContainer) ? Polymer.dom(this).querySelector('#' + this.reproductionContainer) || Polymer.dom(this) : Polymer.dom(this);

        var reproductionAttribute = this.reproductionAttribute;

        var elements = Polymer.dom(container).getEffectiveChildNodes().filter(function(el) {
          return el.nodeType === Node.ELEMENT_NODE && el.hasAttribute(reproductionAttribute) && !el.hasAttribute('element');
        });

        elements.forEach(function(e) {
          e.notifySplices('items', changeRecord);
        }, this);
      }
    },

    _reproductionExceedsRepeat: function(changeRecord) { // just the containers
      if (this.reproduce === false) return;
      if (changeRecord && changeRecord.indexSplices) {

        var container = (this.reproductionContainer) ? Polymer.dom(this).querySelector('#' + this.reproductionContainer) || Polymer.dom(this) : Polymer.dom(this);

        var containers = Polymer.dom(container).getEffectiveChildNodes().filter(function(el) {
          return el.nodeType === Node.ELEMENT_NODE && el.hasAttribute('container');
        });

        containers.forEach(function(c) {
          c.notifySplices('exceeding', changeRecord);
        }, this);
      }
    }
  };
</script>
