<script>
  window.WebvisualBehaviors = window.WebvisualBehaviors || {};

  WebvisualBehaviors.ScaleBehavior = function(superClass) {
    /**
     * Behavior that adds a scale function using d3 to an element
     *
     * @mixinClass
     * @polymer
     */
    return class extends superClass {

      constructor() {
        super();
      }

      static get properties() {
        return {
          /**
           * Object of keys that define the variables of the values
           *
           * 'key'-property defines the key specifier and the defined Object-value the according properties.
           *    The properties contain:
           *       'type': either 'numeric' or 'date'
           *       'scale': either 'time', 'ln', 'log', 'log₂', 'log₁₀', '√', 'pow'
           *       'coordinate': either 'x' or 'y'
           */
          keys: {
            type: Object,
            value: function() {
              return {
                x: { type: 'date', scale: 'time', coordinate: 'x' },
                y: { type: 'numeric', scale: 'linear', coordinate: 'y' }
              };
            }
          },

          /**
           * the computed objects of scale functions for each key
           */
          scale: {
            type: Object
          },

          /**
           * the object of scale base for each key (only available for 'pow' or 'log')
           * e.g. :
           *  {
           *    y: Math.E
           *  }
           */
          scaleBase: {
            type: Object
          },

          /**
           * domain to scale for each key
           * e.g. :
           *  {
           *    x: [1000000, 5000000],
           *    y: [0, 10]
           *  }
           */
          domain: {
            type: Object
          },

          /**
           * pixel-whise range for each key
           * e.g. :
           *  {
           *    x: [0, width=500],
           *    y: [height=300, 0]
           *  }
           */
          range: {
            type: Object
          }
        }
      }

      static get observers() {
        return [
          '_computeScale(keys, scaleBase)',
          '_rangeChanged(range)',
          '_domainChanged(domain)',
        ]
      }

      _computeScale(keys, base = {}) {
        if (keys === undefined) return;
        var ret = {};
        for (var k in keys) {
          ret[k] = this._createScaleFn(keys[k].scale, base[k]).domain((this.domain && this.domain[k]) || [1,10]).range((this.range && this.range[k]) || [1,10]);
        }
        this.set('scale', ret);
      }

      _updateScale() {
        for (var k in this.scale) {
          this.scale[k].domain((this.domain && this.domain[k]) || [null,null]).range((this.range && this.range[k]) || [null,null]);
        }
      }

      _createScaleFn(scale, base) {
        switch (scale) {
          case 'time':
            return d3.scaleTime();
            break;
          case 'ln':
            return d3.scaleLog().base(Math.E);
            break;
          case 'log':
            return d3.scaleLog().base(base || 1);
            break;
          case 'log₂':
            return d3.scaleLog().base(2);
            break;
          case 'log₁₀':
            return d3.scaleLog().base(10);
            break;
          case '√':
            return d3.scalePow().exponent(0.5);
            break;
          case 'pow':
            return d3.scalePow().exponent(base || 1);
            break;
          default:
            return d3.scaleLinear();
        }
      }

      _domainChanged(domain) {
        if (this.scale === undefined) return;

        for (var key in domain) {
          if (this.scale.hasOwnProperty(key)) {
            this.scale[key].domain(domain[key]);
          }
        }
      }

      _rangeChanged(range) {
        if (this.scale === undefined) return;

        for (var key in range) {
          if (this.scale.hasOwnProperty(key)) {
            this.scale[key].range(range[key]);
          }
        }
      }

      static get _VALID_SCALES() {
        return ['time', 'ln', 'log', 'log₂', 'log₁₀', '√', 'pow'];
      }

      _SCALE_USES_BASE(scale) {
        return scale === 'log' || scale === 'pow';
      }
    }
  }
</script>
